﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading" role="tab" id="headingEleven">
        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
            <h4 class="panel-title">
                <i class="more-less"></i>
                Ambulance
            </h4>
        </a>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">Was an Ambulance called?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.ambulancecalled, GoNyLaw.Helpers.DropDownData.yesno, null, new { @class = "form-control", required = "required", title = "Was an ambulance called after the accident?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="ambulancedetails hidden">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Service Provided</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.ambulance_service, GoNyLaw.Helpers.DropDownData.ambulanceservice, "Service Provided by Ambulance", new { @class = "form-control", required = "required", title = "Service Provided by Ambulance" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Emergency Room Treatment</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.emergency_room, GoNyLaw.Helpers.DropDownData.emergencyroom, "Emergency Room Treatment", new { @class = "form-control", required = "required", title = "Emergency Room Treatment" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Company Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_name, new { @class = "form-control", placeholder = "Prior Accident Attorney Name", required = "required", title = "Attorney Name. Example: Heriberto Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_address, new { @class = "form-control", placeholder = "Ambulance Company's Complete Address", required = "required", title = "Ambulance Company's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_tel, new { @class = "form-control", placeholder = "Ambulance Company's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user "></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.ambulance_summary, new { @class = "form-control", placeholder = "Accident Summary", required = "required", rows = "6", title = "Example: Client was driving along the road side when a car hit him/her from behind." })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Ambulance Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("ambulancereport", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Ambulance Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date of Ambulance Report Request. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Ambulance Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Certified Records Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.certified_records_requestedby, new { @class = "form-control", placeholder = "Record Requested By", required = "required", title = "Certified Records Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Verified On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Records Verified By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ambulance_report_requestedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
