﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading" role="tab" id="headingThirteen">
        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
            <h4 class="panel-title">
                <i class="more-less"></i>
                Clinic
            </h4>
        </a>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">Admitted to Clinic?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.admittedclinic, GoNyLaw.Helpers.DropDownData.yesno, null, new { @class = "form-control", required = "required", title = "Did the client get admitted to any Clinic?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 hidden">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">Number of Clinics?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.no_of_clinics, GoNyLaw.Helpers.DropDownData.one_to_five, "How many Clinics?", new { @class = "form-control", required = "required", title = "How many Clinics did the client get admitted to?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="clinic1 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Clinic 1:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.name, new { @class = "form-control", placeholder = "Name of Clinic", required = "required", title = "Name of the Clinic. Example: Apollo Clinic & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Started</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.treatmentstart, new { @class = "form-control", placeholder = "Date Treatment Started", required = "required", title = "Date Treatment Started. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Ended</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.treatmentend, new { @class = "form-control", placeholder = "Date Treatment Ended", required = "required", title = "Date Treatment Ended. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Visits per week</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Visits Per Week. Example: 3" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.clinic1.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Clinic Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Clinic Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic1.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Clinic Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.clinic1.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic1.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic1.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic1.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic1.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("clinicreport1", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clinic2 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Clinic 2:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.name, new { @class = "form-control", placeholder = "Name of Clinic", required = "required", title = "Name of the Clinic. Example: Apollo Clinic & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Started</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.treatmentstart, new { @class = "form-control", placeholder = "Date Treatment Started", required = "required", title = "Date Treatment Started. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Ended</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.treatmentend, new { @class = "form-control", placeholder = "Date Treatment Ended", required = "required", title = "Date Treatment Ended. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Visits per week</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Visits Per Week. Example: 3" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.clinic2.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Clinic Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Clinic Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic2.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Clinic Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.clinic2.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic2.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic2.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic2.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic2.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("clinicreport2", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clinic3 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Clinic 3:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.name, new { @class = "form-control", placeholder = "Name of Clinic", required = "required", title = "Name of the Clinic. Example: Apollo Clinic & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Started</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.treatmentstart, new { @class = "form-control", placeholder = "Date Treatment Started", required = "required", title = "Date Treatment Started. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Ended</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.treatmentend, new { @class = "form-control", placeholder = "Date Treatment Ended", required = "required", title = "Date Treatment Ended. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Visits per week</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Visits Per Week. Example: 3" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.clinic3.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Clinic Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Clinic Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic3.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Clinic Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.clinic3.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic3.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic3.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic3.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic3.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("clinicreport3", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clinic4 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Clinic 4:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.name, new { @class = "form-control", placeholder = "Name of Clinic", required = "required", title = "Name of the Clinic. Example: Apollo Clinic & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Started</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.treatmentstart, new { @class = "form-control", placeholder = "Date Treatment Started", required = "required", title = "Date Treatment Started. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Ended</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.treatmentend, new { @class = "form-control", placeholder = "Date Treatment Ended", required = "required", title = "Date Treatment Ended. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Visits per week</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Visits Per Week. Example: 3" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.clinic4.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Clinic Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Clinic Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic4.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Clinic Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.clinic4.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic4.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic4.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic4.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic4.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("clinicreport4", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clinic5 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Clinic 5:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.name, new { @class = "form-control", placeholder = "Name of Clinic", required = "required", title = "Name of the Clinic. Example: Apollo Clinic & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Started</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.treatmentstart, new { @class = "form-control", placeholder = "Date Treatment Started", required = "required", title = "Date Treatment Started. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Treatment Ended</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.treatmentend, new { @class = "form-control", placeholder = "Date Treatment Ended", required = "required", title = "Date Treatment Ended. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Visits per week</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Visits Per Week. Example: 3" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.clinic5.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Clinic Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Clinic Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.clinic5.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Clinic Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.clinic5.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic5.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic5.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic5.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.clinic5.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("clinicreport5", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>