﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}

<div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading" role="tab" id="headingTwenty">
        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwenty" aria-expanded="true" aria-controls="collapseTwenty">
            <h4 class="panel-title">
                <i class="more-less"></i>
                Expert Notice
            </h4>
        </a>
    </div>
    <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">Expert Notice Sent?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-stethoscope"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.expert_done, GoNyLaw.Helpers.DropDownData.yesno, null, new { @class = "form-control", required = "required", title = "Did the client take ay Expert Opinion?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="expert hidden">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Expert Treating Plaintiff?</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.expert_alreadytreating, GoNyLaw.Helpers.DropDownData.yesno, "Already Treating Plaintiff", new { @class = "form-control", required = "required", title = "Is the Expert already treating Plaintiff?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Area of Expertise</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.expert_area, new { @class = "form-control", placeholder = "Name of Examiner", required = "required", title = "Name of the Examiner. Example: Dr. John Mathews" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Notice Sent</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.expert_date, new { @class = "form-control", placeholder = "Date of Opinion", required = "required", title = "Date of Opinion. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Expert Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.expert_name, new { @class = "form-control", placeholder = "Name of Examiner", required = "required", title = "Name of the Examiner. Example: Dr. John Mathews" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.expert_address, new { @class = "form-control", placeholder = "Expert's Complete Address", required = "required", title = "Expert's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.expert_phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.expert_email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("expertreport", null, new { @class = "form-control", type = "file", title = "Expert Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
