﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading" role="tab" id="headingTwelve">
        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
            <h4 class="panel-title">
                <i class="more-less"></i>
                Hospital
            </h4>
        </a>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">Admitted to Hospital?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.admittedhospital, GoNyLaw.Helpers.DropDownData.yesno, null, new { @class = "form-control", required = "required", title = "Did the client get admitted to any hospital?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 hidden">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">Number of Hospitals?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.no_of_hospitals, GoNyLaw.Helpers.DropDownData.one_to_five, "How many Hospitals?", new { @class = "form-control", required = "required", title = "How many hospitals did the client get admitted to?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="hospital1 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Hospital 1:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.name, new { @class = "form-control", placeholder = "Name of Hospital", required = "required", title = "Name of the Hospital. Example: Apollo Hospital & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Admitted</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.treatmentstart, new { @class = "form-control", placeholder = "Date of Admission", required = "required", title = "Date of Admission. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Discharged</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.treatmentend, new { @class = "form-control", placeholder = "Date of Release", required = "required", title = "Date of Release. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">No. of Days in Hospital</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Number of Days in Hospital. Example: 10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.hospital1.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Hospital Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Hospital Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital1.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Hospital Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.hospital1.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital1.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital1.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital1.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital1.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("hospitalreport1", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hospital2 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Hospital 2:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.name, new { @class = "form-control", placeholder = "Name of Hospital", required = "required", title = "Name of the Hospital. Example: Apollo Hospital & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Admitted</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.treatmentstart, new { @class = "form-control", placeholder = "Date of Admission", required = "required", title = "Date of Admission. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Discharged</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.treatmentend, new { @class = "form-control", placeholder = "Date of Release", required = "required", title = "Date of Release. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">No. of Days in Hospital</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Number of Days in Hospital. Example: 10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.hospital2.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Hospital Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Hospital Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital2.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Hospital Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.hospital2.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital2.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital2.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital2.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital2.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("hospitalreport2", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hospital3 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Hospital 3:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.name, new { @class = "form-control", placeholder = "Name of Hospital", required = "required", title = "Name of the Hospital. Example: Apollo Hospital & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Admitted</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.treatmentstart, new { @class = "form-control", placeholder = "Date of Admission", required = "required", title = "Date of Admission. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Discharged</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.treatmentend, new { @class = "form-control", placeholder = "Date of Release", required = "required", title = "Date of Release. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">No. of Days in Hospital</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Number of Days in Hospital. Example: 10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.hospital3.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Hospital Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Hospital Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital3.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Hospital Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.hospital3.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital3.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital3.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital3.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital3.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("hospitalreport3", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hospital4 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Hospital 4:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.name, new { @class = "form-control", placeholder = "Name of Hospital", required = "required", title = "Name of the Hospital. Example: Apollo Hospital & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Admitted</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.treatmentstart, new { @class = "form-control", placeholder = "Date of Admission", required = "required", title = "Date of Admission. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Discharged</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.treatmentend, new { @class = "form-control", placeholder = "Date of Release", required = "required", title = "Date of Release. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">No. of Days in Hospital</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Number of Days in Hospital. Example: 10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.hospital4.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Hospital Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Hospital Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital4.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Hospital Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.hospital4.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital4.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital4.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital4.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital4.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("hospitalreport4", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hospital5 hidden">
                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                    <b>&#8594; Hospital 5:</b>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-hospital-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.name, new { @class = "form-control", placeholder = "Name of Hospital", required = "required", title = "Name of the Hospital. Example: Apollo Hospital & Trauma Center" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Fax</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.fax, new { @class = "form-control", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Fax Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Admitted</strong>
                        <div class="input-group date dates ts">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.treatmentstart, new { @class = "form-control", placeholder = "Date of Admission", required = "required", title = "Date of Admission. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Discharged</strong>
                        <div class="input-group date dates te">
                            <div class="input-group-addon ">
                                <i class="fa fa-hourglass-end"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.treatmentend, new { @class = "form-control", placeholder = "Date of Release", required = "required", title = "Date of Release. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">No. of Days in Hospital</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.totaldays, new { @class = "form-control", placeholder = "Number of Days", required = "required", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", title = "Number of Days in Hospital. Example: 10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Treatment Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.medical.hospital5.treatmentsummary, new { @class = "form-control", placeholder = "Treatment Summary", required = "required", rows = "4", title = "Treatment Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.medical_report_requestedby, new { @class = "form-control", placeholder = "Med. Rpt. Requested By", required = "required", title = "Hospital Med. Rpt. Requested By. Example: Rafael Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.medical_report_request, new { @class = "form-control", placeholder = "Report Requested Date", required = "required", title = "Date Hospital Report Requested. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Med. Rpt. Received On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.medical.hospital5.medical_report_received, new { @class = "form-control", placeholder = "Report Received Date", required = "required", title = "Date Hospital Report Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cert. Med. Record Subpoenaed</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.medical.hospital5.certified_records_request, GoNyLaw.Helpers.DropDownData.yesno, "Certified Medical Records Subpoenaed in court?", new { @class = "form-control subpoenaedques", required = "required", title = "Certified Medical Records Subpoenaed in court?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subponaed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Rec. Subpoenaed By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital5.certified_records_subpoenaedby, new { @class = "form-control", placeholder = "Record Subponaed By", required = "required", title = "Certified Records Subponaed By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Requested On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital5.certified_records_request, new { @class = "form-control", placeholder = "Record Request Date", required = "required", title = "Certified Record Request Date. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Record Verified On</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital5.certified_records_verified, new { @class = "form-control", placeholder = "Record Verification Date", required = "required", title = "Date of Record Verification. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Cert. Med. Records Verified By</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.medical.hospital5.certified_records_verifiedby, new { @class = "form-control", placeholder = "Record Verified By", required = "required", title = "Certified Record Verified By. Example: Rafael Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Upload Med. Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("hospitalreport5", null, new { @class = "form-control", type = "file", title = "Upload Med. Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
