﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel panel-default" style="margin-top:20px">
    <div class="panel-heading" role="tab" id="headingNineteen">
        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseNineteen" aria-expanded="true" aria-controls="collapseNineteen">
            <h4 class="panel-title">
                <i class="more-less"></i>
                Independent Medical Examination
            </h4>
        </a>
    </div>
    <div id="collapseNineteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="form-group login-inner-box1">
                    <strong class="control-label">IME done?</strong>
                    <div class="input-group">
                        <div class="input-group-addon ">
                            <i class="fa fa-stethoscope"></i>
                        </div>
                        <div class="login-model">
                            @Html.DropDownListFor(x => x.ime_done, GoNyLaw.Helpers.DropDownData.yesno, null, new { @class = "form-control", required = "required", title = "Did the client undergo any Independent Medical Examination?" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="ime hidden">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date done</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ime_date, new { @class = "form-control", placeholder = "Date of Examination", required = "required", title = "Date of Examination. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Examiner Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ime_name, new { @class = "form-control", placeholder = "Name of Examiner", required = "required", title = "Name of the Examiner. Example: Dr. John Mathews" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ime_address, new { @class = "form-control", placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ime_phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ime_email, new { @class = "form-control", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("imereport", null, new { @class = "form-control", type = "file", title = "IME Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
