﻿@model GoNyLaw.Models.PersonalInjury
    @{ 
        string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
    }
<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default" style="margin-top:-30px;">
        <div class="col-sm-4">
            <div class="form-group login-inner-box1">
                <strong class="control-label">Name</strong>
                <div class="input-group">
                    <div class="input-group-addon ">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="login-model">
                        @Html.TextBoxFor(x => x.fullname, new { @class = "form-control", Value = ViewBag.name, placeholder = "Full Name", required = "required", title = "Full Name. Example: Rafael A. Cabrera" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Address
                </h4>
            </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Street, City, State & Zip Code</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.address, new { @class = "form-control", Value = address, placeholder = "Street, City, State & Zip Code", required = "required", title = "Street, City, State & Zip Code. Example: 123 Xyz Street Apt. No. 7, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingTwo">
            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    SS#/DOB
                </h4>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">SS #</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-key"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.ssn, new { @class = "form-control ssn", placeholder = "Social Security Number", maxlength = "11", pattern = "[0-9]{3}-[0-9]{2}-[0-9]{4}", required = "required", title = "Social Security Number. Example: 000-00-0000" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">DOB</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-birthday-cake"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.dob, new { @class = "form-control", placeholder = "Date of Birth", required = "required", title = "Date of Birth. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingThree">
            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Civil Status
                </h4>
            </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Civil Status</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-life-ring"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.civil_status, GoNyLaw.Helpers.DropDownData.civilstatus, "Select State", new { @class = "form-control", Value = "NY", required = "required", title = "Choose State" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="married hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Spouse Name</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.spouse_name, new { @class = "form-control", placeholder = "Spouse Name", required = "required", title = "Spouse Name. Example: Maritza Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Spouse Address</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.spouse_address, new { @class = "form-control", placeholder = "Spouse Address", title = "Spouse Address. Example: 480 39 Street,Brooklyn,NY-11220" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Spouse Phone</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.spouse_phone, new { @class = "form-control", placeholder = "Spouse Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Spouse Phone. xample: 718-439-3600" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divorced hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Divorce Date</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.divorce_date, new { @class = "form-control", placeholder = "Date of Divorce", required = "required", title = "Date of Divorce. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widowed hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Widowed Date</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.widowed_date, new { @class = "form-control", placeholder = "Date Widowed", required = "required", title = "Date Widowed. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingFour">
            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Tel/Email
                </h4>
            </a>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.phone, new { @class = "form-control", placeholder = "Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cellphone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.mobile, new { @class = "form-control", Value = ViewBag.cellphone, placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Cellphone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.emailid, new { @class = "form-control", Value = ViewBag.emailid, placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingFive">
            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Contact Person
                </h4>
            </a>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user "></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.contactfullname, new { @class = "form-control", placeholder = "Contact Full Name", required = "required", title = "Contact Full Name. Example: Rafael A. Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Relationship with Client</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-arrows-v"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.contactrelationship, new { @class = "form-control", placeholder = "Contact Relationship", title = "Contact Relationship. Example: Brother" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.contacttelephone, new { @class = "form-control", placeholder = "Contact Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Contact Phone. xample: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
