﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default" style="margin-top:-30px;">
        <div class="col-sm-4">
            <div class="form-group login-inner-box1">
                <strong class="control-label">Is client Employed</strong>
                <div class="input-group">
                    <div class="input-group-addon ">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="login-model">
                        @Html.DropDownListFor(x => x.isemployed, GoNyLaw.Helpers.DropDownData.yesno, "Is Client Employed", new { @class = "form-control", required = "required", title = "Is Client Employed?" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default employed hidden" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingSix">
            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Work History
                </h4>
            </a>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Missed due to Accident?</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-question"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.missedjob, GoNyLaw.Helpers.DropDownData.yesno, "Missed due to Accident?", new { @class = "form-control", required = "required", title = "Did client miss because of accident?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="missedthejob hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">How many days?</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-sort-numeric-asc"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.daysjobmissed, new { @class = "form-control", placeholder = "No. of days missed", required = "required", title = "Number of days missed. Example: 15" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Salary per</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.DropDownListFor(x => x.jobsalaryinterval, GoNyLaw.Helpers.DropDownData.salaryper, "Salary per", new { @class = "form-control", required = "required", title = "Salary per Week/Month/Year" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">What is your salary?(in $)</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.jobsalary, new { @class = "form-control", placeholder = "Salary in Dollars", required = "required", title = "Salary in Dollars. Example: 15000" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Upload Pay Stubs</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBox("paystub", null, new { @class = "form-control", type = "file", title = "Pay Stubs", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Upload Tax Returns</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBox("taxreturn", null, new { @class = "form-control", type = "file", title = "Tax Return", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default employed hidden" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingSeven">
            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Employer
                </h4>
            </a>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Name</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.employer_name, new { @class = "form-control", placeholder = "Employer Name", required = "required", title = "Employer Name. Example: Microsoft Corporation" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Address</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.employer_address, new { @class = "form-control", placeholder = "Employer's Complete Address", required = "required", title = "Employer's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Phone</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.employer_tel, new { @class = "form-control", placeholder = "Employer's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Email</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.employer_email, new { @class = "form-control", placeholder = "Employer's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: contact@company.com" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default employed hidden" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingEight">
            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Work Record
                </h4>
            </a>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Work Records Requested By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.work_record_requested, new { @class = "form-control", placeholder = "Work records Requested By", required = "required", title = "Work records Requested By. Example: Ramona Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date requested On</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.date_work_requested, new { @class = "form-control", placeholder = "Work Record Requested", required = "required", title = "Date of Request. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date record received</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.date_work_received, new { @class = "form-control", placeholder = "Work Record Received", required = "required", title = "Date Record Received. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Certified Copies Subpoenaed By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.certified_copy_subpoenaed, new { @class = "form-control", placeholder = "Certified Copies Subpoenaed By", required = "required", title = "Certified Copies Subpoenaed By. Example: Ramona Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Subpoenaed</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.date_subpoenaed, new { @class = "form-control", placeholder = "Work Record Requested", required = "required", title = "Date Subpoenaed. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Certified Copies Verified By</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.certified_copy_verified, new { @class = "form-control", placeholder = "Certified Copies Verified By", required = "required", title = "Certified Copies Verified By. Example: Ramona Cabrera" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date Certified Copies Verified</strong>
                        <div class="input-group date dates">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.date_certified_verified, new { @class = "form-control", placeholder = "Certified Copies Verified", required = "required", title = "Date Verified. Example: MM/DD/YYYY" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
