﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingNine">
            <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    This Accident
                </h4>
            </a>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Date & Time</strong>
                        <div class="input-group date datetime doa">
                            <div class="input-group-addon ">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.datetimeofaccident, new { @class = "form-control", placeholder = "Date & Time of Accident", required = "required", title = "Date & Time of Accident. Example: MM/DD/YYYY 09:00 AM" })
                            </div>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Cause</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-car"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.cause, GoNyLaw.Helpers.DropDownData.typeaccident, "Select cause of Injury", new { @class = "form-control", required = "required", title = "What is the cause of Personal Injury?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Mention Cause</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-motorcycle"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.cause_other, new { @class = "form-control", placeholder = "What is the Cause of Personal Injury?", title = "Example: Restaurant served contaminated food." })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Location</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.accident_location, new { @class = "form-control", placeholder = "Accident Location", title = "Accident Location. Example: Corner of 39 St. & 5 Ave or Between 40 St & 41 St & 5 Ave" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Weather Condition</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-cloud"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBoxFor(x => x.weather_condition, new { @class = "form-control", placeholder = "Weather condition ", title = "Weather condition at time of accident. Example: Dark & Raining, Snowing" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Client Roll</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.clientroll, GoNyLaw.Helpers.DropDownData.clientroll, "Select what the client is", new { @class = "form-control", required = "required", title = "Select whether the client is a driver, passenger or pedestrian." })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Pictures</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file-picture-o"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("accidentpictures", null, new { @class = "form-control", type = "file", title = "Accident Pictures", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Police Report</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="login-model">
                                @Html.TextBox("policereport", null, new { @class = "form-control", type = "file", title = "Police Report", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Summary</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-user "></i>
                            </div>
                            <div class="login-model">
                                @Html.TextAreaFor(x => x.accidentsummary, new { @class = "form-control", placeholder = "Accident Summary", required = "required", rows = "6", title = "Example: Client was driving along the road side when a car hit him/her from behind." })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" role="tab" id="headingTen">
            <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                <h4 class="panel-title">
                    <i class="more-less"></i>
                    Prior Accident
                </h4>
            </a>
        </div>
        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group login-inner-box1">
                        <strong class="control-label">Any Prior Accident?</strong>
                        <div class="input-group">
                            <div class="input-group-addon ">
                                <i class="fa fa-bus"></i>
                            </div>
                            <div class="login-model">
                                @Html.DropDownListFor(x => x.prior_accident, GoNyLaw.Helpers.DropDownData.yesno, null, new { @class = "form-control", required = "required", title = "Any Prior Accident?" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prioraccidentdetails hidden">
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Date of Accident</strong>
                            <div class="input-group date dates">
                                <div class="input-group-addon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.prior_accident_date, new { @class = "form-control", placeholder = "Date of Prior Accident", required = "required", title = "Date of Prior Accident. Example: MM/DD/YYYY" })
                                </div>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Attorrney Name</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.prior_accident_attorney, new { @class = "form-control", placeholder = "Prior Accident Attorney Name", required = "required", title = "Attorney Name. Example: Heriberto Cabrera" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Attorney Address</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.prior_attorney_address, new { @class = "form-control", placeholder = "Attorney's Complete Address", required = "required", title = "Attorney's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Attorney Phone Number</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.prior_attorney_tel, new { @class = "form-control", placeholder = "Attorney's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Attorney Email ID</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.prior_attorney_email, new { @class = "form-control", placeholder = "Attorney's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: attorneycontact@lawfirm.com" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Treatment Facilities</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-hospital-o"></i>
                                </div>
                                <div class="login-model">
                                    @Html.DropDownListFor(x => x.prior_treatment_facilities, GoNyLaw.Helpers.DropDownData.one_to_five, "How many facilities?", new { @class = "form-control", required = "required", title = "How many facilities did the client get treatment from?" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="facility1 hidden">
                        <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                            <b>&#8594; Facility 1:</b>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Name</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility1.name, new { @class = "form-control", placeholder = "Facility Name", required = "required", title = "Facility Name. Example: Xyz Trauma and Diagnosis Center" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Address</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility1.address, new { @class = "form-control", placeholder = "Facility Address", required = "required", title = "Facility's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Phone Number</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility1.phone, new { @class = "form-control", placeholder = "Facility's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Email ID</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility1.email, new { @class = "form-control", placeholder = "Facility's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: attorneycontact@lawfirm.com" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="facility2 hidden">
                        <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                            <b>&#8594; Facility 2:</b>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Name</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility2.name, new { @class = "form-control", placeholder = "Facility Name", required = "required", title = "Facility Name. Example: Xyz Trauma and Diagnosis Center" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Address</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility2.address, new { @class = "form-control", placeholder = "Facility Address", required = "required", title = "Facility's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Phone Number</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility2.phone, new { @class = "form-control", placeholder = "Facility's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Email ID</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility2.email, new { @class = "form-control", placeholder = "Facility's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: attorneycontact@lawfirm.com" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="facility3 hidden">
                        <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                            <b>&#8594; Facility 3:</b>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Name</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility3.name, new { @class = "form-control", placeholder = "Facility Name", required = "required", title = "Facility Name. Example: Xyz Trauma and Diagnosis Center" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Address</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility3.address, new { @class = "form-control", placeholder = "Facility Address", required = "required", title = "Facility's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Phone Number</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility3.phone, new { @class = "form-control", placeholder = "Facility's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Email ID</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility3.email, new { @class = "form-control", placeholder = "Facility's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: attorneycontact@lawfirm.com" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="facility4 hidden">
                        <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                            <b>&#8594; Facility 4:</b>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Name</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility4.name, new { @class = "form-control", placeholder = "Facility Name", required = "required", title = "Facility Name. Example: Xyz Trauma and Diagnosis Center" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Address</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility4.address, new { @class = "form-control", placeholder = "Facility Address", required = "required", title = "Facility's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Phone Number</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility4.phone, new { @class = "form-control", placeholder = "Facility's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Email ID</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility4.email, new { @class = "form-control", placeholder = "Facility's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: attorneycontact@lawfirm.com" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="facility5 hidden">
                        <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                            <b>&#8594; Facility 5:</b>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Name</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility5.name, new { @class = "form-control", placeholder = "Facility Name", required = "required", title = "Facility Name. Example: Xyz Trauma and Diagnosis Center" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Address</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility5.address, new { @class = "form-control", placeholder = "Facility Address", required = "required", title = "Facility's Complete Address. Example: 123 Xyz Street, Brooklyn, NY-11220" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Phone Number</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility5.phone, new { @class = "form-control", placeholder = "Facility's Phone Number", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Phone Number. Example: 718-439-3600" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">Facility Email ID</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="login-model">
                                        @Html.TextBoxFor(x => x.facilities.facility5.email, new { @class = "form-control", placeholder = "Facility's Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: attorneycontact@lawfirm.com" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Was an award given</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="login-model">
                                    @Html.DropDownListFor(x => x.was_award, GoNyLaw.Helpers.DropDownData.yesno, "Was an award given", new { @class = "form-control", required = "required", title = "Was an award given for prior accident?" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Amount of Award (in $)</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextBoxFor(x => x.amount_award, new { @class = "form-control", placeholder = "Amount in Dollars", title = "Amount in Dollars. Example: 15000" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group login-inner-box1">
                            <strong class="control-label">Summary of Injuries</strong>
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="login-model">
                                    @Html.TextAreaFor(x => x.summary_injuries, new { @class = "form-control", placeholder = "Summary of Injuries", required = "required", rows = "6", title = "Example: Knee Fractured, Jaw Broken." })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
