﻿@model GoNyLaw.Models.PersonalInjury
@{
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
<div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" style="margin-top:-30px;">
        <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
            <b>&#8594; Court Details:</b>
        </div>
        <div class="col-sm-4">
            <div class="form-group login-inner-box1">
                <strong class="control-label">Court</strong>
                <div class="input-group">
                    <div class="input-group-addon ">
                        <i class="fa fa-legal"></i>
                    </div>
                    <div class="login-model">
                        @Html.DropDownListFor(x => x.court, GoNyLaw.Helpers.DropDownData.picourt, "Select Court", new { @class = "form-control", required = "required", title = "Choose Court" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group login-inner-box1">
                <strong class="control-label">County</strong>
                <div class="input-group">
                    <div class="input-group-addon ">
                        <i class="fa fa-legal"></i>
                    </div>
                    <div class="login-model">
                        @Html.DropDownListFor(x => x.court_county, GoNyLaw.Helpers.DropDownData.picourtcounty, "Select County", new { @class = "form-control", required = "required", title = "Choose County" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group login-inner-box1">
                <strong class="control-label">Action against the City/State of NY?</strong>
                <div class="input-group">
                    <div class="input-group-addon ">
                        <i class="fa fa-legal"></i>
                    </div>
                    <div class="login-model">
                        @Html.DropDownListFor(x => x.againstcitystate, GoNyLaw.Helpers.DropDownData.yesno, "Select Answer", new { @class = "form-control", required = "required", title = "Is this action against the City/State of New York?" })
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
