﻿@model GoNyLaw.Models.PersonalInjury
@{
    ViewBag.Title = "Personal Injury";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string address = ViewBag.street + ", " + ViewBag.city + ", NY - " + ViewBag.zip;
}
@section extracsslinks{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/form-wizard.css" />
}
@section extracss{
    <style>
        .cls-content {
            padding-top: 0 !important;
        }

        .setup-content:not(#step-1), #sbmtBtn, #bkBtn {
            display: none;
        }

        .bootstrap-datetimepicker-widget {
            position: absolute;
            z-index: 900;
        }

        .tooltip {
            position: absolute;
            z-index: 899;
        }

        .panel-title {
            font-size: 18px;
        }

        .more-less {
            vertical-align: middle;
            float: right;
            color: #212121 !important;
        }

        .glyphicon {
            line-height: unset;
        }

        h4.panel-title {
            font-weight: 600;
        }

        .panel-heading h4 {
            color: #ff6a00;
        }

        .control-label {
            font-size: 1.15em;
        }

        .expand-collapse-all {
            font-size: 0.8em;
            font-weight: 600;
            cursor: pointer;
        }

        .panel {
            clear: both;
        }

        input:not([type='button']):not([type='submit']), select, option {
            color: #0070c0 !important;
            font-weight: 600;
        }

        .wrapper {
            margin-top: 28px;
            font-size: 1.1em;
            font-weight: 600;
        }

        div.panel-heading {
            height: unset !important;
        }

        .cls-content .cls-content-lg, .cls-content .cls-content-sm {
            width: 95% !important;
        }

        h4.panel-title {
            line-height: unset !important;
        }

        .col-sm-half {
            width: 4.166666667% !important;
        }
        .panel-group{
            margin-top:-50px;
        }
    </style>
}
<div id="page-title">
    <h1 class="page-header text-overflow text-center"><b>Personal Injury</b></h1>
    <div class="stepwizard col-md-offset-2">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" id="c1" class="btn btn-primary btn-circle">1</a>
                <p>Client</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" id="c2" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Employment</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" id="c3" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Accident</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-4" type="button" id="c4" class="btn btn-default btn-circle" disabled="disabled">4</a>
                <p>Medical</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-5" type="button" id="c5" class="btn btn-default btn-circle" disabled="disabled">5</a>
                <p>Defendant</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-6" type="button" id="c6" class="btn btn-default btn-circle" disabled="disabled">6</a>
                <p>Notices & Filings</p>
            </div>
        </div>
    </div>
    @* End Form Wizard*@
</div>
<div class="row">
    <div class="col-sm-1 col-sm-half"></div>
    <div class="col-sm-11">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="main-title">Client Information</span> -- <i id="cname">@ViewBag.name</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOA - <i id="borderdoa">MM/DD/YYYY</i>  <span class="pull-right expand-collapse-all" id="collapse-init">Expand All</span>
                    </h3>
                </div>
            </div>
            @*Begin Form*@
            @using (Html.BeginForm("PersonalInjuryQuestionnaireSubmission", "PersonalInjury", FormMethod.Post, new { id = "__AjaxAntiForgeryForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.refno, new { @Value = ViewBag.refno })
                @Html.HiddenFor(m => m.clientid, new { @Value = ViewBag.cid })
                @Html.HiddenFor(m => m.adminid, new { @Value = ViewBag.aid })
                <div class="cls-content">
                    <div class="cls-content-lg panel register-box-content">
                        <div class="panel-body">
                            <div id="step-1" class="rows setup-content">
                                @Html.Partial("_PI1", Model)
                            </div>
                            <div id="step-2" class="rows setup-content">
                                @Html.Partial("_PI2", Model)
                            </div>
                            <div id="step-3" class="rows setup-content">
                                @Html.Partial("_PI3", Model)
                            </div>
                            <div id="step-4" class="rows setup-content">
                                @Html.Partial("_PI4", Model)
                            </div>
                            <div id="step-5" class="rows setup-content">
                                @Html.Partial("_PI5", Model)
                            </div>
                            <div id="step-6" class="rows setup-content">
                                @Html.Partial("_PI6", Model)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="button" id="bkBtn" class="btn btn-primary class-details pull-left" value="<< B a c k" />
                    <input type="button" id="nxtBtn" class="btn btn-primary class-details" value="N e x t >>" />
                    <input type="submit" id="sbmtBtn" class="btn btn-primary class-details" value="Submit" />
                </div>
            }
            @*End of Form*@
            <!--===================================================-->
            <!--End Block Styled Form -->

        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/watch.js"></script>
    <script type="text/javascript" src="~/Scripts/personalinjury.js"></script>
}
