﻿@model IEnumerable<GoNyLaw.Models.BankruptcyCase>
@using GoNyLaw.Helpers
@using GoNyLaw.Models
@using System.Globalization
@{
    ViewBag.Title = "View Cases";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/caseslistbankruptcy.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Bankruptcy Cases</b></h1>
</div>
@if (LoginPersistence.CheckSuperAdmin())
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bankruptcy Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in Model)
                                            {
                                                BankruptcyAction ca = new ActionContext().BankruptcyActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                                string date1 = "";
                                                if (!object.ReferenceEquals(ca, null))
                                                {
                                                    if (ca.nextcourtdate != null)
                                                    {
                                                        date1 = ca.nextcourtdate.ToString("MM/dd/yyyy");
                                                    }
                                                    else
                                                    {
                                                        date1 = "Not Entered";
                                                    }
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                                <li>
                                                    <time datetime="@item.dateregister.Date">
                                                        <span class="refno">@item.refno</span>
                                                        <span class="day">@item.dateregister.Day</span>
                                                        <span class="month">@item.dateregister.ToString("MMM")</span>
                                                        <span class="year">@item.dateregister.Year</span>
                                                        <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                                    </time>
                                                    <div class="info">
                                                        <h3 class="title"><i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().LastIndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().LastIndexOf(' '))</i></h3>
                                                        <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>
                                                        <p class="desc" style="width:70%;"><b>Court:</b> <i>@item.court.ToBankruptcyCourtName(), @item.courtaddress.ToBankruptcyCourtAddress()</i></p>
                                                        <p class="desc"><b>Court Date:</b> <i>@item.courtdatetime.ApplyDateTimeCorrection()</i></p>
                                                        <p class="desc"><b>1st CC Class:</b> <i>@item.dateclass1.ApplyDateCorrection()</i> <b>2nd CC Class:</b> <i>@item.dateclass2.ApplyDateCorrection()</i></p>
                                                        <p class="desc"><b>Discharge Letter:</b> <i>@item.datedischargeletter.ApplyDateCorrection()</i></p>
                                                    </div>
                                                    <div class="social">
                                                        <ul>
                                                            <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /><img class="ui-tooltip task" width="25" height="20" title="Create Task" src="~/Images/task.png" /><img class="ui-tooltip delete" width="25" height="20" title="Delete Case" src="~/Images/delete.png" /></li>
                                                        </ul>
                                                    </div>
                                                    <form class="formviewtask" action="~/Bankruptcy/AdminViewAssignedTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formedit" action="~/Bankruptcy/BankruptcyCaseEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formview" action="~/Bankruptcy/BankruptcyCaseView" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlogs" action="~/Bankruptcy/BankruptcyCaseLogs" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="hidden" name="defaultrecepient" value="client" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formadaemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="hidden" name="defaultrecepient" value="ada" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formjudgeemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="hidden" name="defaultrecepient" value="judge" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientsms" action="~/Bankruptcy/SendBankruptcyCaseSMS" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formtask" action="~/Bankruptcy/SuperAdminBankruptcyCreateTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="adminsassigned" value="@item.adminsassigned" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formdel" action="~/Bankruptcy/CaseDelete" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bankruptcy Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in Model)
                                            {
                                                BankruptcyAction ca = new ActionContext().BankruptcyActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                                string date1 = "";
                                                if (!object.ReferenceEquals(ca, null))
                                                {
                                                    if (ca.nextcourtdate != null)
                                                    {
                                                        date1 = ca.nextcourtdate.ToString("MM/dd/yyyy");
                                                    }
                                                    else
                                                    {
                                                        date1 = "Not Entered";
                                                    }
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                                <li>
                                                    <time datetime="@item.dateregister.Date">
                                                        <span class="refno">@item.refno</span>
                                                        <span class="day">@item.dateregister.Day</span>
                                                        <span class="month">@item.dateregister.ToString("MMM")</span>
                                                        <span class="year">@item.dateregister.Year</span>
                                                        <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                                    </time>
                                                    <div class="info">
                                                        <h3 class="title"><i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().LastIndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().LastIndexOf(' '))</i></h3>
                                                        <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>
                                                        <p class="desc" style="width:70%;"><b>Court:</b> <i>@item.court.ToBankruptcyCourtName(), @item.courtaddress.ToBankruptcyCourtAddress()</i></p>
                                                        <p class="desc"><b>Court Date:</b> <i>@item.courtdatetime.ApplyDateTimeCorrection()</i></p>
                                                        <p class="desc"><b>1st CC Class:</b> <i>@item.dateclass1.ApplyDateCorrection()</i> <b>2nd CC Class:</b> <i>@item.dateclass2.ApplyDateCorrection()</i></p>
                                                        <p class="desc"><b>Discharge Letter:</b> <i>@item.datedischargeletter.ApplyDateCorrection()</i></p>
                                                    </div>
                                                    <div class="social">
                                                        <ul>
                                                            <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /></li>
                                                        </ul>
                                                    </div>
                                                    <form class="formviewtask" action="~/Bankruptcy/AdminViewAssignedTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formedit" action="~/Bankruptcy/BankruptcyCaseEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formview" action="~/Bankruptcy/BankruptcyCaseView" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlogs" action="~/Bankruptcy/BankruptcyCaseLogs" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="client" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formadaemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="ada" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formjudgeemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="judge" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientsms" action="~/Bankruptcy/SendBankruptcyCaseSMS" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlegal" action="~/Bankruptcy/SuperAdminCriminalCourtProceedings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/cases.js"></script>
}