﻿@model IEnumerable<GoNyLaw.Models.BankruptcyTask>
@using GoNyLaw.Helpers;
@{
    ViewBag.Title = "AdminViewAssignedTask";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DateTime dt = DateTime.Parse("01/01/2016");
}
@section extracsslinks{
    <link type="text/css" rel="stylesheet" href="~/Content/beautytable.css" />
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @if (Model.Any())
                        {
                            @:Assigned Task For @Model.First().refno
                        }
                        else
                        {
                            @:No Task Assigned
                        }
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <h3 style="margin-top:-90px;margin-left:-10%;">PENDING TASKS</h3>
                        <div style="margin-top:-30px;margin-left:-8%;">
                            <table style="width:110% !important;">
                                <thead>
                                    <tr>
                                        <th>Urgency</th>
                                        <th>Assigned</th>
                                        <th>Required</th>
                                        <th>Task</th>
                                        <th>Mark Complete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (item.datecompleted < dt)
                                            {
                                                <tr>
                                                    <td>
                                                        @if ((item.daterequired - item.dateassigned).TotalDays > 30)
                                                        {
                                                            <div class="circle circle-green"></div>
                                                        }
                                                        else if ((item.daterequired - item.dateassigned).TotalDays > 15)
                                                        {
                                                            <div class="circle circle-yellow"></div>
                                                        }
                                                        else if ((item.daterequired - item.dateassigned).TotalDays > 7)
                                                        {
                                                            <div class="circle circle-orange"></div>
                                                        }
                                                        else if ((item.daterequired - item.dateassigned).TotalDays > 3)
                                                        {
                                                            <div class="circle circle-pink"></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="circle circle-red"></div>
                                                        }
                                                    </td>
                                                    <td>@item.dateassigned.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.daterequired.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.task</td>
                                                    <td><a class="setcomplete" href="/Bankruptcy/MarkTaskComplete?id=@item.id" target="_blank">Mark Complete</a></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <h3 style="margin-left:-10%;">COMPLETED TASKS</h3>
                        <div style="margin-top:-30px;margin-left:-8%;">
                            <table style="width:110% !important;">
                                <thead>
                                    <tr>
                                        <th>Assigned</th>
                                        <th>Required</th>
                                        <th>Completed</th>
                                        <th>Task</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (item.datecompleted >= dt)
                                            {
                                                <tr>
                                                    <td>@item.dateassigned.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.daterequired.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.datecompleted.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.task</td>
                                                    <td>@item.notes</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/viewassignedtask.js"></script>
}



