﻿@model IEnumerable<GoNyLaw.Models.BankruptcyLog>
@using GoNyLaw.Helpers;
@{
    ViewBag.Title = "Bankruptcy Case Log";
    if (ViewBag.type == "s")
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    DateTime dt = DateTime.Parse("01/01/2016");
}
@section extracsslinks{
    <link type="text/css" rel="stylesheet" href="~/Content/beautytable.css" />
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @if (Model.Any())
                        {
                            @:Log For @Model.First().refno
                        }
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-90px;width:120%;">
                            <h5>LEGEND:</h5>
                            <div class="circle-small circle-red"></div> <b class="legend-text">Legal Proceedings</b>
                            <div class="circle-small circle-limegreen"></div> <b class="legend-text">Assigned Task</b>
                            <div class="circle-small circle-blue"></div> <b class="legend-text">Completed Task</b>
                            <div class="circle-small circle-purple"></div> <b class="legend-text">Communications</b><br /><br />
                            <div class="circle-small circle-brown"></div> <b class="legend-text">Motions</b>
                            <div class="circle-small circle-black"></div> <b class="legend-text">Others</b>
                        </div>
                            <div style="margin-top:-30px;margin-left:-8%;">
                                <table style="width:110% !important;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Recepient</th>
                                            <th>Action</th>
                                            <th>Details</th>
                                            <th>Files</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Any())
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.dateaction.ToString("MM/dd/yyyy hh:mm tt")</td>
                                                    <td>
                                                        @if (item.type == "E")
                                                        {
                                                            @:<span style="color:purple;font-weight:600;">Email</span>
                                                    }
                                                        else if (item.type == "T" && item.action.Contains("complete"))
                                                        {
                                                            @:<span style="color:blue;font-weight:600;">Task</span>
                                                    }
                                                        else if (item.type == "T")
                                                        {
                                                            @:<span style="color:limegreen;font-weight:600;">Task</span>
                                                    }
                                                        else if (item.type == "S")
                                                        {
                                                            @:<span style="color:purple;font-weight:600;">SMS</span>
                                                    }
                                                        else if (item.type == "A")
                                                        {
                                                            @:<span style="color:red;font-weight:600;">Action</span>
                                                    }
                                                        else if (item.type == "C")
                                                        {
                                                            @:<span style="font-weight:600;">Case</span>
                                                    }
                                                        else if (item.type == "X")
                                                        {
                                                            @:<span style="font-weight:600;">Case Edited</span>
                                                    }
                                                    </td>
                                                    @if (item.type == "A")
                                                    {
                                                        <td style="color:red;font-weight:600;">
                                                            @item.recepient
                                                        </td>
                                                        <td style="color:red;font-weight:600;">@item.action</td>
                                                        <td style="color:red;font-weight:600;">@item.details</td>
                                                    }
                                                    else if (item.type == "T" && item.action.Contains("complete"))
                                                    {
                                                        <td style="color:blue;font-weight:600;">
                                                            @item.recepient
                                                        </td>
                                                        <td style="color:blue;font-weight:600;">@item.action</td>
                                                        <td style="color:blue;font-weight:600;">@item.details</td>
                                                    }
                                                    else if (item.type == "T")
                                                    {
                                                        <td style="color:limegreen;font-weight:600;">
                                                            @item.recepient
                                                        </td>
                                                        <td style="color:limegreen;font-weight:600;">@item.action</td>
                                                        <td style="color:limegreen;font-weight:600;">@item.details</td>
                                                    }
                                                    else if (item.type == "E" || item.type == "S")
                                                    {
                                                        <td style="color:purple;font-weight:600;">
                                                            @item.recepient
                                                        </td>
                                                        <td style="color:purple;font-weight:600;">@item.action</td>
                                                        <td style="color:purple;font-weight:600;">@item.details</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="font-weight:600;">
                                                            @item.recepient
                                                        </td>
                                                        <td style="font-weight:600;">@item.action</td>
                                                        <td style="font-weight:600;">@item.details</td>
                                                    }
                                                    <td>
                                                        @if (item.type == "E")
                                                        {
                                                            if (!string.IsNullOrEmpty(item.filename1))
                                                            {
                                                                <a href="~/Uploads/@item.refno/ReceivedEmails/@item.filename1" target="_blank"><b>File</b></a>
                                                            }
                                                            if (!string.IsNullOrEmpty(item.filename2))
                                                            {
                                                                <a href="~/Uploads/@item.refno/ReceivedEmails/@item.filename2" target="_blank"><b>File</b></a>
                                                            }
                                                            if (!string.IsNullOrEmpty(item.filename3))
                                                            {
                                                                <a href="~/Uploads/@item.refno/ReceivedEmails/@item.filename3" target="_blank"><b>File</b></a>
                                                            }
                                                            if (!string.IsNullOrEmpty(item.filename4))
                                                            {
                                                                <a href="~/Uploads/@item.refno/ReceivedEmails/@item.filename4" target="_blank"><b>File</b></a>
                                                            }
                                                            if (!string.IsNullOrEmpty(item.filename5))
                                                            {
                                                                <a href="~/Uploads/@item.refno/ReceivedEmails/@item.filename5" target="_blank"><b>File</b></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @:NA
                                                         }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/logs.js"></script>
}
@section extrajs{
    <script>
        $(document).ready(function () {
            $('#typeofcase').val('Bankruptcy');
        });
    </script>
}


