﻿@using GoNyLaw.Helpers
@{
    ViewBag.Title = "SendEmailClient";
    if (ViewBag.type == "s")
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@section extracss{
    <style>
        .btn-info {
            background-color: #337ab7;
            border-color: #337ab7;
            color: #fff;
        }

        .btn-primary, .btn-primary:hover {
            background-color: darkred;
            border-color: darkred;
            color: #fff;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Bankruptcy Case For <i><u>@ViewBag.clientname</u> (@ViewBag.refno) - SMS</i>
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-60px;">
                            @using (Html.BeginForm("ProcessBankruptcyCaseSMS", "Bankruptcy", FormMethod.Post, new { id = "__AntiForgeryForm", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("refno",null, new { @Value = ViewBag.refno }) 
                                @:Characters: <b class="countchars">0</b>                               
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-envelope "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextArea("body", null, new { @class = "form-control htmltextarea", type = "text", id = "body", title = "body", placeholder = "Body", rows = "8" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-info btn-lg pull-right sbmtBtn" value="Send" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajs{
    <script>
        $(document).ready(function () {
            $('.countchars').html($('.htmltextarea').val().length);
        });
        $('.htmltextarea').on("keyup", function () {
            $('.countchars').html($(this).val().length);
        });
    </script>
    }
