﻿@model GoNyLaw.Models.BankruptcyTask
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Create Task";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
@section extracsslinks{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css" />
}
@section extracss{
    <style>
        .headings:not(:first-child) {
            margin-top: 20px;
        }

        .correction {
            margin-top: 8px;
        }

        .bootstrap-select > .dropdown-toggle {
            height: 41px;
            background: #fff;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Create Task For (@ViewBag.refno)
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        @using (Html.BeginForm("SuperAdminBankruptcyCreateTaskSubmission", "Bankruptcy", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.refno,new { @Value=ViewBag.refno})
                            @Html.HiddenFor(m => m.adminsassigned, new { @Value = ViewBag.adminsassigned})
                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-12 headings">
                                    <b>Task Description:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.daterequired, new { @class = "form-control", placeholder = "Date Required", title = "Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.task, new { @class = "form-control", placeholder = "Task Description", title = "Task Description" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Create" style="background-color: #d43f3a" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/criminalcasequestionnaire.js"></script>
}