﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "GoNyLaw : Admin Divorce Documents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ChildCareCalculations ccc = null;
    int n = 0;
    if (Model.casetype == "2")
    {
        Int32.TryParse(Model.ch.no_children, out n);
        ccc = new ChildCareCalculations(Model);
    }
    if (!Directory.Exists(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads"))
    {
        Directory.CreateDirectory(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads");
    }
    string[] files = Directory.GetFiles(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads", "*", SearchOption.AllDirectories)
    .Select(f => Path.GetFileNameWithoutExtension(f)).ToArray();
    string[] files1 = Directory.GetFiles(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads", "*", SearchOption.AllDirectories)
                .Select(f => Path.GetFileName(f)).ToArray();
}
<style>
    .addendum {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }
</style>
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/caseslist.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/form-wizard.css" />
}
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Ref. No. - @Model.case_id</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        List Of Documents (@Model.p.name.ToTitleCase() vs. @Model.d.name.ToTitleCase())
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-5 col-md-pull-1">
                                    <ul class="event-list">
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Summons With Notice</h2>
                                                @if (Model.allow16 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Summons_With_Notice");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="summonsdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="summonsdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow16 == "2")
                                                    {
                                                        <li class="unpaid"><img id="summonsupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Verified Complaint</h2>
                                                @if (Model.allow17 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Verified_Complaint");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="verifieddownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="verifieddownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow17 == "2")
                                                    {
                                                        <li class="unpaid"><img id="verifiedupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        @if (Model.waiver_default == "1")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Defendant</h2>
                                                    @if (Model.allow1 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_Defendant");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file.<span id="defendantdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="defendantdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow1 == "2")
                                                        {
                                                            <li class="unpaid"><img id="defendantupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.waiver_default == "2")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Service</h2>
                                                    @if (Model.allow7 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_Service");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file.<span id="servicedownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="servicedownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow7 == "2")
                                                        {
                                                            <li class="unpaid"><img id="serviceupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.d.check_ssn == "N")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of No SSN (Defendant)</h2>
                                                    @if (Model.allow2 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_NoSSN_Defendant");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="defendantnossndownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="defendantnossndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow2 == "2")
                                                        {
                                                            <li class="unpaid"><img id="defendantnossnupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.d.check_ssn == "R")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Refused SSN (Defendant)</h2>
                                                    @if (Model.allow5 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_RefuseSSN_Defendant");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="defendantrefusessndownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="defendantrefusessndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow5 == "2")
                                                        {
                                                            <li class="unpaid"><img id="defendantrefusessnupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Affidavit of Regularity</h2>
                                                @if (Model.allow6 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Affidavit_of_Regularity");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="regularitydownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="regularitydownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow6 == "2")
                                                    {
                                                        <li class="unpaid"><img id="regularityupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Affidavit of Plaintiff</h2>
                                                @if (Model.allow4 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Affidavit_of_Plaintiff");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="plaintiffdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="plaintiffdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow4 == "2")
                                                    {
                                                        <li class="unpaid"><img id="plaintiffupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        @if (Model.p.check_ssn == "N")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of No SSN (Plaintiff)</h2>
                                                    @if (Model.allow3 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_NoSSN_Plaintiff");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="plaintiffnossndownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="plaintiffnossndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow3 == "2")
                                                        {
                                                            <li class="unpaid"><img id="plaintiffnossnupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.casetype == "2" && (Model.ch.c1_hasssn == "N" || Model.ch.c2_hasssn == "N" || Model.ch.c3_hasssn == "N" || Model.ch.c4_hasssn == "N" || Model.ch.c5_hasssn == "N" || Model.ch.c6_hasssn == "N"))
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of No SSN (Children)</h2>
                                                    @if (Model.allow10 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_NoSSN_Children");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="childrennossndownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="childrennossndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow10 == "2")
                                                        {
                                                            <li class="unpaid"><img id="childrennossnupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.casetype == "2" && (Model.ch.c1_hasssn == "R" || Model.ch.c2_hasssn == "R" || Model.ch.c3_hasssn == "R" || Model.ch.c4_hasssn == "R" || Model.ch.c5_hasssn == "R" || Model.ch.c6_hasssn == "R"))
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Refused SSN (Children)</h2>
                                                    @if (Model.allow18 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Affidavit_of_RefuseSSN_Children");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="childrenrefusessndownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="childrenrefusessndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow18 == "2")
                                                        {
                                                            <li class="unpaid"><img id="childrenrefusessnupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Request for Judicial Intervention</h2>
                                                @if (Model.allow14 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "RJI");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="rjidownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow14 == "2")
                                                    {
                                                        <li class="unpaid"><img id="rjiupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Part 130 Certification</h2>
                                                @if (Model.allow13 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Part_130_Certification");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="partdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="partdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow13 == "2")
                                                    {
                                                        <li class="unpaid"><img id="partupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        @if (Model.casetype == "2")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Child Support Worksheet</h2>
                                                    @if (Model.allow9 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Child_Support_Worksheet");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="supportsheetdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                    <p class="desc text-justify"><i>Child Support Amount: $@ccc.GetNCPMonthlyChildSupportWithAddOn() (If there is no Child Support order)</i></p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="supportsheetdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow9 == "2")
                                                        {
                                                            <li class="unpaid"><img id="supportsheetupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Child Support Reference Sheet</h2>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="supportsheetrefdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.casetype == "2")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Support Collection Unit Info. Sheet</h2>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="scuinfodownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">NY State Case Registry</h2>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="caseregdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">UCS-111</h2>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="ucs111download" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Note of Isssue</h2>
                                                @if (Model.allow11 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Note_of_Issue");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file.  <span id="notedownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="notedownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow11 == "2")
                                                    {
                                                        <li class="unpaid"><img id="noteupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Notice of Entry</h2>
                                                @if (Model.allow12 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Notice_of_Entry");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="noticedownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="noticedownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow12 == "2")
                                                    {
                                                        <li class="unpaid"><img id="noticeupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Authorization</h2>
                                                @if (Model.allow8 == "2")
                                                {
                                                    int i = Array.IndexOf(files, "Authorization");
                                                    if (i > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="authorizationdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="authorizationdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    @if (Model.allow8 == "2")
                                                    {
                                                        <li class="unpaid"><img id="authorizationupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        @if (Model.m.marriage_clergyman == "R")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Removal of Barriers</h2>
                                                    @if (Model.allow15 == "2")
                                                    {
                                                        int i = Array.IndexOf(files, "Removal_of_Barriers");
                                                        if (i > -1)
                                                        {
                                                            <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[i]).Replace(".", "")</b> file. <span id="barriersdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="barriersdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        @if (Model.allow15 == "2")
                                                        {
                                                            <li class="unpaid"><img id="barriersupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Findings of Facts & Conclusions of Law</h2>
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="factsdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Judgement of Divorce</h2>
                                                @{
                                                    int j = Array.IndexOf(files, "Judgement_of_Divorce");
                                                    if (j > -1)
                                                    {
                                                        <div class="desc">You have uploaded a <b>@Path.GetExtension(files1[j]).Replace(".", "")</b> file. <span id="judgementdownload1" style="color:blue;font-weight:600;cursor:pointer;"> Download</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="desc">You have <b>not</b> uploaded any file.</div>
                                                    }
                                                }
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="judgementdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    <li class="unpaid"><img id="judgementupload" class="ui-tooltip up" width="50" height="50" title="Upload" src="~/Images/upload.ico" /></li>
                                                </ul>
                                            </div>
                                        </li>
                                        @if (Model.casetype == "2")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Request for Judicial Intervention Addendum</h2>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><a href="#downloadrjiaddendum" class="addendum"><img class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        <li>
                                            <div class="info">
                                                <h2 class="title">Certificate of Dissolution</h2>
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="paid"><img id="dissolutiondownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="xx">
    <form id="uploaddefendant" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploaddefendant" />
        <input type="submit" />
    </form>
    <form id="downloaddefendant" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloaddefendant" />
        <input type="submit" />
    </form>
    <form id="uploaddefendantnossn" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploaddefendantnossn" />
        <input type="submit" />
    </form>
    <form id="downloaddefendantnossn" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloaddefendantnossn" />
        <input type="submit" />
    </form>
    <form id="uploadplaintiffnossn" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadplaintiffnossn" />
        <input type="submit" />
    </form>
    <form id="downloadplaintiffnossn" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadplaintiffnossn" />
        <input type="submit" />
    </form>
    <form id="downloadchildrennossn" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadchildrennossn" />
        <input type="submit" />
    </form>
    <form id="uploadchildrennossn" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadchildrennossn" />
        <input type="submit" />
    </form>
    <form id="downloadchildrenrefusessn" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadchildrenrefusessn" />
        <input type="submit" />
    </form>
    <form id="uploadchildrenrefusessn" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadchildrenrefusessn" />
        <input type="submit" />
    </form>
    <form id="uploadplaintiff" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadplaintiff" />
        <input type="submit" />
    </form>
    <form id="downloadplaintiff" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadplaintiff" />
        <input type="submit" />
    </form>
    <form id="uploaddefendantrefusessn" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploaddefendantrefusessn" />
        <input type="submit" />
    </form>
    <form id="downloaddefendantrefusessn" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloaddefendantrefusessn" />
        <input type="submit" />
    </form>
    <form id="uploadregularity" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadregularity" />
        <input type="submit" />
    </form>
    <form id="downloadregularity" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadregularity" />
        <input type="submit" />
    </form>
    <form id="uploadservice" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadservice" />
        <input type="submit" />
    </form>
    <form id="downloadservice" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadservice" />
        <input type="submit" />
    </form>
    <form id="uploadauthorization" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadauthorization" />
        <input type="submit" />
    </form>
    <form id="downloadauthorization" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadauthorization" />
        <input type="submit" />
    </form>
    <form id="uploadsupportsheet" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadsupportsheet" />
        <input type="submit" />
    </form>
    <form id="downloadsupportsheet" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadsupportsheet" />
        <input type="submit" />
    </form>
    <form id="downloadsupportrefsheet" method="post" target="_blank">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadsupportrefsheet" />
        <input type="submit" />
    </form>
    <form id="downloadfacts" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadfacts" />
        <input type="submit" />
    </form>
    <form id="downloadjudgement" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadjudgement" />
        <input type="submit" />
    </form>
    <form id="uploadjudgement" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadjudgement" />
        <input type="submit" />
    </form>
    <form id="uploadnote" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadnote" />
        <input type="submit" />
    </form>
    <form id="downloadnote" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadnote" />
        <input type="submit" />
    </form>
    <form id="uploadnotice" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadnotice" />
        <input type="submit" />
    </form>
    <form id="downloadnotice" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadnotice" />
        <input type="submit" />
    </form>
    <form id="downloadscuinfo" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadscuinfo" />
        <input type="submit" />
    </form>
    <form id="uploadpart" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadpart" />
        <input type="submit" />
    </form>
    <form id="downloadpart" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadpart" />
        <input type="submit" />
    </form>
    <form id="uploadrji" method="post">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadrji" />
        <input type="submit" />
    </form>
    <form id="downloadrji" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadrji" />
        <input type="submit" />
    </form>
    <form id="uploadbarriers" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadbarriers" />
        <input type="submit" />
    </form>
    <form id="downloadbarriers" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadbarriers" />
        <input type="submit" />
    </form>
    <form id="uploadsummons" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadsummons" />
        <input type="submit" />
    </form>
    <form id="downloadsummons" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadsummons" />
        <input type="submit" />
    </form>
    <form id="uploadverified" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="file" type="file" class="file" data-preview-file-type="text">
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="upidentity" value="uploadverified" />
        <input type="submit" />
    </form>
    <form id="downloadverified" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" class="getuploaded" name="getuploaded" value="0" />
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadverified" />
        <input type="submit" />
    </form>
    <form id="downloaddissolution" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloaddissolution" />
        <input type="submit" />
    </form>
    <form id="downloadcasereg" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloadcasereg" />
        <input type="submit" />
    </form>
    <form id="downloaducs111" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="cid" value="@Model.case_id" />
        <input type="hidden" name="downidentity" value="downloaducs111" />
        <input type="submit" />
    </form>
</div>
<div id="downloadrjiaddendum" style="display:none;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Plaintiff Information
                        </h3>
                    </div>
                </div>
                @*Begin Form*@
                @using (Html.BeginForm("RJIAddendum", "Divorce", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("cid", @Model.case_id)
                    <div class="cls-content ">
                        <div class="cls-content-lg panel register-box-content">
                            <div class="panel-body">
                                <div class="rows" style="margin-top:-100px;margin-left:-10px;">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user"></i>
                                                    <i class="margin-right">P-First</i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("pfirstname", Model.p.name.GetFirstName(), new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user"></i>
                                                    <i class="margin-right">P-Last</i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("plastname", Model.p.name.GetLastName(), new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user"></i>
                                                    <i class="margin-right">D-First</i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("dfirstname", Model.d.name.GetFirstName(), new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user"></i>
                                                    <i class="margin-right">D-Last</i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("dlastname", Model.d.name.GetLastName(), new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (n >= 1)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C1-First</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c1firstname", Model.ch.c1_name.GetFirstName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C1-Last</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c1lastname", Model.ch.c1_name.GetLastName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (n >= 2)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C2-First</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c2firstname", Model.ch.c2_name.GetFirstName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C2-Last</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c2lastname", Model.ch.c2_name.GetLastName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (n >= 3)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C3-First</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c3firstname", Model.ch.c3_name.GetFirstName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C3-Last</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c3lastname", Model.ch.c3_name.GetLastName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (n >= 4)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C4-First</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c4firstname", Model.ch.c4_name.GetFirstName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C4-Last</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c4lastname", Model.ch.c4_name.GetLastName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (n >= 5)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C5-First</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c5firstname", Model.ch.c5_name.GetFirstName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-user"></i>
                                                        <i class="margin-right">C5-Last</i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("c5lastname", Model.ch.c5_name.GetLastName(), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="submit" id="sbmtBtn" class="btn btn-primary class-details" value="Submit" />
                    </div>
                }
                @*End of Form*@
                <!--===================================================-->
                <!--End Block Styled Form -->

            </div>
        </div>
    </div>
</div>
@section extrajs{
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/AdminDivorceDocuments.js"></script>
}

