﻿@model IEnumerable<goezlaw.Models.DivorceCase>
@using System.Globalization
@using goezlaw.Helpers
@using goezlaw.Models
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Admin Divorce Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Agency> aglist = (List<Agency>)ViewBag.agencydata;
    PaymentConfig pconfig = (PaymentConfig)ViewBag.pconfig;
    List<Agency> a1 = aglist.OrderBy(x => x.businessname.Decrypt()).ToList();
    IEnumerable<SelectListItem> agency = a1.Select(x => new SelectListItem
    {
        Value = x.id.ToString(),
        Text = x.businessname.Decrypt().ToTitleCase()
    });
    string s = "";
    if (!string.IsNullOrWhiteSpace(ViewBag.agencyid))
    {
        s = "Y";
    }
    string initialData;
    if (!Model.Any())
    {
        initialData = "";
    }
    else
    {
        initialData = new JavaScriptSerializer().Serialize(Model.First());
    }
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/divorcelist.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/beautytable.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }

    .event-list > li > .social > ul > li.details {
        margin-left: -100px;
    }

    .bootstrap-select.btn-group .dropdown-toggle {
        background: #fff;
    }

    .form-control {
        width: 115% !important;
    }

    .fancyboxform {
        display: none;
        max-width: 1200px;
        border-radius: 4px;
        transform: translateY(-50px);
        transition: all .33s;
    }

    .fancybox-slide--current #transfer_payment {
        transform: translateY(0);
    }
    .copytoclipboard {
        cursor: pointer;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Divorces</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Agency Submissions
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-9 col-sm-pull-2 col-lg-8 col-lg-pull-3 col-md-8 col-md-pull-2">
                                    <form style="margin-top:-40px;" method="post" target="_blank" action="~/Divorce/DivorceEdit">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <div class="">
                                                <div class="form-inline">
                                                    <div class="form-group col-xs-3">
                                                    </div>
                                                    <div class="form-group col-xs-3">
                                                        <input name="cid" class="form-control visible" type="text" value="DIV" />
                                                    </div>
                                                    <div class="form-group col-xs-3">
                                                        <input type="submit" class="form-control btn-success visible" value="Get Info" />
                                                    </div>
                                                    <div class="form-group col-xs-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br /><br />
                                    <form method="post">
                                        <div class="form-group">
                                            <div class="">
                                                <div class="form-inline">
                                                    <div class="form-group col-sm-3">
                                                        @Html.DropDownList("agencyid", agency, new { @class = "selectpicker form-control", id = "agencyid", data_live_search = "true", data_size = "5", Value = ViewBag.agencyid })
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        @Html.DropDownList("status", goezlaw.Helpers.DropDownData.status, "All Status", new { @class = "form-control", Value = ViewBag.status })
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        @Html.DropDownList("timespan", goezlaw.Helpers.DropDownData.sorttime, "All Timespan", new { @class = "form-control", Value = ViewBag.timespan })
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        @Html.DropDownList("archtype", goezlaw.Helpers.DropDownData.archived1, null, new { @class = "form-control", Value = ViewBag.archtype })
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <input type="submit" class="form-control btn-success visible" value="Filter" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br /><br /><br /><br />
                                    <ul class="event-list">
                                        @foreach (var item in Model)
                                        {
                                            Agency ag = aglist.Where(x => x.id == item.agency_id).FirstOrDefault();
                                            initialData = new JavaScriptSerializer().Serialize(item);
                                            <li>
                                                <time datetime="@item.case_date.Date">
                                                    <span class="refno copytoclipboard" data-clipboard-text="@item.case_id">@item.case_id</span>
                                                    <span class="day">@item.case_date.Day</span>
                                                    <span class="month">@item.case_date.ToString("MMM")</span>
                                                    <span class="year">@item.case_date.Year</span>
                                                </time>
                                                <div class="info">
                                                    <h2 class="title">@item.p.name.ToTitleCase() <i style="color:darkblue">vs.</i> @item.d.name.ToTitleCase() </h2>
                                                    <p class="desc"><b>Agency Name:</b> <i><a class="fancybox" data-fancybox data-type="iframe" data-src="/Home/AgencyView?id=@item.agency_id" href="javascript:;"><span class="agencyname">@ag.businessname.Decrypt().ToTitleCase()</span></a></i></p>
                                                    @if (item.index_no != null && item.index_no != "")
                                                    {
                                                        <p class="desc copytoclipboard" data-clipboard-text="@item.index_no">Index No: <b>@item.index_no</b> dated <b>@item.index_date</b></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="desc">Index Number <b>Not Available</b></p>
                                                    }
                                                    <p class="desc">Status: <b>@item.status.GetStatus()</b> </p>
                                                    <p class="desc">Comments: <i>@item.comments</i> </p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="details" style="position:absolute;top:20px"><img class="ui-tooltip view" width="25" height="20" title="View & Edit Submitted Form" src="~/Images/document.png" /><img class="ui-tooltip ack" width="25" height="20" title="Case Settings" src="~/Images/settings.png" /><img class="ui-tooltip docs" width="25" height="20" title="Download Documents" src="~/Images/download.png" /><img class="ui-tooltip uploads" width="22" height="18" title="Upload & Download Docs" src="~/Images/upload.png" /><img data-fancybox data-src="#transfer_payment" href="javascript:;" class="ui-tooltip transfer" width="25" height="20" title="Transfer Payment" src="~/Images/transferpayment.png" onclick='registermodelwithknockout(@Html.Raw(initialData));' /><img class="ui-tooltip delete" width="22" height="18" title="Delete Case" src="~/Images/delete.png" /></li>
                                                        <li style="margin-top:25px;">&nbsp;</li>
                                                        @if (!object.ReferenceEquals(item.t, null))
                                                        {
                                                            if (Amounts.CheckFullyPaid(item, ag, pconfig))
                                                            {
                                                                <li class="ui-tooltip paid" title="View Payment Details" style="margin-top:30px;"><a class="inline" href="#data-@item.case_id"><img width="80" height="80" src="~/Images/paid.png" /></a></li>
                                                            }
                                                            else if (Amounts.CheckPartiallyPaid(item, ag, pconfig))
                                                            {
                                                                <li class="ui-tooltip partpaid" title="Click Here to View Details" style="margin-bottom:30px;margin-top:30px;"><a class="inline" href="#data-@item.case_id">$@item.t.amount1 paid</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="ui-tooltip paid" title="Unpaid" style="margin-top:30px;"><img width="80" height="80" src="~/Images/unpaid.png" /></li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li class="ui-tooltip paid" title="Unpaid" style="margin-top:30px;"><img width="80" height="80" src="~/Images/unpaid.png" /></li>
                                                        }
                                                    </ul>
                                                    <form id="formview" action="~/Divorce/DivorceEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form id="formack" action="~/Divorce/CaseSettings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form id="formdocs" action="~/Divorce/AdminDivorceDocuments" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formdel" action="~/Divorce/DivorceDelete" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formupload" action="~/Divorce/DivorceUpload" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formupload" action="~/Divorce/DivorceDownload" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                </div>
                                                <div style="display:none">
                                                    <div id="data-@item.case_id">
                                                        <p style="text-align:center;font-weight:800;text-decoration:underline;font-size:1.0em;">Transaction Details</p>
                                                        @if (item.t == null) { }
                                                        else if (item.t.txn_id2 == null)
                                                        {
                                                            <p>Transaction Number: @item.t.txn_id1</p>
                                                            <p>Amount: $@item.t.amount1</p>
                                                            <p>Date: @item.t.date1</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Transaction Number: @item.t.txn_id1 & @item.t.txn_id2</p>
                                                            <p>Amount: $@item.t.amount1 & $@item.t.amount2</p>
                                                            <p>Date: @item.t.date1 & @item.t.date2</p>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fancybox-loading" style="display:none;"></div>
<div id="transfer_payment" class="fancyboxform">
    <h3 class="text-center">Transfer Payment</h3>
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("TransferPayment", "Divorce", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="case_id" data-bind="value:case_id" />
                <div>
                    <table style="width:60% !important;">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Transaction Id</th>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-bind="if:t_txn_id1">
                                <td><input type="checkbox" name="p1" class="t1">Trans. #1</td>
                                <td><span data-bind="text:t_txn_id1" /></td>
                                <td><span data-bind="text:moment(t_date1()).format('LL')" /></td>
                                <td><b><span data-bind="text:t_amount1" /></b></td>
                            </tr>
                            <tr data-bind="if:t_txn_id2">
                                <td><input type="checkbox" name="p2" class="t2">Trans. #2</td>
                                <td><span data-bind="text:t_txn_id2" /></td>
                                <td><span data-bind="text:moment(t_date2()).format('LL')" /></td>
                                <td><b><span data-bind="text:t_amount2" /></b></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">New Ref. #</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user "></i>
                                    </div>
                                    <div class="login-model">
                                        <input type="text" id="refno" name="refno" placeholder="New Ref. #" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <input type="submit" id="transferBtn" value="Transfer >>" class="btn btn-primary" style="margin-top:30px;"/>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/knockoutjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script type="text/javascript" src="~/Scripts/divorcemain.js"></script>
}
@section extrajs{
    <script>
        $(document).ready(function () {
            $('.t1,.t2,#refno,#transferBtn').show();
            divorce = new DivorceCase(@Html.Raw(initialData));
            ko.applyBindings(divorce);
        });
        function registermodelwithknockout(data) {
            divorce.case_id(data.case_id);
            divorce.t_txn_id1(data.t.txn_id1);
            divorce.t_amount1(data.t.amount1);
            divorce.t_date1(data.t.date1);
            divorce.t_txn_id2(data.t.txn_id2);
            divorce.t_amount2(data.t.amount2);
            divorce.t_date2(data.t.date2);
        }
        if ('@s' == "Y") {
            $('.selectpicker').val('@ViewBag.agencyid');
        }
        else {
            $('.selectpicker').val('');
        }
    </script>
}