﻿@{
    ViewBag.Title = "Admin Divorce Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/divorcelist.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/beautytable.css" />
}
<style>
    h2 {
        text-align: center;
    }

    .event-list > li > .social > ul > li.details {
        margin-left: -100px;
    }

    .bootstrap-select.btn-group .dropdown-toggle {
        background: #fff;
    }

    .form-control {
        width: 115% !important;
    }

    .fancyboxform {
        display: none;
        max-width: 1200px;
        border-radius: 4px;
        transform: translateY(-50px);
        transition: all .33s;
    }

    .fancybox-slide--current #transfer_payment {
        transform: translateY(0);
    }

    .fancybox-slide--current #payment_details {
        transform: translateY(0);
    }

    .copytoclipboard {
        cursor: pointer;
    }

    input[type=file] {
        display: none;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Divorces</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Agency Submissions
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row" style="margin-top:-60px;">
                                <img src='/Images/spinner.gif' width='80' height='80' class="spinner hidden spinner_top" style="position:absolute;left:46%;" />
                            </div>
                            <div class="row spinner_top" style="margin-top:80px;">&nbsp;</div>
                            <div class="row" style="margin-top:-40px;">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-9 col-sm-pull-2 col-lg-8 col-lg-pull-3 col-md-8 col-md-pull-2">
                                    <form method="post" target="_blank" action="~/Divorce/DivorceEdit">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <div class="">
                                                <div class="form-inline">
                                                    <div class="form-group col-sm-3">
                                                    </div>
                                                    <div class="form-group col-xs-6 col-md-3 col-sm-3">
                                                        <input name="cid" class="form-control visible" type="text" value="DIV" />
                                                    </div>
                                                    <div class="form-group col-xs-6 col-md-3 col-sm-3">
                                                        <input type="submit" class="form-control btn-success visible" value="Get Info" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br /><br />
                                    <form method="post">
                                        <div class="form-group">
                                            <div class="">
                                                <div class="form-inline">
                                                    <div class="form-group col-sm-3 ">
                                                        <img id="spinnerfordropdown" src='/Images/spinner.gif' width='35' height='35' style="margin-left:30px;" />
                                                    </div>
                                                    <div class="form-group col-sm-3 hidden agencylist">
                                                        <select name="agencyid" class="selectpicker form-control" id="agencyid" data-live-search="true" data-size="5"></select>
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        @Html.DropDownList("status", GoNyLaw.Helpers.DropDownData.status, "All Status", new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        @Html.DropDownList("timespan", GoNyLaw.Helpers.DropDownData.sorttime, "All Timespan", new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        @Html.DropDownList("archtype", GoNyLaw.Helpers.DropDownData.archived1, null, new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <div class="col-sm-6">
                                                            <input type="button" id="filterBtn" class="form-control btn-success visible" value="Filter" />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input type="button" id="resetBtn" class="form-control btn-success visible" value="Reset" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br /><br /><br /><br />
                                    <ul class="event-list" id="divorceList"></ul>
                                    <img src='/Images/spinner.gif' width='80' height='80' class="spinner" style="position:absolute;left:46%;margin-top:-5%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="formview" action="~/Divorce/DivorceEdit" method="post" target="_blank">
    @Html.AntiForgeryToken()
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<form id="formsettings" action="~/Divorce/CaseSettings" method="post" target="_blank">
    @Html.AntiForgeryToken()
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<form id="formdocs" action="~/Divorce/AdminDivorceDocuments" method="post" target="_blank">
    @Html.AntiForgeryToken()
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<form id="formdel" action="~/Divorce/DivorceDelete" method="post" target="_blank">
    @Html.AntiForgeryToken()
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<form id="formupload" action="~/Divorce/DivorceUpload" method="post" enctype="multipart/form-data" target="_blank">
    @Html.AntiForgeryToken()
    <input name="file" type="file" class="file" data-preview-file-type="text">
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<form id="formclouddownload" action="~/Divorce/DivorceDownload" method="post" target="_blank">
    @Html.AntiForgeryToken()
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<form id="formlogs" action="~/Divorce/DivorceLogs" method="post" target="_blank">
    @Html.AntiForgeryToken()
    <input type="hidden" name="cid" value="0" class="cid" />
</form>
<div id="payment_details" class="fancyboxform">
    <p style="text-align:center;font-weight:800;text-decoration:underline;font-size:1.0em;">Transaction Details</p>
    <div id="trans1" class="hidden">
        <p><b>Transaction # 1</b></p>
        <p id="t1_1"></p>
        <p id="t1_2"></p>
        <p id="t1_3"></p>
    </div>
    <div id="trans2" class="hidden">
        <p><b>Transaction # 2</b></p>
        <p id="t2_1"></p>
        <p id="t2_2"></p>
        <p id="t2_3"></p>
    </div>
</div>

<div id="transfer_payment" class="fancyboxform">
    <h3 class="text-center">Transfer Payment</h3>
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("TransferPayment", "Divorce", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="case_id" value="0" id="x_caseid" />
                <div>
                    <table style="width:60% !important;">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Transaction Id</th>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="trans_no_1">
                                <td><input type="checkbox" name="p1" class="t1">Trans. #1</td>
                                <td><span id="x1_t" /></td>
                                <td><span id="x1_d" /></td>
                                <td><b><span id="x1_a" /></b></td>
                            </tr>
                            <tr id="trans_no_2">
                                <td><input type="checkbox" name="p2" class="t2">Trans. #2</td>
                                <td><span id="x2_t" /></td>
                                <td><span id="x2_d" /></td>
                                <td><b><span id="x2_a" /></b></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <div class="form-group login-inner-box1">
                                <strong class="control-label">New Ref. #</strong>
                                <div class="input-group">
                                    <div class="input-group-addon ">
                                        <i class="fa fa-user "></i>
                                    </div>
                                    <div class="login-model">
                                        <input type="text" id="refno" name="refno" placeholder="New Ref. #" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <input type="submit" id="transferBtn" value="Transfer >>" class="btn btn-primary" style="margin-top:30px;" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<form name="form" id="ecourtsform" method="post" target="_blank" action="https://iapps.courts.state.ny.us/webcivil/FCASSearch">
    <input type=hidden id="hWhichPage" name="hWhichPage" value="I">
    <input type=hidden id="hCourtType" name="hCourtType" value="Supreme">
    <input type=hidden id="hPageNumber" name="hPageNumber" value="1">
    <input type=hidden id="hSearchKey" name="hSearchKey" value="">
    <input type=hidden id="txtIndex" name="txtIndex" value="0" size=20>
</form>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tmpl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script type="text/javascript" src="~/Scripts/admindivorcemain.js"></script>
}