﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Case Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css" />
    <style>
        .bootstrap-select.btn-group .dropdown-toggle {
            background: #fff;
            font-size: 14px;
            height: 100% !important;
        }
    </style>
}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Case Settings (@Model.case_id) - @Model.p.name.ToTitleCase() vs. @Model.d.name.ToTitleCase()
                    </h3>
                </div>
            </div>
            @*Begin Form*@
            @using (Html.BeginForm("UpdateCaseSettings", "Divorce", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.case_id)
                @Html.HiddenFor(x => x.date_status, new { @Value = ViewBag.dd })
                <div class="cls-content " style="margin-top:-60px;">
                    <div class="cls-content-lg panel register-box-content">
                        <div class="panel-body">
                            <div class="rows setup-content" id="step-1">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Notification Preference</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-exclamation-circle"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.notification_preference, GoNyLaw.Helpers.DropDownData.notification_preference, null, new { @class = "form-control", id = "status" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Status</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-o-notch"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.status, GoNyLaw.Helpers.DropDownData.status, "Select Status", new { @class = "form-control", id = "status" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Comments</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sticky-note"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.comments, new { @class = "form-control", id = "comments", placeholder = "Comments" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Index Number</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.index_no, new { @class = "form-control", id = "indexno", placeholder = "Index No.", maxlength = "11", pattern = "[0-9]{6}/[0-9]{4}" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date Index Purchased</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.index_date, new { @class = "form-control", id = "dateindex", placeholder = "Index Date" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Basis of Venue</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-balance-scale"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.basis_venue, GoNyLaw.Helpers.DropDownData.basisvenue, "Select Basis of Venue", new { @class = "form-control", id = "pbasis" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">County of Venue</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sticky-note"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.county_venue, new { @class = "form-control", id = "venue", placeholder = "County Venue" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Waiver/Default</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-gear"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.waiver_default, GoNyLaw.Helpers.DropDownData.waiver_default, "Select Type", new { @class = "form-control", id = "waiver" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date Summons Served</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.date_summons, new { @class = "form-control", id = "datesummons", placeholder = "Date of Summons" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="ps">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Transaction #1 Id</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-credit-card"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.t.txn_id1, new { @class = "form-control", id = "txnid1", placeholder = "Transaction ID1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Transaction #1 Amount</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.t.amount1, new { @class = "form-control", id = "txnamount1", placeholder = "Transaction Amount1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="pc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Transaction #1 Date</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.t.date1, new { @class = "form-control", id = "txndate1", placeholder = "Transaction Date1" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="ps">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Transaction #2 Id</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-credit-card"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.t.txn_id2, new { @class = "form-control", id = "txnid2", placeholder = "Transaction ID2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Transaction #2 Amount</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.t.amount2, new { @class = "form-control", id = "txnamount2", placeholder = "Transaction Amount2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="pc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Transaction #2 Date</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.t.date2, new { @class = "form-control", id = "txndate2", placeholder = "Transaction Date2" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 w">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received1.IsMinDate())
                                    {
                                        <strong class="control-label">Affidavit of Defendant</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow1 == "4")
                                        {
                                            <strong class="control-label">Affidavit of Defendant (<span style="color:red;">@Model.received1.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Affidavit of Defendant (<span style="color:green;">@Model.received1.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow1, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission4" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.d.check_ssn == "N")
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received2.IsMinDate())
                                        {
                                            <strong class="control-label">Affidavit of No SSN [D]</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow2 == "4")
                                            {
                                                <strong class="control-label">Affidavit of No SSN [D] (<span style="color:red;">@Model.received2.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Affidavit of No SSN [D] (<span style="color:green;">@Model.received2.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow2, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission8" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.p.check_ssn == "N")
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received3.IsMinDate())
                                        {
                                            <strong class="control-label">Affidavit of No SSN [P]</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow3 == "4")
                                            {
                                                <strong class="control-label">Affidavit of No SSN [P] (<span style="color:red;">@Model.received3.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Affidavit of No SSN [P] (<span style="color:green;">@Model.received3.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow3, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission7" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.casetype == "2" && (Model.ch.c1_hasssn == "N" || Model.ch.c2_hasssn == "N" || Model.ch.c3_hasssn == "N" || Model.ch.c4_hasssn == "N" || Model.ch.c5_hasssn == "N" || Model.ch.c6_hasssn == "N"))
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received10.IsMinDate())
                                        {
                                            <strong class="control-label">Affidavit of No SSN [C]</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow10 == "4")
                                            {
                                                <strong class="control-label">Affidavit of No SSN [C] (<span style="color:red;">@Model.received10.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Affidavit of No SSN [C] (<span style="color:green;">@Model.received10.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow10, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.casetype == "2" && (Model.ch.c1_hasssn == "R" || Model.ch.c2_hasssn == "R" || Model.ch.c3_hasssn == "R" || Model.ch.c4_hasssn == "R" || Model.ch.c5_hasssn == "R" || Model.ch.c6_hasssn == "R"))
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received18.IsMinDate())
                                        {
                                            <strong class="control-label">Affidavit of Refused SSN [C]</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow18 == "4")
                                            {
                                                <strong class="control-label">Affidavit of Refused SSN [C] (<span style="color:red;">@Model.received18.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Affidavit of Refused SSN [C] (<span style="color:green;">@Model.received18.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow18, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission18" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received4.IsMinDate())
                                    {
                                        <strong class="control-label">Affidavit of Plaintiff</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow4 == "4")
                                        {
                                            <strong class="control-label">Affidavit of Plaintiff (<span style="color:red;">@Model.received4.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Affidavit of Plaintiff (<span style="color:green;">@Model.received4.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow4, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission3" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.d.check_ssn == "R")
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received5.IsMinDate())
                                        {
                                            <strong class="control-label">Affidavit of Ref. SSN [D]</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow5 == "4")
                                            {
                                                <strong class="control-label">Affidavit of Ref. SSN [D] (<span style="color:red;">@Model.received5.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Affidavit of Ref. SSN [D] (<span style="color:green;">@Model.received5.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow5, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission9" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received6.IsMinDate())
                                    {
                                        <strong class="control-label">Affidavit of Regularity</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow6 == "4")
                                        {
                                            <strong class="control-label">Affidavit of Regularity (<span style="color:red;">@Model.received6.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Affidavit of Regularity (<span style="color:green;">@Model.received6.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow6, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission3" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 d">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received7.IsMinDate())
                                    {
                                        <strong class="control-label">Affidavit of Service</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow7 == "4")
                                        {
                                            <strong class="control-label">Affidavit of Service (<span style="color:red;">@Model.received7.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Affidavit of Service (<span style="color:green;">@Model.received7.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow7, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received8.IsMinDate())
                                    {
                                        <strong class="control-label">Authorization</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow8 == "4")
                                        {
                                            <strong class="control-label">Authorization (<span style="color:red;">@Model.received8.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Authorization (<span style="color:green;">@Model.received8.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow8, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.casetype == "2")
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received9.IsMinDate())
                                        {
                                            <strong class="control-label">Child Support Worksheet</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow9 == "3")
                                            {
                                                <strong class="control-label">Child Support Worksheet (<span style="color:red;">@Model.received9.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Child Support Worksheet (<span style="color:green;">@Model.received9.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow9, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received11.IsMinDate())
                                    {
                                        <strong class="control-label">Note of Issue</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow11 == "4")
                                        {
                                            <strong class="control-label">Note of Issue (<span style="color:red;">@Model.received11.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Note of Issue (<span style="color:green;">@Model.received11.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow11, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received12.IsMinDate())
                                    {
                                        <strong class="control-label">Notice of Entry</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow12 == "4")
                                        {
                                            <strong class="control-label">Notice of Entry (<span style="color:red;">@Model.received12.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Notice of Entry (<span style="color:green;">@Model.received12.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow12, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received13.IsMinDate())
                                    {
                                        <strong class="control-label">Part 130 Cert.</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow13 == "4")
                                        {
                                            <strong class="control-label">Part 130 Cert. (<span style="color:red;">@Model.received13.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Part 130 Cert. (<span style="color:green;">@Model.received13.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow13, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received14.IsMinDate())
                                    {
                                        <strong class="control-label">RJI</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow14 == "4")
                                        {
                                            <strong class="control-label">RJI (<span style="color:red;">@Model.received14.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">RJI (<span style="color:green;">@Model.received14.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow14, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission10" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.m.marriage_clergyman == "R")
                            {
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        @if (Model.received15.IsMinDate())
                                        {
                                            <strong class="control-label">Removal of Barriers</strong>
                                        }
                                        else
                                        {
                                            if (Model.allow15 == "4")
                                            {
                                                <strong class="control-label">Removal of Barriers (<span style="color:red;">@Model.received15.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                            else
                                            {
                                                <strong class="control-label">Removal of Barriers (<span style="color:green;">@Model.received15.ToString("MM/dd/yyyy")</span>)</strong>
                                            }
                                        }
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.allow15, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission6" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received16.IsMinDate())
                                    {
                                        <strong class="control-label">Summons With Notice</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow16 == "4")
                                        {
                                            <strong class="control-label">Summons With Notice (<span style="color:red;">@Model.received16.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Summons With Notice (<span style="color:green;">@Model.received16.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow16, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission1" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    @if (Model.received17.IsMinDate())
                                    {
                                        <strong class="control-label">Verified Complaint</strong>
                                    }
                                    else
                                    {
                                        if (Model.allow17 == "4")
                                        {
                                            <strong class="control-label">Verified Complaint (<span style="color:red;">@Model.received17.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                        else
                                        {
                                            <strong class="control-label">Verified Complaint (<span style="color:green;">@Model.received17.ToString("MM/dd/yyyy")</span>)</strong>
                                        }
                                    }
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-certificate"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.allow17, GoNyLaw.Helpers.DropDownData.permission, new { @class = "form-control", id = "permission1" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.casetype == "2" && !object.ReferenceEquals(Model.co, null) && Model.co.any_order == "Y")
                            {
                                if (!string.IsNullOrWhiteSpace(Model.co.c1_index))
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <strong class="control-label">Court Order 1</strong>
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBoxFor(x => x.received_co1, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if (!string.IsNullOrWhiteSpace(Model.co.c2_index))
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <strong class="control-label">Court Order 2</strong>
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBoxFor(x => x.received_co2, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if (!string.IsNullOrWhiteSpace(Model.co.c3_index))
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <strong class="control-label">Court Order 3</strong>
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBoxFor(x => x.received_co3, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if (!string.IsNullOrWhiteSpace(Model.co.c4_index))
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <strong class="control-label">Court Order 4</strong>
                                            <div class="input-group date dates">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBoxFor(x => x.received_co4, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    <strong class="control-label">Archive</strong>
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.DropDownListFor(x => x.archived, GoNyLaw.Helpers.DropDownData.yesno, new { @class = "form-control", id = "archived" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                                <i class="margin-right">Agency</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.agency_id, GoNyLaw.Helpers.DropDownData.agency, new { @class = "selectpicker form-control", id = "agencyid" })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    <strong class="control-label">Agency</strong>
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.TextBoxFor(x => x.agency_id, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="panel-footer text-right">
                    <input type="submit" id="sbmtBtn" class="btn btn-primary class-details" value="Submit" />
                </div>
            }
            @*End of Form*@
            <!--===================================================-->
            <!--End Block Styled Form -->

        </div>
    </div>
</div>
@section extrajs{
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
}
@section scripts{
    <script>
        $(document).ready(function () {
            @if (Model.waiver_default == "1")
            {
                @:$('.d').hide();
                                        @:$('.w').show();
                                    }
            else if (Model.waiver_default == "2")
            {
                @:$('.w').hide();
                                        @:$('.d').show();
                                    }
        });
        $('.dates').datetimepicker({ format: 'MM/DD/YYYY' });
        $('#pbasis').change(function () {
            if ($(this).val() == 'P') {
                $('#venue').val('@Model.p.county');
            }
            else if ($(this).val() == 'D') {
                $('#venue').val('@Model.d.county');
            }
            else if ($(this).val() == 'C') {
                $('#venue').val('New York');
            }
        });
        $('#waiver').change(function () {
            if ($(this).val() == '2') {
                $('.w').hide();
                $('.d').show();
            }
            else if ($(this).val() == '1') {
                $('.d').hide();
                $('.w').show();
            }
        });
    </script>
}


