﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <style type="text/css">
                @@page { size: 8.5in 11in; margin: 1in }
                p { margin-bottom: 0.1in; line-height: 120% }
                h1 { margin-top: 0.33in; margin-bottom: 0.07in; background: #fadccd; border: 1.00pt solid #d55816; padding: 0in; color: #6a2b0b; line-height: 0.4in; page-break-after: auto }
                h1.western { font-family: "Cambria", serif; font-style: italic }
                h1.cjk { font-family: "Cambria"; font-size: 24pt; font-style: italic }
                h1.ctl { font-family: "Cambria"; font-size: 24pt; font-style: italic }
                body{
                    margin-left:1in;
                    margin-right:1in;
                }
    </style>
</head>
<body lang="en" dir="ltr" xml:lang="en">
    <h1 class="western text-center">
        DO NOT CONTINUE WITHOUT READING FIRST!!
    </h1>
    <p style="margin-bottom: 0.14in; line-height: 0.15in">
        <br />
        <br />
    </p>
    <p style="margin-bottom: 0.14in; line-height: 0.23in">
        <font size="4" style="font-size: 13pt">
            <strong>
                DIVORCE PRICE
                (<u>AS AN AGENCY</u>):
            </strong>
        </font>
    </p>
    <ul>
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    With Children
                                    <b>$685</b>
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    Without
                                    Children <b>$650</b>
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ul>
    <p style="margin-bottom: 0.14in; background: #00ffff; line-height: 115%">
        <font size="2" style="font-size: 9pt">
            <em>
                <strong>
                    (THIS IS WHAT
                    WE CHARGE YOUR AGENCY….. THIS IS OUR
                    PRICE.)
                </strong>
            </em>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 0.23in">
        <font size="4" style="font-size: 13pt">
            <strong>
                ORDER IN WHICH
                DOCUMENTS ARE TO BE SIGNED AND DATED:
            </strong>
        </font>
    </p>
    <ol>
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    Summons With
                                    Notice
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ol>
    <ul>
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    This is
                                    always the 1<sup>
                                        <font size="2" style="font-size: 9pt">st</font>
                                    </sup> document that gets
                                    signed by the Plaintiff and it must be mailed to our
                                    office so that we can purchase the index
                                    number.
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ul>
    <p style="margin-bottom: 0.14in; line-height: 0.28in">
        <font size="5" style="font-size: 17pt">
            Please take notice
            that if both the Plaintiff and the Defendant are going to
            sign the divorce documents they can sign all the documents on
            the same day but if you do not know when the Defendant is
            going to sign then you must follow the order set below
            !!!!!!!!!
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 115%">
        <br />
    </p>
    <ol start="2">
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    Verified
                                    Complaint
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ol>
    <ul>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                This document is to be signed in two places and in front
                of a NOTARY PUBLIC after that index number has been
                purchased.
            </p>
        </li>
    </ul>
    <p style="margin-bottom: 0in; line-height: 115%">
        <br />
    </p>
    <ol start="3">
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    Affidavit of
                                    Service(Default), Affidavit of
                                    Defendant(Waiver)
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ol>
    <ul>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Defendant must sign or be served <strong>
                    within 120
                    days
                </strong> of index purchase.
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Defendant <strong>MUST</strong> sign or be served in the
                State or Country provided to us.
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                If served out of state or Country <strong>MUST</strong>
                provide proof. (Ex.: Flight itinerary and copy of
                passport, travel receipt)
            </p>
        </li>
    </ul>
    <p style="margin-bottom: 0in; line-height: 115%">
        <br />
    </p>
    <ol start="4">
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    All Documents
                                    (Default or Waiver) along with
                                    RJI
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ol>
    <ul>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                These documents include:
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Note of Issue
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Part 130 Certification
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Affidavit of Regularity
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Affidavit of Plaintiff
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Affidavit of No Social Security (if applicable)
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                Removal of Barriers to Remarriage (if applicable)
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; line-height: 115%">
                If there are children <strong>
                    under the age of
                    21
                </strong> we require the child support sheet.
            </p>
        </li>
        <li>
            <p style="margin-bottom: 0in; font-variant: normal; font-style: normal; line-height: 115%">
                <span style="display: inline-block; border: none; padding: 0in">
                    <font face="Calibri, serif">
                        <font size="3" style="font-size: 12pt">
                            <span style="background: #ffffff">
                                <font color="#000000">
                                    If there are
                                    court orders (past or present) <strong>
                                        we
                                        require
                                    </strong> <strong>ORIGINAL COURT ORDERS</strong>.
                                    (Ex.: Child Support, Protection, Visitation,
                                    Custody)
                                </font>
                            </span>
                        </font>
                    </font>
                </span>
            </p>
        </li>
    </ul>
    <p style="margin-bottom: 0in; background: #4ade32; line-height: 0.23in">
        <font size="4" style="font-size: 13pt">
            <u>
                <strong>
                    All
                    documents are to be mailed to:
                </strong>
            </u>
        </font>
    </p>
    <p style="margin-bottom: 0in; background: #4ade32; line-height: 0.23in">
        <font size="4" style="font-size: 13pt">
            <u>
                <strong>
                    GoNyLaw
                    DIVORCES ATTN: KATHY
                </strong>
            </u>
        </font>
    </p>
    <p style="margin-bottom: 0in; background: #4ade32; line-height: 0.23in">
        <font size="4" style="font-size: 13pt">
            <u>
                <strong>
                    480 39th
                    street, Suite 2R, Brooklyn, NY – 11232
                </strong>
            </u>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%">
        <br />
        <br />
    </p>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>