﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Helpers
@using GoNyLaw.Models
@{
    ViewBag.Title = "Divorce Documents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    LawOfficeDetail ld = new LawOfficeDetailContext().LawOfficeDetail.Where(x => x.id == "1" || Model.allow1 == "2").SingleOrDefault();
    if (!Directory.Exists(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads"))
    {
        Directory.CreateDirectory(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads");
    }
    string[] files = Directory.GetFiles(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads", "*", SearchOption.AllDirectories)
    .Select(f => Path.GetFileNameWithoutExtension(f)).ToArray();
    string[] files1 = Directory.GetFiles(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminUploads", "*", SearchOption.AllDirectories)
                .Select(f => Path.GetFileName(f)).ToArray();
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/caseslist.css" />
}
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Ref. No. - @Model.case_id</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        List Of Documents (@Model.p.name.ToTitleCase() vs. @Model.d.name.ToTitleCase())
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-5 col-md-pull-1">
                                    <ul class="event-list">
                                        @if (Model.allow16 == "1" || Model.allow16 == "2" || Model.allow16 == "3" || Model.allow16 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Summons With Notice</h2>
                                                    @if (Model.allow16 == "3")
                                                    {
                                                        if (!Model.received16.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received16.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow16 == "4")
                                                    {
                                                        if (!Model.received16.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received16.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow16 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="summonsdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow17 == "1" || Model.allow17 == "2" || Model.allow17 == "3" || Model.allow17 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Verified Complaint</h2>
                                                    @if (Model.allow17 == "3")
                                                    {
                                                        if (!Model.received17.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received17.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow17 == "4")
                                                    {
                                                        if (!Model.received17.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received17.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow17 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="verifieddownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow1 == "1" || Model.allow1 == "2" || Model.allow1 == "3" || Model.allow1 == "4") && Model.waiver_default == "1")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Defendant</h2>
                                                    @if (Model.allow1 == "3")
                                                    {
                                                        if (!Model.received1.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received1.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow1 == "4")
                                                    {
                                                        if (!Model.received1.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received1.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow1 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="defendantdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow7 == "1" || Model.allow7 == "2" || Model.allow7 == "3" || Model.allow7 == "4") && Model.waiver_default == "2")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Service</h2>
                                                    @if (Model.allow7 == "3")
                                                    {
                                                        if (!Model.received7.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received7.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow7 == "4")
                                                    {
                                                        if (!Model.received7.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received7.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow7 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="servicedownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow2 == "1" || Model.allow2 == "2" || Model.allow2 == "3" || Model.allow2 == "4") && Model.d.check_ssn == "N")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of No SSN (Defendant)</h2>
                                                    @if (Model.allow2 == "3")
                                                    {
                                                        if (!Model.received2.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received2.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow2 == "4")
                                                    {
                                                        if (!Model.received2.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received2.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow2 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="defendantnossndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.casetype == "2" && (Model.allow10 == "1" || Model.allow10 == "2" || Model.allow10 == "3" || Model.allow10 == "4") && (Model.ch.c1_hasssn == "N" || Model.ch.c2_hasssn == "N" || Model.ch.c3_hasssn == "N" || Model.ch.c4_hasssn == "N" || Model.ch.c5_hasssn == "N" || Model.ch.c6_hasssn == "N"))
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of No SSN (Children)</h2>
                                                    @if (Model.allow10 == "3")
                                                    {
                                                        if (!Model.received10.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received10.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow10 == "4")
                                                    {
                                                        if (!Model.received10.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received10.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow10 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="childrennossndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow5 == "1" || Model.allow5 == "2" || Model.allow5 == "3" || Model.allow5 == "4") && Model.d.check_ssn == "R")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Refused SSN (Defendant)</h2>
                                                    @if (Model.allow5 == "3")
                                                    {
                                                        if (!Model.received5.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received5.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow5 == "4")
                                                    {
                                                        if (!Model.received5.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received5.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow5 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="defendantrefusessndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow18 == "1" || Model.allow18 == "2" || Model.allow18 == "3" || Model.allow18 == "4") && Model.d.check_ssn == "R")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Refused SSN (Children)</h2>
                                                    @if (Model.allow18 == "3")
                                                    {
                                                        if (!Model.received18.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received18.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow18 == "4")
                                                    {
                                                        if (!Model.received18.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received18.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow18 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="childrenrefusessndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow6 == "1" || Model.allow6 == "2" || Model.allow6 == "3" || Model.allow6 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Regularity</h2>
                                                    @if (Model.allow6 == "3")
                                                    {
                                                        if (!Model.received6.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received6.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow6 == "4")
                                                    {
                                                        if (!Model.received6.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received6.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow6 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="regularitydownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow4 == "1" || Model.allow4 == "2" || Model.allow4 == "3" || Model.allow4 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of Plaintiff</h2>
                                                    @if (Model.allow4 == "3")
                                                    {
                                                        if (!Model.received4.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received4.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow4 == "4")
                                                    {
                                                        if (!Model.received4.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received4.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow4 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="plaintiffdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow3 == "1" || Model.allow3 == "2" || Model.allow3 == "3" || Model.allow3 == "4") && Model.p.check_ssn == "N")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Affidavit of No SSN (Plaintiff)</h2>
                                                    @if (Model.allow3 == "3")
                                                    {
                                                        if (!Model.received3.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received3.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow3 == "4")
                                                    {
                                                        if (!Model.received3.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received3.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow3 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="plaintiffnossndownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow14 == "1" || Model.allow14 == "2" || Model.allow14 == "3" || Model.allow14 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Request For Judicial Intervention</h2>
                                                    @if (Model.allow14 == "3")
                                                    {
                                                        if (!Model.received14.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received14.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow14 == "4")
                                                    {
                                                        if (!Model.received14.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received14.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow14 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="rjidownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow13 == "1" || Model.allow13 == "2" || Model.allow13 == "3" || Model.allow13 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Part 130 Certification</h2>
                                                    @if (Model.allow13 == "3")
                                                    {
                                                        if (!Model.received13.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received13.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow13 == "4")
                                                    {
                                                        if (!Model.received13.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received13.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow13 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="partdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if ((Model.allow9 == "1" || Model.allow9 == "2" || Model.allow9 == "3" || Model.allow9 == "4") && Model.casetype == "2")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Child Support Sheet</h2>
                                                    @if (Model.allow9 == "3")
                                                    {
                                                        if (!Model.received9.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received9.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow9 == "4")
                                                    {
                                                        if (!Model.received9.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received9.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow9 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="supportsheetdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Child Support Reference Sheet</h2>
                                                    <p class="desc text-justify"><i>This Document is needed for the purpose of <b>reference only</b>.</i></p>
                                                    <p class="desc"></p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="supportsheetrefdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if ((Model.allow15 == "1" || Model.allow15 == "2" || Model.allow15 == "3" || Model.allow15 == "4") && Model.m.marriage_clergyman == "R")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Removal of Barriers</h2>
                                                    @if (Model.allow15 == "3")
                                                    {
                                                        if (!Model.received15.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received15.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow15 == "4")
                                                    {
                                                        if (!Model.received15.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received15.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow15 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="barriersdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow8 == "1" || Model.allow8 == "2" || Model.allow8 == "3" || Model.allow8 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Authorization</h2>
                                                    @if (Model.allow8 == "3")
                                                    {
                                                        if (!Model.received8.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received8.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow8 == "4")
                                                    {
                                                        if (!Model.received8.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received8.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow8 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="authorizationdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow11 == "1" || Model.allow11 == "2" || Model.allow11 == "3" || Model.allow11 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Note of Issue</h2>
                                                    @if (Model.allow11 == "3")
                                                    {
                                                        if (!Model.received11.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received11.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow11 == "4")
                                                    {
                                                        if (!Model.received11.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received11.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow11 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="notedownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @if (Model.allow12 == "1" || Model.allow12 == "2" || Model.allow12 == "3" || Model.allow12 == "4")
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Notice of Entry</h2>
                                                    @if (Model.allow12 == "3")
                                                    {
                                                        if (!Model.received12.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document on  <b style="color:green;">@Model.received12.ToString("MM/dd/yyyy")</b></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We have received this document.</i></p>
                                                        }
                                                    }
                                                    else if (Model.allow12 == "4")
                                                    {
                                                        if (!Model.received12.IsMinDate())
                                                        {
                                                            <p class="desc text-justify"><i>We received the document on <b style="color:red;">@Model.received12.ToString("MM/dd/yyyy")</b> but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc text-justify"><i>We received the document but it was <b style="color:red;">DEFECTIVE</b>. This Document needs to be re-downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="desc text-justify"><i>This Document needs to be downloaded, signed (in <b>BLACK</b> ink only) and mailed to <span style="font-weight:600">GoNyLaw, @ld.street, @ld.city, @ld.state-@ld.zip.</span></i></p>
                                                    }
                                                    <p class="desc"></p>
                                                </div>
                                                @if (Model.allow12 != "3")
                                                {
                                                    <div class="social">
                                                        <ul>
                                                            <li class="paid"><img id="noticedownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                        @{
                                            int i = Array.IndexOf(files, "Judgement_of_Divorce");
                                        }
                                        @if (i > -1)
                                        {
                                            <li>
                                                <div class="info">
                                                    <h2 class="title">Judgement of Divorce</h2>
                                                    <p class="desc text-justify"><i>This is the Scanned Copy of the Original Certified Judgement of Divorce.</i></p>
                                                    <p class="desc"></p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="paid"><img id="judgementdownload" class="ui-tooltip down" width="50" height="50" title="Download" src="~/Images/download.png" /></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="xx">
    @if (Model.allow16 == "1" || Model.allow16 == "2" || Model.allow16 == "4")
    {
        <form id="downloadsummons" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadsummons" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow17 == "1" || Model.allow17 == "2" || Model.allow17 == "4")
    {
        <form id="downloadverified" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadverified" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow1 == "1" || Model.allow1 == "2" || Model.allow1 == "4")
    {
        <form id="downloaddefendant" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloaddefendant" />
            <input type="submit" />
        </form>
    }

    @if (Model.allow7 == "1" || Model.allow7 == "2" || Model.allow7 == "4")
    {
        <form id="downloadservice" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadservice" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow2 == "1" || Model.allow2 == "2" || Model.allow2 == "4")
    {
        <form id="downloaddefendantnossn" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloaddefendantnossn" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow10 == "1" || Model.allow10 == "2" || Model.allow10 == "4")
    {
        <form id="downloadchildrennossn" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadchildrennossn" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow18 == "1" || Model.allow18 == "2" || Model.allow18 == "4")
    {
        <form id="downloadchildrenrefusessn" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadchildrenrefusessn" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow5 == "1" || Model.allow5 == "2" || Model.allow5 == "4")
    {
        <form id="downloaddefendantrefusessn" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloaddefendantrefusessn" />
            <input type="submit" />
        </form>
    }

    @if (Model.allow6 == "1" || Model.allow6 == "2" || Model.allow6 == "4")
    {
        <form id="downloadregularity" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadregularity" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow4 == "1" || Model.allow4 == "2" || Model.allow4 == "4")
    {
        <form id="downloadplaintiff" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadplaintiff" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow3 == "1" || Model.allow3 == "2" || Model.allow3 == "4")
    {
        <form id="downloadplaintiffnossn" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadplaintiffnossn" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow14 == "1" || Model.allow14 == "2" || Model.allow14 == "4")
    {
        <form action="~/Divorce/RJI" id="downloadrji" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow13 == "1" || Model.allow13 == "2" || Model.allow13 == "4")
    {
        <form id="downloadpart" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadpart" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow9 == "1" || Model.allow9 == "2" || Model.allow9 == "4")
    {
        <form id="downloadsupportsheet" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadsupportsheet" />
            <input type="submit" />
        </form>
        <form id="downloadsupportrefsheet" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadsupportrefsheet" />
            <input type="submit" />
        </form>
    }

    @if (Model.allow15 == "1" || Model.allow15 == "2" || Model.allow15 == "4")
    {
        <form id="downloadbarriers" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadbarriers" />
            <input type="submit" />
        </form>
    }

    @if (Model.allow8 == "1" || Model.allow8 == "2" || Model.allow8 == "4")
    {
        <form id="downloadauthorization" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadauthorization" />
            <input type="submit" />
        </form>
    }

    @if (Model.allow11 == "1" || Model.allow11 == "2" || Model.allow11 == "4")
    {
        <form id="downloadnote" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadnote" />
            <input type="submit" />
        </form>
    }
    @if (Model.allow12 == "1" || Model.allow12 == "2" || Model.allow12 == "4")
    {
        <form id="downloadnotice" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadnotice" />
            <input type="submit" />
        </form>
    }
    @if (i > -1)
    {

        <form id="downloadjudgement" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="cid" value="@Model.case_id" />
            <input type="hidden" name="downidentity" value="downloadjudgement" />
            <input type="submit" />
        </form>
    }
</div>
@section extrajs{
    <script type="text/javascript" src="~/Scripts/DivorceDocuments.js">s</script>
}
