﻿@model IEnumerable<GoNyLaw.Models.DivorceLog>
@using GoNyLaw.Helpers;
@{
    ViewBag.Title = "Divorce Case Log";
    if (ViewBag.type == "s")
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    DateTime dt = DateTime.Parse("01/01/2016");
}
@section extracsslinks{
    <link type="text/css" rel="stylesheet" href="~/Content/beautytable.css" />
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @if (Model.Any())
                        {
                            @:Log For @Model.First().case_id
                        }
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div style="margin-top:-30px;margin-left:-8%;">
                            <table style="width:110% !important;">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Recepient</th>
                                        <th>Subject</th>
                                        <th>Body</th>
                                        <th>Files</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.dateaction.ToString("MM/dd/yyyy hh:mm tt")
                                                </td>
                                                <td>
                                                    @if (item.type == "E")
                                                    {
                                                        @:<span style="color:purple;font-weight:600;">Email</span>
                                                    }
                                                    else if (item.type == "S")
                                                    {
                                                        @:<span style="color:blue;font-weight:600;">SMS</span>
                                                    }
                                                    else if (item.type == "ES")
                                                    {
                                                        @:<span style="color:limegreen;font-weight:600;">Email & SMS</span>
                                                    }
                                                </td>
                                                <td style="font-weight:600;">
                                                    @if (item.recepient == 1)
                                                    {
                                                        @:Agency
                                                    }
                                                    else if (item.recepient == 2)
                                                    {
                                                        @:Client
                                                    }
                                                    else if (item.recepient == 3)
                                                    {
                                                        @:Agency & Client
                                                    }
                                                </td>
                                                <td style="font-weight:600;">
                                                    @item.subject
                                                </td>
                                                <td style="font-weight:600;">
                                                    @item.body
                                                </td>
                                                <td>
                                                    @if (item.type == "E" || item.type == "ES")
                                                    {
                                                        if (!string.IsNullOrEmpty(item.filename1))
                                                        {
                                                            <a href="~/Uploads/@item.case_id/ReceivedEmails/@item.filename1" target="_blank"><b>File</b></a>
                                                        }
                                                        if (!string.IsNullOrEmpty(item.filename2))
                                                        {
                                                            <a href="~/Uploads/@item.case_id/ReceivedEmails/@item.filename2" target="_blank"><b>File</b></a>
                                                        }
                                                        if (!string.IsNullOrEmpty(item.filename3))
                                                        {
                                                            <a href="~/Uploads/@item.case_id/ReceivedEmails/@item.filename3" target="_blank"><b>File</b></a>
                                                        }
                                                        if (!string.IsNullOrEmpty(item.filename4))
                                                        {
                                                            <a href="~/Uploads/@item.case_id/ReceivedEmails/@item.filename4" target="_blank"><b>File</b></a>
                                                        }
                                                        if (!string.IsNullOrEmpty(item.filename5))
                                                        {
                                                            <a href="~/Uploads/@item.case_id/ReceivedEmails/@item.filename5" target="_blank"><b>File</b></a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @:NA
                                                         }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/logs.js"></script>
}
@section extrajs{
    <script>
        $(document).ready(function () {
            $('#typeofcase').val('Criminal');
        });
    </script>
}
