﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Enter Security Code";
    Layout = "~/Views/Shared/_FreeLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/form-wizard.css" />
}
<style>
    .cls-content {
        padding-top: 0 !important;
    }

</style>
<div id="page-title">
    <h1 class="page-header text-overflow text-center" style="margin-left:-20%;"><b>Enter Security Code</b></h1>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Enter Security Code sent over your Cell Phone
                    </h3>
                </div>
            </div>
            @*Begin Form*@
            @using (Html.BeginForm("DivorceViewClient", "Divorce", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.case_id, new { @Value = ViewBag.cid})
                <div class="cls-content ">
                    <div class="cls-content-lg panel register-box-content">
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="form-group login-inner-box1">
                                    <strong class="control-label">Enter Security Code</strong>
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-user-secret"></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.TextBoxFor(x => x.smscode, new { @class = "form-control", placeholder = "SMS Code", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="submit" id="sbmtBtn" class="btn btn-primary class-details" value="Submit" />
                </div>
            }
            @*End of Form*@
            <!--===================================================-->
            <!--End Block Styled Form -->

        </div>
    </div>
</div>





