﻿@model GoNyLaw.Models.DivorceCase
@{
    ViewBag.Title = "Divorce Without Children";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var e = ViewBag.useremail;
    var p = ViewBag.userphone;
    var m = ViewBag.usermobile;    
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/form-wizard.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
}
<style>
    .cls-content {
        padding-top: 0 !important;
    }
    .setup-content:not(#step-1),#sbmtBtn,#bkBtn{
        display:none;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow text-center"><b>Divorce Case</b></h1>
    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" id="c1" class="btn btn-primary btn-circle">1</a>
                <p>Plaintiff</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" id="c2" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Defendant</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" id="c3" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Marriage</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-4" type="button" id="c4" class="btn btn-default btn-circle" disabled="disabled">4</a>
                <p>Residency</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-5" type="button" id="c5" class="btn btn-default btn-circle" disabled="disabled">5</a>
                <p>Grounds</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-6" type="button" id="c6" class="btn btn-default btn-circle" disabled="disabled">5</a>
                <p>Grounds</p>
            </div>
        </div>
    </div>
    @* End Form Wizard*@
</div>
<a class="fancybox" data-fancybox data-type="iframe" data-src="/Divorce/DivorceNotice" href="javascript:;"></a>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Plaintiff Information
                    </h3>
                </div>
            </div>
            @*Begin Form*@
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.case_id, new { @Value = ViewBag.case_id })
                @Html.HiddenFor(x => x.agency_id, new { @Value = ViewBag.agencyid })
                @Html.HiddenFor(x => x.case_date, new { @Value = ViewBag.dd })
                @Html.HiddenFor(x => x.casetype, new { @Value = "1" })
                @Html.HiddenFor(x => x.archived, new { @Value = "N" })
                @Html.HiddenFor(x => x.status, new { @Value = "1" })
                @Html.HiddenFor(x => x.date_status, new { @Value = ViewBag.dd })
                <div class="cls-content ">
                    <div class="cls-content-lg panel register-box-content">
                        <div class="panel-body">
                            <div class="rows setup-content" id="step-1">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Email & Text Notifications</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-bell"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.notification_preference, GoNyLaw.Helpers.DropDownData.notification_preference, "Select Recepient", new { @class = "form-control", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Full Name</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.name, new {@class = "form-control", id = "pname", placeholder = "Full Name", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Sex</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.sex, GoNyLaw.Helpers.DropDownData.sex, "Select Gender", new { @class = "form-control", id = "psex", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="pm">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Maiden Name</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-female"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.maiden_name, new { @class = "form-control", id = "pmaiden", placeholder = "Maiden Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date Of Birth</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-birthday-cake"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.dob, new { @class = "form-control", id = "pdob", placeholder = "Date of Birth", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Place of Birth</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.place_birth, new { @class = "form-control", id = "pplacedob", placeholder = "Place of Birth", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Email ID</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.email, new {@class = "form-control", id = "pemail", placeholder = "Email ID", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Phone Number</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-phone-square"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.phone, new { @class = "form-control", id = "pphone", placeholder = "Phone Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Mobile Number</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-mobile-phone"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.mob, new { @class = "form-control", id = "pmobile", placeholder = "Mobile Number", required = "required", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Does Plaintiff have SSN?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.check_ssn, GoNyLaw.Helpers.DropDownData.pssn, "Plaintiff's SS#", new { @class = "form-control", id = "pcheckssn",required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="ps">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Social Security#</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.ssn, new { @class = "form-control ssn", id = "pssn", placeholder = "Social Security Number", maxlength = "11", pattern = "[0-9]{3}-[0-9]{2}-[0-9]{4}", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Country where Plaintiff lives</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.country, new SelectList(GoNyLaw.Helpers.DropDownData.GetCountries(), "ID", "Name", "US"), new { @class = "form-control", id = "pcountry", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Street</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.street, new { @class = "form-control", id = "pstreet", placeholder = "Street Address and Apartment No.", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="pc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Zip Code</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.zip, new { @class = "form-control zip", id = "pzip", placeholder = "Zip Code", type = "tel", maxlength = "5", pattern = "[0-9]{5}", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="pc2">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">State</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.state, GoNyLaw.Helpers.DropDownData.states, "Select State", new { @class = "form-control state", id = "pstate", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">City</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.city, new { @class = "form-control city", id = "pcity", placeholder = "City", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-sm-6" id="pc3">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">County</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-building"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.p.county, new { @class = "form-control", id = "pcounty", placeholder = "County", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">No. of this Marriage</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sort-numeric-asc"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.marriage_no, GoNyLaw.Helpers.DropDownData.nomarriage, "Select Number of this Marriage", new { @class = "form-control", id = "pnomarriage", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Level of Education</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.education, GoNyLaw.Helpers.DropDownData.education, "Select Level", new { @class = "form-control", id = "peducation", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Race</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.p.race, GoNyLaw.Helpers.DropDownData.race, "Select Race", new { @class = "form-control", id = "prace", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows setup-content" id="step-2">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Full Name</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.name, new { @class = "form-control", id = "dname", placeholder = "Full Name", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Sex</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.sex, GoNyLaw.Helpers.DropDownData.sex, "Select Gender", new { @class = "form-control", id = "dsex" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="dm">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Maiden Name</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-female"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.maiden_name, new { @class = "form-control", id = "dmaiden", placeholder = "Maiden Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date of Birth</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-birthday-cake"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.dob, new { @class = "form-control", id = "ddob", placeholder = "Date of Birth", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Place of Birth</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.place_birth, new { @class = "form-control", id = "dplacedob", placeholder = "Place of Birth", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Does Defendant have SSN?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.check_ssn, GoNyLaw.Helpers.DropDownData.dssn, "Defendant's SS#", new { @class = "form-control", id = "dcheckssn", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="ds">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Social Security #</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.ssn, new { @class = "form-control ssn", id = "dssn", placeholder = "Social Security Number", required = "required", maxlength = "11", pattern = "[0-9]{3}-[0-9]{2}-[0-9]{4}" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Country where Defendant lives</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.country, new SelectList(GoNyLaw.Helpers.DropDownData.GetCountries(), "ID", "Name", "US"), new { @class = "form-control", id = "dcountry", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Street</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.street, new { @class = "form-control", id = "dstreet", placeholder = "Street Address and Apartment No.", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="dc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Zip Code</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.zip, new { @class = "form-control zip1", id = "dzip", placeholder = "Zip Code", type = "tel", maxlength = "5", pattern = "[0-9]{5}", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="dc2">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">State</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.state, GoNyLaw.Helpers.DropDownData.states, "Select State", new { @class = "form-control state1", id = "dstate", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">City</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.city, new { @class = "form-control city1", id = "dcity", placeholder = "City", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-sm-6" id="dc3">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">County</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-building"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.d.county, new { @class = "form-control", id = "dcounty", placeholder = "County", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">No. of this Marriage?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sort-numeric-asc"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.marriage_no, GoNyLaw.Helpers.DropDownData.nomarriage, "Select Number of this Marriage", new { @class = "form-control", id = "dnomarriage", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Level of Education</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.education, GoNyLaw.Helpers.DropDownData.education, "Select Level", new { @class = "form-control", id = "dnomarriage", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Race</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.d.race, GoNyLaw.Helpers.DropDownData.race, "Select Race", new { @class = "form-control", id = "drace", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows setup-content" id="step-3">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date of Marriage</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user-plus"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.m.marriage_date, new { @class = "form-control", id = "mdate", placeholder = "Date of Marriage", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Country of Marriage</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.m.country, new SelectList(GoNyLaw.Helpers.DropDownData.GetCountries(), "ID", "Name", "US"), new { @class = "form-control", id = "mcountry", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">State</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.m.state, GoNyLaw.Helpers.DropDownData.states, "Select State", new { @class = "form-control state", id = "mstate", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">City</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.m.city, new { @class = "form-control", id = "mcity", placeholder = "City", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">County</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-building"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.m.county, new { @class = "form-control", placeholder = "County", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">The marriage was a</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.m.marriage_clergyman, GoNyLaw.Helpers.DropDownData.clergy, "The Marriage was a", new { @class = "form-control", id = "mclergy", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows setup-content" id="step-4">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="login-model">
                                                @Html.Label("Will Defendant be served within New York State ?")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="mc1">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.r.summons_usa, GoNyLaw.Helpers.DropDownData.yesno, "Select Answer", new { @class = "form-control", id = "disummons", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="login-model">
                                                @Html.Label("Select whichever is applicable:")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.r.applicable, GoNyLaw.Helpers.DropDownData.applicable, "Select Answer", new { @class = "form-control", id = "diapplicable", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="login-model">
                                                @Html.Label("Ground For Divorce:")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.r.grounds, GoNyLaw.Helpers.DropDownData.grounds, "Select Answer", new { @class = "form-control", id = "digrounds", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="login-model">
                                                @Html.Label("Defendant would sign Divorce?")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.waiver_default, GoNyLaw.Helpers.DropDownData.agency_waiver_default, "Select Answer", new { @class = "form-control", id = "waiverdefault", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows setup-content" id="step-5">
                                <div class="col-sm-6" id="mc1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">How did the abandonment occur?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.a.reason, GoNyLaw.Helpers.DropDownData.abandonment, "Select Answer", new { @class = "form-control", id = "areason", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date of Abandonment</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.a.adate, new { @class = "form-control", id = "adate", placeholder = "Date of Abandonment", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Country where Abandoned</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-flag"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.a.country, new SelectList(GoNyLaw.Helpers.DropDownData.GetCountries(), "ID", "Name", "US"), new { @class = "form-control", id = "acountry", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="a1">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Zip Code</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.a.zip, new { @class = "form-control zip2", id = "azip", placeholder = "Zip Code", type = "tel", maxlength = "5", pattern = "[0-9]{5}", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="a2">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">State</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(x => x.a.state, GoNyLaw.Helpers.DropDownData.states, "Select State", new { @class = "form-control state2", id = "astate", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">City</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.a.city, new { @class = "form-control city2", id = "acity", placeholder = "City", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Street</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.a.street, new { @class = "form-control", id = "astreet", placeholder = "Street Address and Apartment No.", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows setup-content" id="step-6">
                                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                                    <b>&#8594; First Act of Violence :</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date of Act</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.date1, new { @class = "form-control", id = "cdate1", placeholder = "Date of Act1", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Place of Act</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-building"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.place1, new { @class = "form-control", id = "cplace1", placeholder = "Place of Act1", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">What did the defendant do?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-scissors"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.act1, new { @class = "form-control", id = "cact1", placeholder = "What did the defendant do?", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                                    <b>&#8594; Second Act of Violence :</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date of Act</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.date2, new { @class = "form-control", id = "cdate2", placeholder = "Date of Act2", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Place of Act</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-building"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.place2, new { @class = "form-control", id = "cplace1", placeholder = "Place of Act2", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">What did the defendant do?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-scissors"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.act2, new { @class = "form-control", id = "cact2", placeholder = "What did the defendant do?", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top:25px;font-size:1.1em;color:brown;font-weight:500;">
                                    <b>&#8594; Third Act of Violence :</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Date of Act</strong>
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.date2, new { @class = "form-control", id = "cdate2", placeholder = "Date of Act2", required = "required" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">Place of Act</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-building"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.place2, new { @class = "form-control", id = "cplace2", placeholder = "Place of Act2", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <strong class="control-label">What did the defendant do?</strong>
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-scissors"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.c.act3, new { @class = "form-control", id = "cact3", placeholder = "What did the defendant do?", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="button" id="bkBtn" class="btn btn-primary class-details pull-left" value="<< B a c k" />
                    <input type="button" id="nxtBtn" class="btn btn-primary class-details" value="N e x t >>" />
                    <input type="submit" id="sbmtBtn" class="btn btn-primary class-details" value="Submit" />
                </div>
            }
            @*End of Form*@
            <!--===================================================-->
            <!--End Block Styled Form -->

        </div>
    </div>
</div>
@section extrajs{
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBy5qsDxIq04Uy2p7dMI9UWGaq1Il7G0UM"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/divorcewithoutchildren.js"></script>
}
