﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "DivorceDownload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string[] files = Directory.GetFiles(@"D:\home\GoNyLaw\Documents\Divorce\" + Model.case_id + @"\AdminMiscUploads\", "*", SearchOption.AllDirectories)
                .Select(f => Path.GetFileName(f)).ToArray();
}
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Uploads</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        List Of Uploaded Files - @Model.case_id (@Model.p.name.ToTitleCase() vs.@Model.d.name.ToTitleCase())
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                @for (int i = 0; i < files.Length; i++)
                                {
                                    string link = @"..\Drive\Documents\Divorce\" + Model.case_id + @"\AdminMiscUploads\" + files[i];
                                    if (System.IO.Path.GetExtension(files[i]) == ".pdf")
                                    {
                                        <div class="col-sm-3">
                                            <a href="@link" target="_blank"><img src="~/Images/pdficon.png" height="30" width="28" /> &nbsp;&nbsp;&nbsp;<b>@System.IO.Path.GetFileNameWithoutExtension(files[i])</b></a>
                                        </div>
                                    }
                                    if (System.IO.Path.GetExtension(files[i]) == ".doc" || System.IO.Path.GetExtension(files[i]) == ".docx")
                                    {
                                        <div class="col-sm-3">
                                            <a href="@link" target="_blank"><img src="~/Images/wordicon.png" height="30" width="30" /> &nbsp;&nbsp;&nbsp;<b>@System.IO.Path.GetFileNameWithoutExtension(files[i])</b></a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
