﻿@model IEnumerable<GoNyLaw.Models.DivorceCase>
@using GoNyLaw.Helpers
@using System.Globalization
@{
    ViewBag.Title = "Divorce Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/divorcelist.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }

    .btn {
        margin-bottom: 3px;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Divorces</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        General Info
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-60px;">
                            <div class="col-sm-4 col-md-12">
                                <div class="thumbnail">
                                    <img class="col-sm-4 col-md-4" src="~/Images/divorce.jpg" alt="divorce">
                                    <div class="caption">
                                        <h3>Divorce</h3>
                                        <p class="text-justify"><b>Divorce</b> (or <b>dissolution of marriage</b>) is the termination of a marriage or marital union, the canceling and/or reorganizing of the legal duties and responsibilities of marriage, thus dissolving the bonds of matrimony between a married couple under the rule of law of the particular country and/or state. Divorce requires the sanction of a court or other authority in a legal process, which may involve issues of alimony (spousal support), child custody, child visitation / access, parenting time, child support, distribution of property, and division of debt.</p>
                                        <p>"<b>Plaintiff</b>" is the term used to describe the applicant (In this case, <b>YOU</b>) in a divorce case.</p>
                                        <p>"<b>Defendant</b>" is the term used to describe the opposite party (In this case, <b>YOUR SPOUSE</b>) in a divorce case.</p>
                                        <p><b>To submit a Divorce please click either of the two buttons depending on whether the Plaintiff and his/her spouse have one or more children from the marriage (for which dissolution is seeked):</b></p>
                                        <p><a href="~/Divorce/DivorceWithoutChildren" class="btn btn-primary" role="button">No Child</a> <a href="~/Divorce/DivorceWithChildren" class="btn btn-primary" role="button">Have Children</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (LoginPersistence.CheckAdmin())
        {
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Your Submissions
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container" style="margin-top:-60px;">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in Model)
                                            {
                                                <li>
                                                    <time datetime="@item.case_date.Date">
                                                        <span class="refno">@item.case_id</span>
                                                        <span class="day">@item.case_date.Day</span>
                                                        <span class="month">@item.case_date.ToString("MMM")</span>
                                                        <span class="year">@item.case_date.Year</span>
                                                    </time>
                                                    <div class="info">
                                                        <h2 class="title">@item.p.name.ToTitleCase() <i style="color:darkblue">vs.</i> @item.d.name.ToTitleCase() </h2>
                                                        @if (item.index_no != null && item.index_no != "")
                                                        {
                                                            <p class="desc">
                                                                Index No: <b>@item.index_no</b>
                                                                @if (item.status == "10" || item.status == "12" || item.status == "13" || item.status == "18")
                                                                {
                                                                    <i class='fa fa-info-circle' onclick='getecourtstatus("@item.index_no")' style='color:blue;cursor:pointer;' title='Search Index - Ecourt'></i>
                                                                }
                                                                &nbsp;&nbsp;  dated <b>@item.index_date</b>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc">Index Number <b>Not Available</b></p>
                                                        }
                                                        <p class="desc">Status: <b>@item.status.GetStatus()</b> </p>
                                                        <p class="desc">Comments: <i>@item.comments</i> </p>
                                                        @if (item.t != null)
                                                        {
                                                            if (item.t.txn_id2 != null)
                                                            {
                                                                <p class="desc">Paid <b>$@item.t.amount2</b> on @item.t.date2</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="desc">Paid <b>$@item.t.amount1</b> on @item.t.date1</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="desc" style="color:red">Please pay immediately to begin action.</p>
                                                        }
                                                    </div>
                                                    <div class="social">
                                                        <ul>
                                                            @if (!object.ReferenceEquals(item.t, null))
                                                            {
                                                                if (Amounts.CheckFullyPaid(item.case_id))
                                                                {
                                                                    <li class="ui-tooltip paid" title="View Payment Details"><a class="inline" href="#data-@item.case_id"><img width="80" height="80" src="~/Images/paid.png" /></a></li>
                                                                }
                                                                else if (Amounts.CheckPartiallyPaid(item.case_id))
                                                                {
                                                                    <li class="ui-tooltip unpaid" title="Click Here to Pay Now" style="margin-top:30px;"><img width="80" height="60" src="~/Images/paynow.jpg" /></li>
                                                                    <li class="ui-tooltip partpaid" title="Click Here to View Details"><a class="inline" href="#data-@item.case_id">$@item.t.amount1 paid</a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="ui-tooltip unpaid" title="Click Here to Pay Now" style="margin-top:30px;"><img width="80" height="60" src="~/Images/paynow.jpg" /></li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li class="ui-tooltip unpaid" title="Click Here to Pay Now" style="margin-top:30px;"><img width="80" height="60" src="~/Images/paynow.jpg" /></li>
                                                            }
                                                            @if (item.status == "N")
                                                            {
                                                                <li class="details"><img class="ui-tooltip view" width="25" height="20" title="View and/or Edit Submitted Form" src="~/Images/document.png" /><img class="ui-tooltip ack" width="25" height="20" title="Print Acknowledgement" src="~/Images/printer.ico" type="image/x-icon" /><img class="ui-tooltip docs" width="25" height="20" title="Download Documents" src="~/Images/download.png" /></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="details"><img class="ui-tooltip view" width="25" height="20" title="View Submitted Form" src="~/Images/document.png" /><img class="ui-tooltip ack" width="25" height="20" title="Print Acknowledgement" src="~/Images/printer.ico" /><img class="ui-tooltip docs" width="25" height="20" title="Download Documents" src="~/Images/download.png" /></li>
                                                            }
                                                        </ul>
                                                        <form id="formpay" action="~/Payment/PaymentDetails" method="post" target="_blank">
                                                            @Html.AntiForgeryToken()
                                                            <input type="hidden" name="cid" value="@item.case_id" />
                                                            <input type="hidden" name="agid" value="@item.agency_id" />
                                                            <input type="submit" />
                                                        </form>
                                                        <form id="formview" action="~/Divorce/DivorceView" method="post" target="_blank">
                                                            @Html.AntiForgeryToken()
                                                            <input type="hidden" name="cid" value="@item.case_id" />
                                                            <input type="submit" />
                                                        </form>
                                                        <form id="formack" action="~/Divorce/DivorceAcknowledgement" method="post" target="_blank">
                                                            @Html.AntiForgeryToken()
                                                            <input type="hidden" name="cid" value="@item.case_id" />
                                                            <input type="submit" />
                                                        </form>
                                                        <form id="formdocs" action="~/Divorce/DivorceDocuments" method="post" target="_blank">
                                                            @Html.AntiForgeryToken()
                                                            <input type="hidden" name="cid" value="@item.case_id" />
                                                            <input type="submit" />
                                                        </form>
                                                    </div>
                                                    <div style="display:none">
                                                        <div id="data-@item.case_id">
                                                            <p style="text-align:center;font-weight:800;text-decoration:underline;font-size:1.0em;">Transaction Details</p>
                                                            @if (item.t == null) { }
                                                            else if (item.t.txn_id2 == null)
                                                            {
                                                                <p>Transaction Number: @item.t.txn_id1</p>
                                                                <p>Amount: $@item.t.amount1</p>
                                                                <p>Date: @item.t.date1</p>
                                                            }
                                                            else
                                                            {
                                                                <p>Transaction Number: @item.t.txn_id1 & @item.t.txn_id2</p>
                                                                <p>Amount: $@item.t.amount1 & $@item.t.amount2</p>
                                                                <p>Date: @item.t.date1 & @item.t.date2</p>
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<form name="form" id="ecourtsform" method="post" target="_blank" action="https://iapps.courts.state.ny.us/webcivil/FCASSearch">
    <input type=hidden id="hWhichPage" name="hWhichPage" value="I">
    <input type=hidden id="hCourtType" name="hCourtType" value="Supreme">
    <input type=hidden id="hPageNumber" name="hPageNumber" value="1">
    <input type=hidden id="hSearchKey" name="hSearchKey" value="">
    <input type=hidden id="txtIndex" name="txtIndex" value="0" size=20>
</form>
@section extrajs{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/knockoutjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/divorcemain.js"></script>
}

