﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Models
@using GoNyLaw.Helpers
@{
    Layout = null;
    string month = "", date = "", year = "", month1 = "", date1 = "", year1 = "";
    month = (Model.index_date).GetMonthNumber();
    date = (Model.index_date).GetDateNumber();
    year = (Model.index_date).GetYearNumber();
    if (Model.date_summons.HasValue && !Model.date_summons.Value.IsMinDate())
    {
        month1 = (Model.date_summons.Value.Month).ToString();
        date1 = (Model.date_summons.Value.Day).ToString();
        year1 = (Model.date_summons.Value.Year).ToString();
    }
    int no = 0, no1 = 0;
    if (Model.casetype == "2")
    {
        Int32.TryParse(Model.ch.no_children, out no);
        Int32.TryParse(Model.co.no_order, out no1);
    }
    LawOfficeDetail ld = Documents.GetLawOfficeDetails();
    string pfname = ViewBag.pfname;
    string plname = ViewBag.plname;
    string dfname = ViewBag.dfname;
    string dlname = ViewBag.dlname;
    string c1fname = ViewBag.c1fname;
    string c1lname = ViewBag.c1lname;
    string c2fname = ViewBag.c2fname;
    string c2lname = ViewBag.c2lname;
    string c3fname = ViewBag.c3fname;
    string c3lname = ViewBag.c3lname;
    string c4fname = ViewBag.c4fname;
    string c4lname = ViewBag.c4lname;
    string c5fname = ViewBag.c5fname;
    string c5lname = ViewBag.c5lname;
    int n = 0;
    Int32.TryParse(Model.ch.no_children, out n);
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <style>
        body {
            margin: 0px;
            margin-top: 0.5in !important;
            margin-left: 1.0in !important;
            margin-right: 1.0in !important;
            font-family: Arial;
            width: 100%;
            background-color:unset !important;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div style="position:fixed;right:0;top:0;font-weight:600;text-align:center;font-size:0.8em;">UCS-840M<br />3/2011</div>
    <p class="text-center" style="font-weight:600;"><span style="font-size:1.4em;text-decoration:underline;margin-left:-1in;">MATRIMONIAL</span><span style="font-size:1.2em"> Request For Judicial Intervention Addendum</span></p>
    <p style="font-weight:600;"><span style="border-bottom:1px solid;padding-right:15%;">Supreme</span> COURT, COUNTY OF <span style="border-bottom:1px solid;padding-right:10%;padding-left:2%;">@Model.county_venue.ToTitleCase()</span><span style="padding-left:10%;"></span>INDEX NO. <span style="border-bottom:1px solid;padding-right:15%;padding-left:1%;">@Model.index_no</span></p>
    <p style="font-weight:600;">For use when there are children under the age of 18 who are subject to the matrimonial action.</p>
    <p style="font-size:1.2em;font-weight:600;"><i>Plaintiff</i></p>
    <table style="margin-left:5%;width:62%;">
        <tr>
            <td style="width:8%;"><b>Last Name:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@plname.ToUpperCase()</td>
            <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@pfname.ToUpperCase()</td>
            <td style="width:13%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@Model.p.dob.ToDateLong()</td>
        </tr>
    </table>
    @if (Model.p.sex == "M")
    {
        <p style="margin-left:5%;margin-top:1%;"><b>Prior Names:</b> <span style="font-size:0.8em;">(List any other names used, including maiden and/or former married names):</span><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male&nbsp;&nbsp;&nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female</p>
    }
    else
    {
        <p style="margin-left:5%;margin-top:1%;"><b>Prior Names:</b> <span style="font-size:0.8em;">(List any other names used, including maiden and/or former married names):</span><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male&nbsp;&nbsp;&nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female</p>
    }
    <table style="margin-left:5%;width:39%;">
        <tr>
            <td style="width:8%;">Last Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
            <td style="width:9%;padding-left:1%;">First Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
        </tr>
        <tr>
            <td style="width:8%;">Last Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
            <td style="width:9%;padding-left:1%;">First Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
        </tr>
        <tr>
            <td style="width:8%;">Last Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
            <td style="width:9%;padding-left:1%;">First Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;margin-top:1%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"><b>Present Address:</b> </td>
            <td style="width:30%;padding-left:2%;text-align:center;">@Model.p.street.ToTitleCase()</td>
            <td style="width:20%;text-align:center;">@Model.p.city.ToTitleCase()</td>
            <td style="width:15%;text-align:center;">@Model.p.state.ToStateName()</td>
            <td style="width:10%;text-align:center;">@Model.p.zip</td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"><b>Address History for past 3 years:</b> </td>
            <td style="width:30%;padding-left:2%;text-align:center;"></td>
            <td style="width:20%;text-align:center;"></td>
            <td style="width:15%;text-align:center;"></td>
            <td style="width:10%;text-align:center;"></td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;margin-top:1%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;text-align:center;"></td>
            <td style="width:20%;text-align:center;"></td>
            <td style="width:15%;text-align:center;"></td>
            <td style="width:10%;text-align:center;"></td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;margin-top:1%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;text-align:center;"></td>
            <td style="width:20%;text-align:center;"></td>
            <td style="width:15%;text-align:center;"></td>
            <td style="width:10%;text-align:center;"></td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <p style="font-size:1.2em;font-weight:600;"><i>Defendant</i></p>
    <table style="margin-left:5%;width:62%;">
        <tr>
            <td style="width:8%;"><b>Last Name:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@dlname.ToUpperCase()</td>
            <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@dfname.ToUpperCase()</td>
            <td style="width:13%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@Model.d.dob.ToDateLong()</td>
        </tr>
    </table>
    @if (Model.d.sex == "M")
    {
        <p style="margin-left:5%;margin-top:1%;"><b>Prior Names:</b> <span style="font-size:0.8em;">(List any other names used, including maiden and/or former married names):</span><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male&nbsp;&nbsp;&nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female</p>
    }
    else
    {
        <p style="margin-left:5%;margin-top:1%;"><b>Prior Names:</b> <span style="font-size:0.8em;">(List any other names used, including maiden and/or former married names):</span><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male&nbsp;&nbsp;&nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female</p>
    }
    <table style="margin-left:5%;width:39%;">
        <tr>
            <td style="width:8%;">Last Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
            <td style="width:9%;padding-left:1%;">First Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
        </tr>
        <tr>
            <td style="width:8%;">Last Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
            <td style="width:9%;padding-left:1%;">First Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
        </tr>
        <tr>
            <td style="width:8%;">Last Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
            <td style="width:9%;padding-left:1%;">First Name:</td>
            <td style="width:15%;border-bottom:1px solid;"></td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;margin-top:1%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"><b>Present Address:</b> </td>
            <td style="width:30%;padding-left:2%;text-align:center;">@Model.d.street.ToTitleCase()</td>
            <td style="width:20%;text-align:center;">@Model.d.city.ToTitleCase()</td>
            <td style="width:15%;text-align:center;">@Model.d.state.ToStateName()</td>
            <td style="width:10%;text-align:center;">@Model.d.zip</td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"><b>Address History for past 3 years:</b> </td>
            <td style="width:30%;padding-left:2%;text-align:center;"></td>
            <td style="width:20%;text-align:center;"></td>
            <td style="width:15%;text-align:center;"></td>
            <td style="width:10%;text-align:center;"></td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;margin-top:1%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;text-align:center;"></td>
            <td style="width:20%;text-align:center;"></td>
            <td style="width:15%;text-align:center;"></td>
            <td style="width:10%;text-align:center;"></td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <table style="margin-left:5%;width:62%;margin-top:1%;">
        <tr style="border-bottom:1px solid;">
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;text-align:center;"></td>
            <td style="width:20%;text-align:center;"></td>
            <td style="width:15%;text-align:center;"></td>
            <td style="width:10%;text-align:center;"></td>
        </tr>
        <tr>
            <td style="width:14%;border-bottom:1px solid #fff;padding-right:1%;"></td>
            <td style="width:30%;padding-left:2%;font-size:0.8em;text-align:center;">(Street Address)</td>
            <td style="width:20%;font-size:0.8em;text-align:center;">(City)</td>
            <td style="width:15%;font-size:0.8em;text-align:center;">(State)</td>
            <td style="width:10%;font-size:0.8em;text-align:center;">(Zip)</td>
        </tr>
    </table>
    <p style="font-size:1.2em;font-weight:600;"><i>Children</i></p>
    <table style="margin-left:5%;width:90%;">
        <tr>
            <td style="width:8%;"><b>Last Name:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@c1lname.ToUpperCase()</td>
            <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@c1fname.ToUpperCase()</td>
            <td style="width:14%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
            <td style="width:15%;border-bottom:1px solid;">@Model.ch.c1_dob.ToDateLong()</td>
            <td>
                @if (Model.ch.c1_sex == "M")
                {
                    <text>
                        <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female
                    </text>
                }
                else
                {
                    <text>
                        <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female
                    </text>
                }
            </td>
        </tr>
        @if (n >= 2)
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c2lname.ToUpperCase()</td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c2fname.ToUpperCase()</td>
                <td style="width:14%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@Model.ch.c2_dob.ToDateLong()</td>
                <td>
                    @if (Model.ch.c2_sex == "M")
                {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female
                        </text>
                    }
                    else
                    {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female
                        </text>
                    }
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:13%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female </td>
            </tr>
        }
        @if (n >= 3)
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c3lname.ToUpperCase()</td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c3fname.ToUpperCase()</td>
                <td style="width:14%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@Model.ch.c3_dob.ToDateLong()</td>
                <td>
                    @if (Model.ch.c3_sex == "M")
                {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female
                        </text>
                    }
                    else
                    {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female
                        </text>
                    }
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:13%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female </td>
            </tr>
        }
        @if (n >= 4)
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c4lname.ToUpperCase()</td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c4fname.ToUpperCase()</td>
                <td style="width:14%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@Model.ch.c4_dob.ToDateLong()</td>
                <td>
                    @if (Model.ch.c4_sex == "M")
                {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female
                        </text>
                    }
                    else
                    {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female
                        </text>
                    }
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:13%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female </td>
            </tr>
        }
        @if (n >= 5)
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c5lname.ToUpperCase()</td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@c5fname.ToUpperCase()</td>
                <td style="width:14%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;">@Model.ch.c5_dob.ToDateLong()</td>
                <td>
                    @if (Model.ch.c5_sex == "M")
                {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiochecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female
                        </text>
                    }
                    else
                    {
                        <text>
                            <span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiochecked.png" /> Female
                        </text>
                    }
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td style="width:8%;"><b>Last Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:9%;padding-left:1%;"><b>First Name:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td style="width:13%;padding-left:5%;padding-right:1%;"><b>Date of Birth:</b></td>
                <td style="width:15%;border-bottom:1px solid;"></td>
                <td><span style="margin-left:5.1%;"><b>Gender: </b></span><img width="20" height="20" src="~/Images/radiounchecked.png" /> Male &nbsp; &nbsp; &nbsp;<img width="20" height="20" src="~/Images/radiounchecked.png" /> Female </td>
            </tr>
        }
    </table>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/nifty.min.js"></script>
</body>
</html>