﻿@model GoNyLaw.Models.DivorceCase
@using GoNyLaw.Models
    @using GoNyLaw.Helpers
    @{
        Layout = null;
        string month = "", date = "", year = "", month1 = "", date1 = "", year1 = "";
        month = (Model.index_date).GetMonthNumber();
        date = (Model.index_date).GetDateNumber();
        year = (Model.index_date).GetYearNumber();
        if(Model.date_summons.HasValue && !Model.date_summons.Value.IsMinDate())
        {
            month1 = (Model.date_summons.Value.Month).ToString();
            date1 = (Model.date_summons.Value.Day).ToString();
            year1 = (Model.date_summons.Value.Year).ToString();
        }
        int no = 0, no1 = 0;
        if (Model.casetype == "2")
        {
            Int32.TryParse(Model.ch.no_children, out no);
            Int32.TryParse(Model.co.no_order, out no1);
        }
    }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - GoNyLaw.com</title>
        <style>
            body {
                margin-top: 0.75in !important;
                margin: 0px;
                width: 100%;
                height: 10.5in;
            }
        </style>
    </head>
    <body>
        <table style="width:2.6in;height:2.0in;border:solid 3px;margin-right:0.22in;float:right;border-collapse:collapse;margin-top:20px;">
            <tr>
                <td style="border-bottom:solid 3px;height:0.2in;text-align:center;font-size:0.9em;font-weight:600">For Court Clerk Use Only</td>
            </tr>
            <tr>
                <td style="border-bottom:solid 1px;text-align:center;height:0.03in;font-size:0.5em">IAS Entry Date</td>
            </tr>
            <tr>
                <td style="border-bottom:solid 3px;height:0.3in;text-align:center;font-size:0.9em;font-weight:600"></td>
            </tr>
            <tr>
                <td style="border-bottom:solid 1px;text-align:center;height:0.03in;font-size:0.5em">Judge Assigned</td>
            </tr>
            <tr>
                <td style="border-bottom:solid 3px;height:0.3in;text-align:center;font-size:0.9em;font-weight:600"></td>
            </tr>
            <tr>
                <td style="border-bottom:solid 1px;text-align:center;height:0.03in;font-size:0.5em">RJI Date</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <p style="text-align:center;font-weight:600">UNCONTESTED MATRIMONIAL</p>
        <p style="text-align:center;font-weight:600;margin-top:-10px;">REQUEST FOR JUDICIAL INTERVENTION</p>
        <p style="margin-left:0.3in;font-size:0.7em;font-weight:600;"><span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;&nbsp;SUPREME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>COURT,&nbsp;&nbsp;&nbsp;<span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;&nbsp;NEW YORK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>COUNTY</p>
        @if (Model.index_no != null && Model.index_no != "")
        {
            <p style="margin-left:0.3in;font-size:0.7em;font-weight:600;">Index No.<span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;&nbsp;@Model.index_no&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;Date Index Issued:<span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;&nbsp;@month&nbsp;&nbsp;</span><span style="font-size:1.3em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;@date &nbsp;&nbsp;</span><span style="font-size:1.3em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;@year &nbsp;&nbsp;</span></p>
        }
        else
        {
            <p style="margin-left:0.3in;font-size:0.7em;font-weight:600;">Index No.<span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;Date Index Issued:<span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:1.3em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span><span style="font-size:1.3em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1.3em">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span></p>
        }
        <div style="margin-left:0.3in;border-bottom:solid 1px;height:0.91in;margin-right:2.8in;border-left:solid 1px;margin-top:-2px;">
            <p style="font-size:1.0em;border-top:solid 1px;border-bottom:solid 1px;background:#B2B2B2"><span style="font-weight:600;">&nbsp;CAPTION:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:0.8em;">Enter the complete case caption. Do not use et al or el ano.</span></p>
            <p style="text-align:center;margin-top:20px;">@Model.p.name.ToUpperCase()</p>
            <span style="font-weight:600;font-size:0.7em;float:right;margin-right:3px;margin-top:-4px;">Plaintiff</span>
        </div>
        <span style="font-weight:600;font-size:0.55em;margin-top:-1px;margin-left:0.34in;position:absolute;">-against-</span>
        <div style="margin-top:0.1in;margin-left:0.3in;border:solid 1px;height:0.8in;margin-right:0.22in;">
            <p style="text-align:center;margin-top:20px;margin-left:-2.6in;">@Model.d.name.ToUpperCase()</p>
            <span style="font-weight:600;font-size:0.7em;float:right;margin-top:4px;margin-right:3px;">Defendant</span>
        </div>
        <div style="margin-top:-10px;margin-left:0.3in;border-bottom:solid 1px;height:1.4in;margin-right:0.22in;border-left:solid 1px;border-right:solid 1px;">
            <p style="font-size:1.0em;border-top:solid 1px;border-bottom:solid 1px;background:#B2B2B2"><span style="font-weight:600;">&nbsp;STATUS OF ACTION OR DIVORCE:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:0.8em;">Answer YES or NO and provide additional information where indicated.</span></p>
            <p style="font-size:0.8em;margin-left:3.15in;font-weight:600;margin-top:-10px;">YES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO</p>
            <p style="font-size:0.8em;margin-left:5px;margin-top:-8px;">
                Has a summons been filed?
                    <span style="margin-left:1.69in;padding-right:5px;padding-left:5px;padding-top:0px;padding-bottom:0px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span>
                    <span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000">x</span>
                <span style="margin-left:0.2in;font-size:1.2em;font-weight:400;">If yes, date filed:<span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;&nbsp;@month&nbsp;&nbsp;</span><span style="font-size:1em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;@date &nbsp;&nbsp;</span><span style="font-size:1em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;@year &nbsp;&nbsp;</span></span>
            </p>
            <p style="font-size:0.8em;margin-left:5px;margin-top:-4px;">
                Has a summons been served?

                <span style="margin-left:1.58in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span>
                <span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000">x</span>
                @if (Model.date_summons.HasValue)
                {
                    <span style="margin-left:0.2in;font-size:1.2em;font-weight:400;">If yes, date served:<span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;&nbsp;@month1&nbsp;&nbsp;</span><span style="font-size:1em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;@date1 &nbsp;&nbsp;</span><span style="font-size:1em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;@year1 &nbsp;&nbsp;</span></span>
                }
                else
                {
                    <span style="margin-left:0.2in;font-size:1.2em;font-weight:400;">If yes, date served:<span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:1em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:1em">/</span><span style="border-bottom:solid thin;font-weight:400;font-size:1em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                }
            </p>
            <p style="font-size:0.8em;margin-left:5px;margin-top:-4px;">
                Are there children of the marriage under the age of 18?
                @if (no > 0)
            {
                    <span style="margin-left:0.28in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span>
                    <span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000">x</span>
                }
                else
                {
                    <span style="margin-left:0.28in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000">x</span>
                    <span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span>
                }
                <span style="margin-left:0.2in;font-size:1.2em;font-weight:400;">If yes, complete and attach the <b style="font-size:0.8em;">MATRIMONIAL RJI Addendum (UCS-840M).</b></span>
            </p>
        </div>
        <div style="margin-top:-10px;margin-left:0.3in;border-bottom:solid 1px;height:1.35in;margin-right:0.22in;border-left:solid 1px;border-right:solid 1px;">
            <p style="font-size:1.0em;border-top:solid 1px;border-bottom:solid 1px;background:#B2B2B2"><span style="font-weight:600;">&nbsp;NATURE OF JUDICIAL INTERVENTION:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ex. PARTE APPLICATION FOR THE DISSOLUTION OF MARRIAGE</span></p>
            <p style="font-size:0.8em;margin-left:5px;margin-top:-10px;font-weight:600;">ADDITIONAL RELIEF: Check all that apply.</p>
            <p style="font-size:0.8em;margin-top:-4px;"><span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000">x</span><span style="margin-left:20px;">Poor Person Application</span></p>
            <p style="font-size:0.8em;margin-top:-4px;"><span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000">x</span><span style="margin-left:20px;">Application For Alternate Service</span></p>
            <p style="font-size:0.8em;margin-top:-8px;position:absolute;"><span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span><span style="margin-left:20px;">Other (specify):</span><span style="font-size:1.2em;text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uncontested Divorce&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        </div>
        <div style="margin-top:-10px;margin-left:0.3in;border-bottom:solid 1px;margin-right:0.22in;border-left:solid 1px;border-right:solid 1px;">
            <p style="font-size:1.0em;border-top:solid 1px;border-bottom:solid 1px;background:#B2B2B2;padding-top:3px;"><span style="font-weight:400;">&nbsp;<b>PARTIES</b>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For parties without an attorney, check "Un-Rep" box AND enter party address, phone number and email address in "Attorney's" space.</span></p>
            <table style="font-size:1.0em;width:100%;margin-top:-10px;border-collapse:collapse;">
                <tr>
                    <td rowspan="2" style="height:20px;width:20px;border-right:solid 1px;font-weight:600;">Un-Rep</td>
                    <td style="width:1.5in;border-bottom:solid 1px;border-right:solid 1px;font-weight:600;">Parties</td>
                    <td style="width:1.5in;border-bottom:solid 1px;border-right:solid 1px;font-weight:600;">Attorneys</td>
                    <td rowspan="2" style="height:20px;width:20px;border-right:solid 1px;font-weight:600;">Issue Joined (Y/N):</td>
                </tr>
                <tr style="border-bottom:solid 3px;">
                    <td style="border-right:solid 1px;font-size:0.8em;">List Party Names</td>
                    <td style="border-right:solid 1px;font-size:0.8em;">Provide attorney name, firm name, business address, phone number and email address</td>
                </tr>
                <tr style="height:105px;border-bottom:solid 1px;">
                    <td style="border-right:solid 1px;"><span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span></td>
                    <td style="border-right:solid 1px;"><span style="position:absolute;font-weight:600;margin-top:-27px;">Name:</span><br />&nbsp;&nbsp;&nbsp;@Model.p.name.ToTitleCase()<br /><span style="position:absolute;font-weight:600;margin-top:15px;margin-left:0in;">Role: Plaintiff</span></td>
                    <td style="border-right:solid 1px;text-align:center;">@Model.p.street.ToUpperCase(),<br/> @Model.p.city.ToUpperCase(),@Model.p.state.ToStateName().ToUpperCase() - @Model.p.zip</td>
                    <td style="text-align:center;font-size:1em;"><b>N/A</b></td>
                </tr>
                <tr style="height:120px;border-bottom:solid 1px;">
                    <td style="border-right:solid 1px;"><span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span></td>
                    <td style="border-right:solid 1px;"><span style="position:absolute;font-weight:600;margin-top:-27px;">Name:</span><br />&nbsp;&nbsp;&nbsp;@Model.d.name.ToTitleCase()<br /><span style="position:absolute;font-weight:600;margin-top:15px;margin-left:0in;">Role: Defendant</span></td>
                    <td style="border-right:solid 1px;text-align:center;">@Model.d.street.ToTitleCase(), @Model.d.city.ToTitleCase(), @Model.d.state.ToStateName() - @Model.d.zip</td>
                    <td>
                        <span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;color:white;border-color:#000;">x</span>&nbsp;&nbsp;Yes<br /><br />
                        <span style="margin-left:0.07in;padding-right:5px;padding-left:5px;border:solid 1px;font-size:1.2em;font-weight:600;">x</span>&nbsp;&nbsp;No
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top:-10px;margin-left:0.3in;border-bottom:solid 1px;margin-right:0.22in;border-left:solid 1px;border-right:solid 1px;">
            <p style="font-size:1.0em;border-top:solid 1px;border-bottom:solid 1px;background:#B2B2B2;padding-top:3px;"><span style="font-weight:400;">&nbsp;<b>RELATED CASES</b>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;List any related cases, Include any related criminal and/or Family Court Cases.</span></p>
            <table style="font-size:0.8em;width:100%;margin-top:-10px;border-collapse:collapse;">
                <tr>
                    <th style="border-right:solid 1px;border-bottom: solid 1px;">Case Title</th>
                    <th style="border-right:solid 1px;border-bottom: solid 1px;">Index/Case No.</th>
                    <th style="border-right:solid 1px;border-bottom: solid 1px;">Court</th>
                    <th style="border-right:solid 1px;border-bottom: solid 1px;">Judge (if assigned)</th>
                    <th style="border-bottom: solid 1px;">Relationship to Instant Cases</th>
                </tr>
                <tr style="height:30px;">
                    @if (no1 >= 1)
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;font-size:0.8em;text-align:center;width:1.6in;">@Model.p.name.ToTitleCase()<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;against<br /> @Model.d.name.ToTitleCase()</td>
                    }
                    else
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;"></td>
                    }
                    @if (Model.casetype == "2")
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;">@Model.co.c1_index</td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;">@Model.co.c1_court_name.ToTitleCase()</td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1in;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.6in;text-align:center;">@Model.co.c1_ordertype.GetCourtOrderType()</td>
                    }
                    else
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1in;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.6in;text-align:center;"></td>
                    }
                </tr>
                <tr style="height:30px;">
                    @if (no1 >= 2)
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;font-size:0.8em;text-align:center;width:1.6in;">@Model.p.name.ToTitleCase()<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;against<br /> @Model.d.name.ToTitleCase()</td>
                    }
                    else
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;"></td>
                    }
                    @if (Model.casetype == "2")
                    {
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;">@Model.co.c2_index</td>
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;">@Model.co.c2_court_name</td>
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1in;"></td>
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.6in;text-align:center;">@Model.co.c2_ordertype.GetCourtOrderType()</td>
                    }
                    else
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1in;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.6in;text-align:center;"></td>
                    }
                </tr>
                <tr style="height:30px;">
                    @if (no1 >= 3)
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;font-size:0.8em;text-align:center;width:1.6in;">@Model.p.name.ToTitleCase()<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;against<br /> @Model.d.name.ToTitleCase()</td>
                    }
                    else
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;"></td>
                    }
                    @if (Model.casetype == "2")
                    {
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;">@Model.co.c3_index</td>
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;">@Model.co.c3_court_name.ToTitleCase()</td>
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1in;"></td>
                    <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.6in;text-align:center;">@Model.co.c3_ordertype.GetCourtOrderType()</td>
                    }
                    else
                    {
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.2in;text-align:center;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1in;"></td>
                        <td style="border-right:solid 1px;border-bottom: solid 1px;width:1.6in;text-align:center;"></td>
                    }
                </tr>
            </table>
        </div>
        <p style="margin-right:0.22in;margin-left:0.3in;font-size:0.8em;font-weight:600;margin-top:1px;text-align:justify;">I AFFIRM UNDER THE PENALTY OF PERJURY THAT, TO MY KNOWLEDGE, OTHER THAN AS NOTED ABOVE, THERE ARE AND HAVE BEEN NO RELATED ACTIONS OR PROCEEDINGS, NOR HAS A REQUEST FOR JUDICIAL INTERVENTION PREVIOUSLY BEEN FILED IN THIS ACTION OR PROCEEDING.</p>
        <p style="margin-right:0.22in;font-size:0.8em;font-weight:600;margin-top:20px;text-align:center;">Dated:________/________/__________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;______________________________________________</p>
        <p style="font-size:0.8em;font-weight:600;margin-top:-10px;text-align:center;margin-left:200px;">SIGNATURE</p>
        <p style="margin-right:0.22in;font-size:1.2em;font-weight:600;margin-top:20px;text-align:center;"><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:500;">@Model.p.name.ToUpperCase()</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
        <p style="margin-right:0.22in;font-size:0.8em;font-weight:600;margin-top:-10px;text-align:center;margin-left:-180px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATTORNEY REGISTRATION NUMBER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRINT OR TYPE NAME</p>
    </body>
</html>
