﻿@model IEnumerable<GoNyLaw.Models.DivorceCase>
@using System.Globalization
@using GoNyLaw.Helpers
@using GoNyLaw.Models
@{
    ViewBag.Title = "Admin Divorce Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    IEnumerable<Admin> aglist = (IEnumerable<Admin>)ViewBag.aglist;
    PaymentConfig pconfig = (PaymentConfig)ViewBag.pconfig;
    string time_elapsed = (string)ViewBag.time_elapsed;
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/divorcelist.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }

    .event-list > li > .social > ul > li.details {
        margin-left: -100px;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Divorces</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Agency Submissions
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-9 col-sm-pull-2 col-lg-8 col-lg-pull-3 col-md-8 col-md-pull-2">
                                    <div class="form-inline" style="margin-top:-40px;padding-bottom:30px;">
                                        <form style="display:inline-block;position:absolute;left:30%;" method="post" target="_blank" action="~/Divorce/DivorceEdit">
                                            @Html.AntiForgeryToken()
                                            <input name="cid" class="form-control visible" type="text" value="DIV" />
                                            <input type="submit" class="form-control btn-success visible" value="Get Info" />
                                        </form>
                                        <br /><br /><br />
                                        <form style="display:inline-block;padding-left:20px;" method="post">
                                            @Html.DropDownList("status", GoNyLaw.Helpers.DropDownData.status, "All Status", new { @class = "form-control", Value = ViewBag.status })
                                            @Html.DropDownList("timespan", GoNyLaw.Helpers.DropDownData.sorttime, "All Timespan", new { @class = "form-control", Value = ViewBag.timespan })
                                            @Html.DropDownList("archtype", GoNyLaw.Helpers.DropDownData.archived1, null, new { @class = "form-control", Value = ViewBag.archtype })
                                            <input type="submit" class="form-control btn-success visible" value="Filter" />
                                        </form>
                                    </div>
                                    <ul class="event-list">
                                        @foreach (var item in Model)
                                        {
                                            Agency ag = aglist.Where(x => x.id == item.agency_id).FirstOrDefault();
                                            <li>
                                                <time datetime="@item.case_date.Date">
                                                    <span class="refno">@item.case_id</span>
                                                    <span class="day">@item.case_date.Day</span>
                                                    <span class="month">@item.case_date.ToString("MMM")</span>
                                                    <span class="year">@item.case_date.Year</span>
                                                </time>
                                                <div class="info">
                                                    <h2 class="title">@item.p.name.ToTitleCase() <i style="color:darkblue">vs.</i> @item.d.name.ToTitleCase() </h2>
                                                    <p class="desc"><b>Agency Name:</b> <i><a class="fancybox" data-fancybox data-type="iframe" data-src="/Home/AgencyView?id=@item.agency_id" href="javascript:;"><span class="agencyname">@ag.businessname.Decrypt().ToTitleCase()</span></a></i></p>
                                                    @if (item.index_no != null && item.index_no != "")
                                                    {
                                                        <p class="desc">Index No: <b>@item.index_no</b> dated <b>@item.index_date</b></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="desc">Index Number <b>Not Available</b></p>
                                                    }
                                                    <p class="desc">Status: <b>@item.status.GetStatus()</b> </p>
                                                    <p class="desc">Comments: <i>@item.comments</i> </p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        @if (!object.ReferenceEquals(item.t, null))
                                                        {
                                                            if (Amounts.CheckFullyPaid(item,ag,pconfig))
                                                            {
                                                                <li class="ui-tooltip paid" title="View Payment Details" style="margin-top:30px;"><a class="inline" href="#data-@item.case_id"><img width="80" height="80" src="~/Images/paid.png" /></a></li>
                                                            }
                                                            else if (Amounts.CheckPartiallyPaid(item, ag, pconfig))
                                                            {
                                                                <li class="ui-tooltip partpaid" title="Click Here to View Details" style="margin-bottom:30px;margin-top:30px;"><a class="inline" href="#data-@item.case_id">$@item.t.amount1 paid</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="ui-tooltip paid" title="Unpaid" style="margin-top:30px;"><img width="80" height="80" src="~/Images/unpaid.png" /></li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li class="ui-tooltip paid" title="Unpaid" style="margin-top:30px;"><img width="80" height="80" src="~/Images/unpaid.png" /></li>
                                                        }
                                                        <li class="details"><img class="ui-tooltip view" width="25" height="20" title="View & Edit Submitted Form" src="~/Images/document.png" /><img class="ui-tooltip ack" width="25" height="20" title="Case Settings" src="~/Images/settings.png" /><img class="ui-tooltip docs" width="25" height="20" title="Download Documents" src="~/Images/download.png" /><img class="ui-tooltip uploads" width="22" height="18" title="Upload & Download Docs" src="~/Images/upload.png" /><img class="ui-tooltip delete" width="22" height="18" title="Delete Case" src="~/Images/delete.png" /></li>
                                                    </ul>
                                                    <form id="formview" action="~/Divorce/DivorceEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form id="formack" action="~/Divorce/CaseSettings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form id="formdocs" action="~/Divorce/AdminDivorceDocuments" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formdel" action="~/Divorce/DivorceDelete" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formupload" action="~/Divorce/DivorceUpload" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formupload" action="~/Divorce/DivorceDownload" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.case_id" />
                                                        <input type="submit" />
                                                    </form>
                                                </div>
                                                <div style="display:none">
                                                    <div id="data-@item.case_id">
                                                        <p style="text-align:center;font-weight:800;text-decoration:underline;font-size:1.0em;">Transaction Details</p>
                                                        @if (item.t == null) { }
                                                        else if (item.t.txn_id2 == null)
                                                        {
                                                            <p>Transaction Number: @item.t.txn_id1</p>
                                                            <p>Amount: $@item.t.amount1</p>
                                                            <p>Date: @item.t.date1</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Transaction Number: @item.t.txn_id1 & @item.t.txn_id2</p>
                                                            <p>Amount: $@item.t.amount1 & $@item.t.amount2</p>
                                                            <p>Date: @item.t.date1 & @item.t.date2</p>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/divorcemain.js"></script>
}
@section extrajs{
    <script>
        console.log('@time_elapsed');
    </script>
    
    }