﻿@model GoNyLaw.Models.ImmigrationCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Immigration Petition Questionaire";
    if (ViewBag.type == "s")
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@section extracsslinks{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
}
@section extracss{
    <style>
        .headings:not(:first-child) {
            margin-top: 20px;
        }

        .correction {
            margin-top: 8px;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Immigration Petition For @ViewBag.name (@ViewBag.cid)
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-12 headings">
                                    <b>Client Profile:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.fullname, new { @class = "form-control", Value = ViewBag.name, placeholder = "First Name", title = "First Name. Example: Rafael" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.alias, new { @class = "form-control", placeholder = "Alias/Other Name", title = "Alias/Other Names Used" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.cellphone, new { @class = "form-control", Value = ViewBag.cellphone, placeholder = "Cell Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Cellphone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.emailid, new { @class = "form-control", Value = ViewBag.emailid, placeholder = "E-mail", type = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contactfullname, new { @class = "form-control", placeholder = "Other Contact Fullname", title = "Other Contact Full Name." })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contactrelationship, new { @class = "form-control", placeholder = "Other Contact Relationship", title = "Other Contact Relationship. Example: Wife" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contacttelephone, new { @class = "form-control", placeholder = "Other Contact Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Other Contact Telephone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Address:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.street, new { @class = "form-control", Value = ViewBag.street, placeholder = "Mailing Street Address", title = "Mailing Street Address. Example: 480, 39th Street" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.city, new { @class = "form-control", Value = ViewBag.city, placeholder = "Mailing City", title = "Mailing City (Example: Brooklyn)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.zip, new { @class = "form-control", Value = ViewBag.zip, type = "tel", maxlength = "5", placeholder = "Mailing Zip Code", title = "Mailing Zip Code (Example: 11220)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Court Details:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.court, GoNyLaw.Helpers.DropDownData.bankruptcycourt, "Federal Court", new { @class = "form-control", title = "Choose Federal Court" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 eastern">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownList("easternaddress", GoNyLaw.Helpers.DropDownData.easterndistrictcourt, "Court Address", new { @class = "form-control", title = "Choose Court Address" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 southern">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownList("southernaddress", GoNyLaw.Helpers.DropDownData.southerndistrictcourt, "Court Address", new { @class = "form-control", title = "Choose Court Address" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.courtaddress)
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date datetime">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.courtdatetime, new { @class = "form-control", placeholder = "Court Date & time", title = "Court Date & time. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Credit Counseling Class:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">1st</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.dateclass1, new { @class = "form-control", placeholder = "Credit Counselling Class", title = "Credit Counselling Class. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file1", null, new { @class = "form-control", type = "file", id = "attachment1", title = "Credit Counseling 2" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">2nd</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.dateclass2, new { @class = "form-control", placeholder = "Credit Counselling Class", title = "Credit Counselling Class. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file2", null, new { @class = "form-control", type = "file", id = "attachment2", title = "Credit Counseling 1" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.datedischargeletter, new { @class = "form-control", placeholder = "Discharge Letter", title = "Discharge Letter. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file3", null, new { @class = "form-control", type = "file", id = "attachment3", title = "Discharge Letter" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Misc Documents:</b>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file4", null, new { @class = "form-control", type = "file", id = "attachment4", title = "Document 2" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file5", null, new { @class = "form-control", type = "file", id = "attachment5", title = "Document 3" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file6", null, new { @class = "form-control", type = "file", id = "attachment6", title = "Document 4" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file7", null, new { @class = "form-control", type = "file", id = "attachment7" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file8", null, new { @class = "form-control", type = "file", id = "attachment8", title = "Document 5" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Immigration Application:</b>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file9", null, new { @class = "form-control", type = "file", id = "attachment9", title = "Immigration Application" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bankruptcypetitionquestionnaire.js"></script>
}
@section extrajs{
    <script>
            $(document).ready(function () {
                $(document).find(':input:not(:disabled)').prop('disabled', true);
            });
    </script>
}