﻿@model GoNyLaw.Models.ImmigrationCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Immigration Petition Questionaire";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracsslinks{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
}
@section extracss{
    <style>
        .headings:not(:first-child) {
            margin-top: 20px;
        }

        .correction {
            margin-top: 8px;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Immigration Petition For @ViewBag.name (@ViewBag.cid)
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        @using (Html.BeginForm("ImmigrationCaseQuestionnaireSubmission", "Immigration", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.refno, new { @Value = ViewBag.refno })
                            @Html.HiddenFor(m => m.clientid, new { @Value = ViewBag.cid })
                            @Html.HiddenFor(m => m.adminid, new { @Value = ViewBag.aid })
                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-12 headings">
                                    <b>Client Profile:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.fullname, new { @class = "form-control", Value = ViewBag.name, placeholder = "First Name", title = "First Name. Example: Rafael" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.alias, new { @class = "form-control", placeholder = "Alias/Other Name", title = "Alias/Other Names Used" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.cellphone, new { @class = "form-control", Value = ViewBag.cellphone, placeholder = "Cell Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Cellphone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.emailid, new { @class = "form-control", Value = ViewBag.emailid, placeholder = "E-mail", type = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contactfullname, new { @class = "form-control", placeholder = "Other Contact Fullname", title = "Other Contact Full Name." })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contactrelationship, new { @class = "form-control", placeholder = "Other Contact Relationship", title = "Other Contact Relationship. Example: Wife" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contacttelephone, new { @class = "form-control", placeholder = "Other Contact Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Other Contact Telephone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Address:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.street, new { @class = "form-control", Value = ViewBag.street, placeholder = "Mailing Street Address", title = "Mailing Street Address. Example: 480, 39th Street" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.city, new { @class = "form-control", Value = ViewBag.city, placeholder = "Mailing City", title = "Mailing City (Example: Brooklyn)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.zip, new { @class = "form-control", Value = ViewBag.zip, type = "tel", maxlength = "5", placeholder = "Mailing Zip Code", title = "Mailing Zip Code (Example: 11220)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-archive"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.type, GoNyLaw.Helpers.DropDownData.immigrationtypes, "Select Type", new { @class = "form-control", title = "Type Of Immigration" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Submit" style="background-color: #d43f3a" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bankruptcypetitionquestionnaire.js"></script>
}
