﻿@model IEnumerable<GoNyLaw.Models.ImmigrationTask>
@using GoNyLaw.Helpers;
@{
    ViewBag.Title = "My Task List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DateTime dt = DateTime.Parse("01/01/2016");
}
@section extracsslinks{
    <link type="text/css" rel="stylesheet" href="~/Content/beautytable.css" />
}
<div class="row">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        All Assigned Tasks - Immigration Cases
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-90px;">
                            <h5>LEGEND:</h5>
                            <div class="circle-small circle-green"></div> <b class="legend-text">>30 days</b>
                            <div class="circle-small circle-yellow"></div> <b class="legend-text">16-30 days</b>
                            <div class="circle-small circle-orange"></div> <b class="legend-text">8-15 days</b>
                            <div class="circle-small circle-pink"></div> <b class="legend-text">4-7 days</b>
                            <div class="circle-small circle-red"></div> <b class="legend-text">0-3 days</b>
                        </div>
                        <h4 style="margin-top:10px;margin-left:-10%;">PENDING TASKS</h4>
                        <div style="margin-top:-30px;margin-left:-8%;">
                            <table style="width:110% !important;">
                                <thead>
                                    <tr>
                                        <th>Urgency</th>
                                        <th>Ref. No.</th>
                                        <th>Assigned</th>
                                        <th>Required</th>
                                        <th>Task</th>
                                        <th>Mark Complete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (item.datecompleted <= dt)
                                            {
                                                <tr>
                                                    <td>
                                                        @if ((item.daterequired - DateTime.Now).TotalDays > 30)
                                                        {
                                                            <div class="circle circle-green"></div>
                                                        }
                                                        else if ((item.daterequired - DateTime.Now).TotalDays > 15)
                                                        {
                                                            <div class="circle circle-yellow"></div>
                                                        }
                                                        else if ((item.daterequired - DateTime.Now).TotalDays > 7)
                                                        {
                                                            <div class="circle circle-orange"></div>
                                                        }
                                                        else if ((item.daterequired - DateTime.Now).TotalDays > 3)
                                                        {
                                                            <div class="circle circle-pink"></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="circle circle-red"></div>
                                                        }
                                                    </td>
                                                    <td><b>@item.refno</b></td>
                                                    <td>@item.dateassigned.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.daterequired.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.task</td>
                                                    <td><a class="setcomplete" href="/Immigration/MarkTaskComplete?id=@item.id" target="_blank">Mark Complete</a></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <h4 style="margin-left:-10%;">COMPLETED TASKS</h4>
                        <div style="margin-top:-30px;margin-left:-8%;">
                            <table style="width:110% !important;">
                                <thead>
                                    <tr>
                                        <th>Ref. No.</th>
                                        <th>Assigned</th>
                                        <th>Completed</th>
                                        <th>Task</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (item.datecompleted > dt)
                                            {
                                                <tr>
                                                    <td><b>@item.refno</b></td>
                                                    <td>@item.dateassigned.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.datecompleted.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.task</td>
                                                    <td>@item.notes</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/viewassignedtask.js"></script>
}
@section extrajs{
    <script>
        $(document).ready(function () {
            $('#typeofcase').val('Immigration');
        });
    </script>
}


