﻿.fancyboxform {
  display:none;
  max-width: 550px;
  border-radius: 4px;
  transform: translateY(-50px);
  transition: all .33s;
}

.fancybox-slide--current #addsubaccountform {
    transform: translateY(0);
}

.fancybox-slide--current #addfundsform{
    transform: translateY(0);
}
.fancybox-slide--current #withdrawfundsform {
    transform: translateY(0);
}
.fancybox-slide--current #closeaccountform {
    transform: translateY(0);
}
.fancybox-slide--current #transactiondetaildisplay {
    transform: translateY(0);
}

@media (min-width:961px){
    .fancybox-loading{
        margin-left:-20%;
        margin-top:-20%;
    }
}

td{
    font-weight:600 !important;
}

.margin-top {
    vertical-align: middle;
}

.account-icons{
    margin-top:2px;
    cursor:pointer;
}

.account-icons:not(:first-child) {
    padding-left:2px;
}

#printaccountstatement{
    cursor:pointer;
}

@media print {
    @page {
        size: landscape;
        margin: 0;
    }
    body {
        margin: 1.6cm;
    }
    .no-print, .no-print * {
        display: none !important;
    }
}