﻿@import url("//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

    .event-list > li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
    }

        .event-list > li > time {
            display: block;
            width: 100%;
            color: rgb(255, 255, 255);
            background-color: rgb(197, 44, 102);
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
        }

        .event-list > li:nth-child(even) > time {
            background-color: rgb(165, 82, 167);
        }

        .event-list > li > time > span {
            display: block;
        }

        .event-list > li > time > .day {
            display: block;
            font-size: 36pt;
            font-weight: 100;
            line-height: 1;
        }

        .event-list > li time > .month {
            display: block;
            font-size: 20pt;
            font-weight: 900;
            line-height: 1;
            padding-top: 5px;
        }

        .event-list > li time > .year {
            display: block;
            font-size: 10pt;
            font-weight: 900;
            line-height: 1;
            padding-top: 5px;
        }

        .event-list > li > img {
            width: 100%;
        }

        .event-list > li > .info {
            padding-top: 5px;
            text-align: center;
        }

            .event-list > li > .info > .title {
                font-size: 12pt;
                font-weight: 700;
                margin: 0px;
                color: rgb(197, 44, 102);
            }

            .event-list > li > .info > .desc {
                font-size: 10pt;
                font-weight: 400;
                margin: 5px;
                max-width: 4in;
                word-wrap:break-word;
            }

            .event-list > li > .info > .address {
                font-size: 10pt;
                font-weight: 400;
                margin: 5px;
                margin-left:15px;
                max-width: 5in;
            }

            .event-list > li > .info > ul,
            .event-list > li > .social > ul {
                display: table;
                list-style: none;
                margin: 10px 0px 0px;
                padding: 0px;
                width: 100%;
                text-align: center;
            }

        .event-list > li > .social > ul {
            margin: 0px;
        }

            .event-list > li > .info > ul > li,
            .event-list > li > .social > ul > li {
                display: table-cell;
                cursor: pointer;
                color: rgb(30, 30, 30);
                font-size: 11pt;
                font-weight: 600;
                padding: 3px 0px;
                margin-left: -45px;
                margin-top: 1px;
            }

                .event-list > li > .social > ul > li.paid {
                    color: green;
                }

                .event-list > li > .social > ul > li.unpaid {
                    color: red;
                }

                .event-list > li > .social > ul > li.details {
                    color: blue;
                    font-weight: 400;
                    text-decoration: underline;
                    margin-left: -120px;
                    font-size: 9pt;
                    padding: 5px;
                }

                    .event-list > li > .social > ul > li.details > img {
                        padding-right: 5px;
                    }

                .event-list > li > .info > ul > li > a {
                    display: block;
                    width: 100%;
                    color: rgb(30, 30, 30);
                    text-decoration: none;
                }

            .event-list > li > .social > ul > li {
                padding: 0px;
            }

                .event-list > li > .social > ul > li > a {
                    padding: 3px 0px;
                }


.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.twitter a {
    color: rgb(79, 213, 248) !important;
}

.google-plus a {
    color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 205px;
        padding: 0px;
    }
        .event-list > li > time > .refno {
            font-size:1.2em;
            font-weight:800;
            padding-bottom:5px;
        }
        .event-list > li > time > .mobile {
            font-size:1.0em;
            font-weight:600;
            font-style:italic;
            padding-top:25px;
        }
        .event-list > li > time > .doa {
            font-size:1.0em;
            font-weight:600;
            font-style:italic;
            padding-top:5px;
        }
        .event-list > li > time,
        .event-list > li > img {
            display: block;
        }

        .event-list > li > time,
        .event-list > li > img {
            width: 165px;
            float: left;
        }

        .event-list > li > .info {
            background-color: rgb(245, 245, 245);
            overflow: hidden;
        }

        .event-list > li > time,
        .event-list > li > img {
            width: 165px;
            height: 205px;
            padding: 0px;
            margin: 0px;
        }

        .event-list > li > .info {
            position: relative;
            height: 205px;
            text-align: left;
            padding-right: 40px;
        }

            .event-list > li > .info > .title,
            .event-list > li > .info > .desc {
                padding: 0px 10px;
                word-wrap:break-word;
            }

            .event-list > li > .info > ul {
                position: absolute;
                left: 0px;
                bottom: 0px;
            }

        .event-list > li > .social {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 40px;
        }

            .event-list > li > .social > ul {
                border-left: 1px solid rgb(230, 230, 230);
            }

                .event-list > li > .social > ul > li {
                    display: block;
                    padding: 0px;
                }

                    .event-list > li > .social > ul > li > a {
                        display: block;
                        width: 40px;
                        padding: 10px 0px 9px;
                    }
}

.container .container-recents {
    padding: 100px;
}

.agencyname{
    cursor:pointer;
    color:blue;
}
