﻿.margin-right{
    margin-right:10px !important;
}
.login-model {
    font-size: 1.2em;
    height: 42px; 
}
.login-box {
    border-radius: 5px;
    width: 450px;
}
.login-model .form-control {
     font-size: 1em;
   
}
.cls-content-sm.panel.login-box {
    width: 450px;
    padding-top: 0;
}

.login-inner-box{
     padding-top: 5%;
     width: 90%;
     padding-left: 10%
}
.login-inner-box1{
     padding-top: 5%;
     width: 100%;
     
}
.bg-danger {
    background-color: #d43f3a;
}
.btn-danger {
    background-color: #d43f3a;
}
.bg-primary {
    background-color: #d43f3a;
    color:#fff;
     border-color: #d43f3a;
}
.btn-primary {
    background-color: #d43f3a;
    color:#fff;
     border-color: #d43f3a;
}
.btn-primary1 {
     background-color: #337ab7;
    color:#fff;
    border-color: #337ab7;
}
.bg-primary1 {
    background-color: #337ab7;
    color:#fff;
     border-color: #337ab7;
}
.bg-secondary {
    background-color: #337ab7;
    color:#fff;
     border-color: #337ab7;
}
.btn-secondary {
    background-color: #d43f3a;
     color:#fff;
     border-color: #d43f3a;
}
btn-primary.active{
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #fff;
                       }
btn-secondary.active{
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #fff;
                       }
.input-group-addon {
    padding: 0;
}
.register-box-content {
   
    padding-top: 0;
    border-radius: 5px;
}
.header-register {
    height: 80px; 
    border-radius: 5px 5px 0px 0px;
    text-align: right;
    padding-right: 5%;
}


@media (min-width: 768px) {
    .cls-content .cls-content-lg.login-box {
        width: 450px;
    }
}
.control-label.inputvalue {
    float: left;
    padding-top: 2%;
    text-align:left;
}
.control-label.inputvalue-name {
    text-align: left;
     width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.control-label.inputvalue-name1 {
    text-align: left;
     width: 46%;
    padding-left: 5%;
    padding-right: 5%;
}
.control-label.inputvalue-name2 {
    text-align: left;
     width: 1%;
}
.control-label.inputvalue-name3 {
    text-align: left;
     width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  
}
.control-label.inputvalue4 {
   
    padding-top: 3%
}
.control-label.inputvalue4 input [type~='checkbox']{

    width: 100%;
}
.chosen-container-multi .chosen-choices li.search-choice{
    background-color:#696969;
}

.divbackground1{
    background-color: #f0f0f0;font-size:1.2em;
}
.divbackground{
    background-color: #fff ;font-size:1.2em;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.panel > .panel-heading:after, .panel.panel-colorful > .panel-heading:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    left: 20px;
    right: 20px;
    border-bottom: none;
}