﻿.tt-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0px !important;
    z-index: 100 !important;
    /* display: none; */
    padding: 10px 0 !important;
    border: 1px #ccc solid !important;
    /* border-top: 0; */
    background-color: white !important;
}
.alert-danger{
    background:#800000;
    clear:both;
}
.alert-success{
    background:#045704;
    clear:both;
}
.alert-warning{
    background:#ff6a00;
    clear:both;
}
.tt-suggestion {
    padding: 5px 10px;
}

    .tt-suggestion:hover {
        background: #5fa2dd;
        color: white;
    }

/* Media query*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 10%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 10%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 10%;
        height: 100%;
    }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 13%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}
/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 15%;
        height: 100%;
    }
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 12%;
        height: 100%;
    }
}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 15%;
        height: 100%;
    }
}
/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 15%;
        height: 100%;
    }
}

/* Portrait */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 15%;
        height: 100%;
    }
}

/* Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 15%;
        height: 100%;
    }
}
/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 15%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 20%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 20%;
        height: 100%;
    }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) {
    div.tag1 {
       
    }

    div.tag2 {
        padding: 10% 30%;
        height: 100%;
    }
}

/* Portrait */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    div.tag1 {
       
    }

    div.tag2 {
        padding: 10% 30%;
        height: 100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    div.tag1 {
       
    }

    div.tag2 {
        padding: 10% 30%;
        height: 100%;
    }
}
/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 0) and (max-device-width: 360px) {
    div.tag1 {
        padding: 10% 0%;
    }

    div.tag2 {
        padding: 10% 0%;
        height: 100%;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    div.tag1 {
       
    }

    div.tag2 {
        padding: 10% 30%;
        height: 100%;
    }
}



/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.tag1 {
      
    }

    div.tag2 {
        padding: 10% 30%;
        height: 100%;
    }
}

/*@media screen and (max-device-width: 1920px) {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 20%;
        height: 100%;
    }
}*/

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution:192dpi) {
    div.tag1 {
      
    }

    div.tag2 {
        padding: 10% 10%;
        height: 100%;
    }
}

/* Landscape */
@media screen and (max-device-width: 360px)  {
    div.tag1 {
        padding: 10% 10%;
    }

    div.tag2 {
        padding: 10% 8%;
        height: 100%;
    }
}
@media screen and (max-device-width: 1920px)  {
    div.tag1 {
        padding: 3% 0 0 0;
    }

    div.tag2 {
        padding: 3% 15%;
        height: 100%;
    }
}

/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm) {
}
/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px) {
}
/*-end media query-*/
.panel-colorful {
    border-radius: 3px;
}

.li:active {
    border: solid 1px;
}

.tag1 {
    position: relative;
}

.tag2 {
    display: none;
    position: relative;
}

.selected-professor {
    display: none;
    position: relative;
}

.pincode-autocomplete-parent {
    position: absolute;
    background: #fffff0;
    width: auto;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e5e5;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    width: 93%;
    z-index: 2;
}

.pincode-autocomplete {
    list-style: none;
    margin: 0;
    z-index: 6;
    padding: 0px 10px;
}

    .pincode-autocomplete li {
        width: 100%;
        text-align: left;
        padding: 10px 5px;
    }

.create-academy {
    background: #888;
    color: white;
}

.modal-content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 8px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.3);
}

.nav.nav-tabs.horizontal {
}

.package-thumb {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    cursor: pointer;
}

    .package-thumb:hover {
        opacity: 0.5;
    }

.dropdowncources {
    overflow: visible;
}

.tab-content-cpedia h3 {
    text-align: right;
}

.tab-pane h3 {
    text-align: right;
}

.borderless td {
    border: none;
}

#FormModal .error{
    color:red;
}
#ClassDetails .error{
    color:red;
}
#ContactDetails .error{
    color:red;
}
#BranchDetails .error{
    color:red;
}
#OfferDetails .error{
    color:red;
}
#EditOffer .error{
    color:red;
}
#floating-top-right{display:none}

.ns-growl {
    font-size: 1.2em;
}
.div-text {
    padding-top: 5%;
    font-size: 8px;
}
.login-model {
    font-size: 1.2em;
    height: 42px;    
}
.login-box {
    border-radius: 5px;
    width: 450px;
}
.login-model .form-control {
     font-size: 1em;
   
}
.cls-content-sm.panel.login-box {
    width: 450px;
    padding-top: 0;
}

.login-inner-box{
     padding-top: 5%;
     width: 90%;
     padding-left: 10%
}
.login-inner-box1{
     padding-top: 5%;
     width: 100%;
     
}
.bg-danger {
    background-color: #d43f3a;
}
.btn-danger {
    background-color: #d43f3a;
}
.bg-primary {
    background-color: #d43f3a;
    color:#fff;
     border-color: #d43f3a;
}
.btn-primary {
    background-color: #d43f3a;
    color:#fff;
     border-color: #d43f3a;
}
.btn-primary1 {
     background-color: #337ab7;
    color:#fff;
    border-color: #337ab7;
}
.bg-primary1 {
    background-color: #337ab7;
    color:#fff;
     border-color: #337ab7;
}
.bg-secondary {
    background-color: #337ab7;
    color:#fff;
     border-color: #337ab7;
}
.btn-secondary {
    background-color: #d43f3a;
     color:#fff;
     border-color: #d43f3a;
}
btn-primary.active{
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #fff;
                       }
btn-secondary.active{
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #fff;
                       }
.input-group-addon {
    padding: 0;
}
.register-box-content {
   
    padding-top: 0;
    border-radius: 5px;
}
.header-register {
    height: 80px; 
    border-radius: 5px 5px 0px 0px;
    text-align: right;
    padding-right: 5%;
}


@media (min-width: 768px) {
    .cls-content .cls-content-lg.login-box {
        width: 450px;
    }
}
.control-label.inputvalue {
    float: left;
    padding-top: 2%;
    text-align:left;
}
.control-label.inputvalue-name {
    text-align: left;
     width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.control-label.inputvalue-name1 {
    text-align: left;
     width: 46%;
    padding-left: 5%;
    padding-right: 5%;
}
.control-label.inputvalue-name2 {
    text-align: left;
     width: 1%;
}
.control-label.inputvalue-name3 {
    text-align: left;
     width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  
}
.control-label.inputvalue4 {
   
    padding-top: 3%
}
.control-label.inputvalue4 input [type~='checkbox']{

    width: 100%;
}
.chosen-container-multi .chosen-choices li.search-choice{
    background-color:#696969;
}

.divbackground1{
    background-color: #f0f0f0;font-size:1.2em;
}
.divbackground{
    background-color: #fff ;font-size:1.2em;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.panel > .panel-heading:after, .panel.panel-colorful > .panel-heading:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    left: 20px;
    right: 20px;
    border-bottom: none;
}
.panel .panel-heading, .panel > :first-child {
    height: 40px;
    padding-top: 1%;
    border-radius: 5px 5px 0px 0px;
}
.panel .panel-footer, .panel > :last-child {
    padding-bottom: 2%;
    border-radius: 0px 0px 5px 5px;
}
.cssload-loader{
    display:none;
    z-index:1;
    clear:both;
	padding: 30px 0;
	text-align:center;
    margin:0 auto;
    position:absolute;
    top:50%;
}
#email{
    z-index:0;
}
