﻿@model IEnumerable<GoNyLaw.Models.MasterAccount>
@using GoNyLaw.Models
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Sub Accounts";
    Layout = null;
    string name = new AccountingContext().SubAccountData.Find(Model.FirstOrDefault().sub_account_id).account_holder_name.Decrypt();
    double balance = 0.0;
}
@Styles.Render("~/Content/bootstrapcss")
<link type="text/css" rel="stylesheet" href="~/Content/beautytable.css" />
<link type="text/css" rel="stylesheet" href="~/Content/accounting.css" />
        <div class="panel">
            <div class="panel-body">
                <div class="headings">
                    <h4 class="text-center" style="color:crimson;text-transform:uppercase;">ACCOUNT STATEMENT FOR @name <img class="no-print" src="~/Images/printer.png" id="printaccountstatement"/></h4>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Chk #</th>
                                <th>Depositor/Payee</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    if (item.transaction_type == 1)
                                    {
                                        balance = item.transaction_amount;
                                    }
                                    else if (item.transaction_type <= 2)
                                    {
                                        balance = balance + item.transaction_amount;
                                    }
                                    else if (item.transaction_type > 2)
                                    {
                                        balance = balance - item.transaction_amount;
                                    }
                                    <tr>
                                        <td>@item.date_of_operation.ApplyDateCorrectionBlank()</td>
                                        <td>
                                            @if (item.check_no != 0)
                                            {
                                                @item.check_no
                                            }
                                        </td>
                                        <td>
                                            @item.payable_to
                                        </td>
                                        <td>
                                            @if (item.transaction_type == 4)
                                            {
                                                <span style="color:red;">@item.transaction_amount.ToString("n2")</span>
                                            }
                                            else if (item.transaction_type > 2)
                                            {
                                                @item.transaction_amount.ToString("n2")
                                            }
                                        </td>
                                        <td>
                                            @if (item.transaction_type == 1)
                                            {
                                                <span style="color:blue;">@item.transaction_amount.ToString("n2")</span>
                                            }
                                            else if (item.transaction_type <= 2)
                                            {
                                                @item.transaction_amount.ToString("n2")
                                            }
                                        </td>
                                        <td>@balance.ToString("n2")</td>
                                        <td>@item.remarks</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerymigrate")
@Scripts.Render("~/bundles/bootstrapjs")
<script>
    $('#printaccountstatement').click(function () {
        window.focus();
        window.print();
    });
</script>
