﻿
@{
    ViewBag.Title = "AdminLandingPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminLandingPage</h2>
@section extrajs{
    <script>
        $("#mainnav-menu>li:nth-child(1)").addClass("active-link");
    </script>
}
