﻿
@{
    ViewBag.Title = "test";
    Layout = null;
}


<html>
<body>
    <iframe id='cv_if5' src='http://cdn.instantcal.com/cvir.html?id=cv_nav6&id=cv_nav7&id=cv_nav8&gtype=cv_monthgrid&gtype=cv_daygrid&gtype=cv_simplelist&file=http%3A%2F%2Fwww.gonylaw.com%2FiCalendar%2Fcalendar.ics&file=http%3A%2F%2Fwww.gonylaw.com%2FiCalendar%2Fcalendar.ics&file=http%3A%2F%2Fwww.gonylaw.com%2FiCalendar%2Fcalendar.ics&theme=RE&theme=RE&theme=RE&ccolor=%23ffffc0&ccolor=%23ffffc0&ccolor=%23ffffc0&dims=1&dims=1&dims=1&gcloseable=0&gcloseable=0&gcloseable=0&gnavigable=1&gnavigable=1&gnavigable=1&gperiod=month&gperiod=day&gperiod=month&itype=cv_simpleevent&itype=cv_simpleevent&itype=cv_simpleevent' allowTransparency=true scrolling='no' frameborder=0 height=600 width=800></iframe>
</body>
</html>

