﻿@model GoNyLaw.Models.Client
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Create New Case";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <style>
        .btn-sm {
            color: #fff;
            border-radius: 3px;
            font-size: 15px;
            padding: 10px 30px;
        }

        .btn-sm{
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-transform: uppercase;
            font-weight: 700;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Create A New Case For @Model.fullname.Decrypt() (@Model.id)
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.id)
                        }
                    </div>
                </div>
                <div class="row" style="margin-top:-120px;">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <div class="form-group login-inner-box1">
                            <div class="input-group">
                                <div class="input-group-addon ">
                                    <i class="fa fa-legal"></i>
                                </div>
                                <div class="login-model">
                                    @Html.DropDownList("casetype", DropDownData.casetype, new { @class = "form-control", id = "casetype", required = "required", title = "Case Type" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row criminal" style="margin-top:20px;display:none;">
                    <div class="col-sm-3 col-sm-offset-1">
                        <a href="#" id="criminal" class="page-scroll btn-info btn btn-sm">Criminal</a>
                    </div>
                </div>
                <div class="row civil" style="margin-top:20px;">
                    <div class="col-sm-3 col-sm-offset-1">
                        <a href="#" id="personalinjury" class="page-scroll btn-info btn btn-sm">Personal Injury</a>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <a href="#" id="bankruptcy" class="page-scroll btn-info btn btn-sm">Bankruptcy</a>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <a href="#" id="immigration" class="page-scroll btn-info btn btn-sm">Immigration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script src="~/Scripts/createnewcase.js"></script>
}
