﻿@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Logs";
    if (LoginPersistence.CheckSuperAdmin())
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Logs - Select Any Case Type
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-60px;">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AntiForgeryForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-users"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.DropDownList("typeofcase", GoNyLaw.Helpers.DropDownData.casetypelist, "Select Case Type", new { @class = "form-control", id = "typeofcase", title = "Select Any Case" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/cases.js"></script>
}
