﻿@model IEnumerable<GoNyLaw.Models.Client>
@using GoNyLaw.Helpers
@using System.Globalization
@{
    ViewBag.Title = "Manage Clients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/smartlist.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Manage Clients</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Client List - Add <a href="~/Home/SignUp" class="fa fa-plus-square-o fa-2x ui-tooltip" target="_blank" title="Add a Client"></a>, View, Edit, Reset Password or Remove
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                    <ul class="event-list">
                                        @foreach (var item in Model)
                                        {
                                            <li>
                                                <time datetime="@item.dateregister.Date">
                                                    <span class="day">@item.dateregister.Day</span>
                                                    <span class="month">@item.dateregister.ToString("MMM")</span>
                                                    <span class="year">@item.dateregister.Year</span>
                                                </time>
                                                <div class="info">
                                                    <h3 class="title"><i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().LastIndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().LastIndexOf(' ')) (@item.id)</i></h3>
                                                    <p class="desc"><b>Email Id:</b> <i>@item.emailid.Decrypt()</i></p>
                                                    <p class="desc"><b>Home Phone:</b> <i>@item.homephone.Decrypt()</i> <b>Cellphone:</b> <i>@item.cellphone.Decrypt()</i></p>
                                                    <p class="desc"><b>Address:</b> <i>@item.street.Decrypt(), @item.city.ToTitleCase(), @item.state - @item.zip.</i></p>
                                                    <p class="desc"><b>Cases:</b> <span style="color:darkred"><b><i>@CaseMerger.GetCaseString(item.id)</i></b></span></p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="details"><img class="ui-tooltip case" width="25" height="20" title="Create New Case" src="~/Images/case.png" /><img class="ui-tooltip view" width="30" height="30" title="View Cases" src="~/Images/eye.png" /><img class="ui-tooltip edit" width="25" height="20" title="Edit Info" src="~/Images/edit.png" /><img class="ui-tooltip delete" width="25" height="20" title="Delete Clients" src="~/Images/delete.png" /><img class="ui-tooltip reset" width="25" height="20" title="Reset Password" src="~/Images/reset.png" /></li>
                                                    </ul>
                                                </div>
                                                <form class="formcase" action="~/Home/CreateNewCase" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="cid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formview" action="~/Home/ViewAllCasesClient" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="cid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formedit" action="~/Home/ClientEdit" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="cid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formdel" action="~/Home/ClientDelete" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="cid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formreset" action="~/Home/ClientPasswordReset" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="cid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/clientmanagement.js"></script>
}
@section extrajs{
    <script>
        $("#mainnav-menu>li:nth-child(3)").addClass("active-link");
    </script>
}