﻿@model IEnumerable<GoNyLaw.Models.Admin>
@using GoNyLaw.Helpers
@using System.Globalization
@{
    ViewBag.Title = "Manage Admins";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/smartlist.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Manage Admins</b></h1>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Admin List - Add <a href="~/Home/AdminSignUp" class="fa fa-plus-square-o fa-2x ui-tooltip" target="_blank" title="Add an Admin"></a>, View, Edit, Reset Password or Remove
                    </h3>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="container" style="margin-top:-60px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                    <ul class="event-list">
                                        @foreach (var item in Model)
                                        {
                                            <li>
                                                <time datetime="@item.dateregister.Date">
                                                    <span class="day">@item.dateregister.Day</span>
                                                    <span class="month">@item.dateregister.ToString("MMM")</span>
                                                    <span class="year">@item.dateregister.Year</span>
                                                </time>
                                                <div class="info">
                                                    <h2 class="title">@item.fullname.Decrypt() (@item.id)</h2>
                                                    <p class="desc"><b>Email Id:</b> <i>@item.emailid.Decrypt()</i></p>
                                                    <p class="desc"><b>Cellphone:</b> <i>@item.cellphone.Decrypt()</i></p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Info" src="~/Images/edit.png" /><img class="ui-tooltip adelete" width="25" height="20" title="Delete Admin" src="~/Images/delete.png" /><img class="ui-tooltip areset" width="25" height="20" title="Reset Password" src="~/Images/reset.png" /></li>
                                                    </ul>
                                                </div>
                                                <form class="formedit" action="~/Home/AdminEdit" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="aid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formdel" action="~/Home/AdminDelete" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="aid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formreset" action="~/Home/AdminPasswordReset" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="aid" value="@item.id" />
                                                    <input type="submit" />
                                                </form>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajs{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/adminmanagement.js"></script>
}
