﻿@model IEnumerable<GoNyLaw.Models.MasterAccount>
@using GoNyLaw.Helpers
@using GoNyLaw.Models
@{
    ViewBag.Title = "Master Account Data";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    IEnumerable<SubAccount> salist = new AccountingContext().SubAccountData.Decrypt();
}
@section extracsslinks{
    <link type="text/css" rel="stylesheet" href="~/Content/beautytable.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/jquery.fancybox.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/daterangepicker.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/accounting.css" />
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Master Account - Add A/C <a data-fancybox data-src="#addsubaccountform" href="javascript:;" class="fa fa-plus-square-o fa-2x ui-tooltip margin-top" title="Create a Sub-Account"></a>
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-90px;margin-left:30px;width:120%;">
                            <div class="circle-small circle-blue"></div> <b class="legend-text">A/C Opening</b>
                            <div class="circle-small circle-red"></div> <b class="legend-text">A/C Closing</b>
                            <div class="col-md-4 col-xs-4">
                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px; border: 1px solid #ccc; width: 100%">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                </div>
                                <form id="sortbydate" method="post" style="display:none;">
                                    <input type="hidden" name="startdate" id="startdate" value=""/>
                                    <input type="hidden" name="enddate" id="enddate" value="" />
                                </form>
                            </div>
                        </div>
                        <div style="margin-top:-30px;margin-left:-8%;">
                            <table style="width:110% !important;">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Sub Account</th>
                                        <th>Chk #</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            string name = salist.Where(x => x.id == item.sub_account_id).FirstOrDefault().account_holder_name;
                                            <tr>
                                                <td>@item.date_of_operation.ApplyDateCorrectionBlank()</td>
                                                <td>
                                                    @name
                                                    <br />
                                                    <img data-fancybox data-src="#addfundsform" href="javascript:;" class="account-icons deposit" src="~/Images/deposit.png" title="Add Funds" data-id="@item.sub_account_id" data-name="@name" />
                                                    <img data-fancybox data-src="#withdrawfundsform" href="javascript:;" class="account-icons withdraw" src="~/Images/withdraw.png" title="Withdraw Funds" data-id="@item.sub_account_id" data-name="@name" />
                                                    <img data-fancybox data-src="#transactiondetaildisplay" href="javascript:;" class="account-icons transaction-detail" src="~/Images/transaction.png" title="View Transacion Details" data-id="@item.sub_account_id" data-name="@name" data-dateoperation="@item.date_of_operation.ApplyDateCorrectionBlank()" data-checkno="@item.check_no" data-payableto="@item.payable_to" data-transactiontype="@item.transaction_type" data-transactionamount="@item.transaction_amount.ToString("n2")" data-remarks="@item.remarks"/>
                                                    <a data-fancybox data-type="iframe" data-src="/Home/AccountStatement?id=@item.sub_account_id" href="javascript:;"><img class="account-icons" src="~/Images/accountstatement.png" title="View Account Statement" /></a>
                                                    @if (item.sub_account_id != 1)
                                                    {
                                                        <img data-fancybox data-src="#closeaccountform" href="javascript:;" class="account-icons close-account" src="~/Images/closeaccount.png" title="Close Account" data-id="@item.sub_account_id" data-name="@name" />
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.check_no != 0)
                                                    {
                                                        @item.check_no
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.transaction_type == 4)
                                                    {
                                                        <span style="color:red;">@item.transaction_amount.ToString("n2")</span>
                                                    }
                                                    else if (item.transaction_type > 2)
                                                    {
                                                        @item.transaction_amount.ToString("n2")
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.transaction_type == 1)
                                                    {
                                                        <span style="color:blue;">@item.transaction_amount.ToString("n2")</span>
                                                    }
                                                    else if (item.transaction_type <= 2)
                                                    {
                                                        @item.transaction_amount.ToString("n2")
                                                    }
                                                </td>
                                                <td>@item.running_balance.ToString("n2")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="fancybox-loading" style="display:none;"></div>
                        <div id="addsubaccountform" class="fancyboxform">
                            @using (Html.BeginForm("CreateSubAccount", "Home", FormMethod.Post, new { @class = "__AjaxAntiForgeryForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-12 headings">
                                        <h4 class="text-center" style="color:crimson">ADD A SUB-ACCOUNT</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("openingdate",null, new { @class = "form-control", placeholder = "Date of Opening"})
                                                </div>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("name", null, new { @class = "form-control", placeholder = "Account Holder Name", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-book"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("refno", null, new { @class = "form-control", placeholder = "Reference #", maxlength = "10" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("depositor", null, new { @class = "form-control", placeholder = "Depositor", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-money"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("checkno", null, new { @class = "form-control", placeholder = "Check #", pattern = "\\d*" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-dollar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("balance", null, new { @class = "form-control", placeholder = "Opening Balance", pattern = @"\d+(\.\d{1,2})?", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("remarks", null, new { @class = "form-control", placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <input type="submit" id="sbmtBtn" class="btn btn-danger sbmtBtn text-uppercase" value="Submit" style="background-color: #d43f3a" />
                                </div>
                            }
                        </div>
                        <div id="addfundsform" class="fancyboxform">
                            @using (Html.BeginForm("AddFunds", "Home", FormMethod.Post, new { @class = "__AjaxAntiForgeryForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", "0", new { id = "add-funds-id" })
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-12 headings">
                                        <h4 class="text-center" style="color:crimson">ADD FUNDS FOR <span id="add-funds-name" style="color:purple;text-transform:uppercase;"></span></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("depositdate", null, new { @class = "form-control", placeholder = "Date of Deposit" })
                                                </div>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("depositor", null, new { @class = "form-control", placeholder = "Depositor", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-money"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("checkno", null, new { @class = "form-control", placeholder = "Check #", pattern = "\\d*" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-dollar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("amount", null, new { @class = "form-control", placeholder = "Amount", pattern = @"\d+(\.\d{1,2})?", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("remarks", null, new { @class = "form-control", placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <input type="submit" id="sbmtBtn" class="btn btn-danger sbmtBtn text-uppercase" value="Submit" style="background-color: #d43f3a" />
                                </div>
                            }
                        </div>
                        <div id="withdrawfundsform" class="fancyboxform">
                            @using (Html.BeginForm("WithdrawFunds", "Home", FormMethod.Post, new { @class = "__AjaxAntiForgeryForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", "0", new { id = "withdraw-funds-id" })
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-12 headings">
                                        <h4 class="text-center" style="color:crimson">ISSUE CHECK FROM <span id="withdraw-funds-name" style="color:purple;text-transform:uppercase;"></span> ACCOUNT</h4>
                                        <i style="color:red" id="insufficient-funds"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("withdrawaldate", null, new { @class = "form-control", placeholder = "Date of Withdrawal" })
                                                </div>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("payee", null, new { @class = "form-control", placeholder = "Payee", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-money"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("checkno", null, new { @class = "form-control", placeholder = "Check #", pattern = "\\d*" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-dollar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("amount", null, new { @class = "form-control", placeholder = "Amount", pattern = @"\d+(\.\d{1,2})?", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("remarks", null, new { @class = "form-control", placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <input type="submit" id="sbmtBtn" class="btn btn-danger sbmtBtn text-uppercase" value="Submit" style="background-color: #d43f3a" />
                                </div>
                            }
                        </div>
                        <div id="closeaccountform" class="fancyboxform">
                            @using (Html.BeginForm("CloseAccount", "Home", FormMethod.Post, new { @class = "__AjaxAntiForgeryForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", "0", new { id = "close-account-id" })
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-12 headings">
                                        <h4 class="text-center" style="color:crimson">CLOSE <span id="close-account-name" style="color:purple;text-transform:uppercase;"></span> ACCOUNT</h4>
                                        <i style="color:red" id="account-closed"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group date dates">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("closuredate", null, new { @class = "form-control", placeholder = "Date of Closure" })
                                                </div>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-user "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("payee", null, new { @class = "form-control",id="close-account-payee", placeholder = "Payee", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-money"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("checkno", null, new { @class = "form-control", placeholder = "Check #", pattern = "\\d*" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("remarks", null, new { @class = "form-control", placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <input type="submit" id="sbmtBtn" class="btn btn-danger sbmtBtn text-uppercase" value="Submit" style="background-color: #d43f3a" />
                                </div>
                            }
                        </div>
                        <div id="transactiondetaildisplay" class="fancyboxform">
                            @using (Html.BeginForm("TransactionDetail", "Home", FormMethod.Post, new { @id = "__AjaxAntiForgeryForm-Transaction-Detail" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", "0", new { id = "transaction-detail-id" })
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-12 headings">
                                        <h4 class="text-center" style="color:crimson">SINGLE TRANSACTION DETAIL FOR <span id="transaction-detail-name" style="color:purple;text-transform:uppercase;"></span></h4>
                                    </div>
                                </div>
                            }
                            <table class="transaction-detail-table">
                                <tbody>
                                    <tr>
                                        <td>Date :</td>
                                        <td id="f1"></td>
                                    </tr>
                                    <tr>
                                        <td>Type :</td>
                                        <td id="f2"></td>
                                    </tr>
                                    <tr>
                                        <td>Amount :</td>
                                        <td id="f3"></td>
                                    </tr>
                                    <tr>
                                        <td>Check # :</td>
                                        <td id="f4"></td>
                                    </tr>
                                    <tr>
                                        <td id="f5"></td>
                                        <td id="f6"></td>
                                    </tr>
                                    <tr>
                                        <td>Remarks:</td>
                                        <td id="f7"></td>
                                    </tr>
                                    <tr>
                                        <td>Sub-Account Balance:</td>
                                        <td id="displayamount"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/accounting.js"></script>
}
@section extrajs{
    <script>
        today = '@DateTime.Today.ToString("MM/dd/yyyy")';
        viewbags = '@ViewBag.s';
        if (viewbags) {
            viewbags = '@ViewBag.s';
            viewbage = '@ViewBag.e';
        }
        else {
            @if (Model.Any())
            {
                @:viewbags = moment('@Model.FirstOrDefault().date_of_operation').format('MM/DD/YYYY');
                @:viewbage = moment('@Model.LastOrDefault().date_of_operation').format('MM/DD/YYYY');
            }
            else {
                @:viewbags = '@ViewBag.s';
                @:viewbage = '@ViewBag.e';
            }
        }
    </script>
}

