﻿@model GoNyLaw.Models.Client
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Client SignUp";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <h3 class="text-center" style="color:#000;">SIGNUP FORM</h3>
                        </div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.fullname, new { @class = "form-control", id = "fullname", placeholder = "Full Name", required = "required", title = "Full Name. Example: Rafael Cabrera" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.homephone, new { @class = "form-control", placeholder = "Home Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Home Telephone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.cellphone, new { @class = "form-control", id = "mobile", placeholder = "Cell Phone", type = "tel", maxlength = "12", required = "required", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Cellphone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.emailid, new { @class = "form-control", id = "email", placeholder = "E-mail", type = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.street, new { @class = "form-control", id = "street", placeholder = "Mailing Street Address", title = "Mailing Street Address. Example: 480, 39th Street" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.zip, new { @class = "form-control", id = "zip", type = "tel", maxlength = "5", placeholder = "Mailing Zip Code", title = "Mailing Zip Code (Example: 11220)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-o "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.state, GoNyLaw.Helpers.DropDownData.states, "Mailing State", new { @class = "form-control", id = "state", title = "Choose Your Mailing State" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.city, new { @class = "form-control", id = "city", placeholder = "Mailing City", title = "Mailing City (Example: Brooklyn)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-language"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.langpref, GoNyLaw.Helpers.DropDownData.language, "Preferred Language", new { @class = "form-control", id = "preflang", required = "required", title = "Choose Preferred Language For Emails and Text SMS" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.initialinterest, GoNyLaw.Helpers.DropDownData.interest, "Interested in", new { @class = "form-control", required = "required", title = "Choose the area of Interest" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Register" style="background-color: #d43f3a" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBy5qsDxIq04Uy2p7dMI9UWGaq1Il7G0UM"></script>
    <script src="~/Scripts/signup.js" type="text/javascript"></script>
    }