﻿@model GoNyLaw.Models.Client
@{
    Layout = null;
    ViewBag.Title = "GoNyLaw : User SignIn";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="GoNyLaw Provides Legal Services.">
    <meta name="keywords" content="gonylaw,lawyer brooklyn,attorney brooklyn,legal service brooklyn,divorce brooklyn">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/fontawesome")
    <link href="~/Content/nifty.min.css" rel="stylesheet" />
    <link href="~/Content/loginstyle.css" rel="stylesheet" />
    <link href="~/Content/homepage.min.css" rel="stylesheet" />
    <style>
        #bg-overlay {
            position: absolute;
            z-index: 1;
        }

        .brand {
            position: relative;
            z-index: 3;
            color: #fed136 !important;
            font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 25px;
            line-height: 20px;
            background-color: transparent;
            cursor: pointer;
        }

        .cls-content {
            position: relative;
            z-index: 2;
        }

        @@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
            .g-recaptcha {
                transform: scale(0.60);
                -webkit-transform: scale(0.60);
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
            }
        }
    </style>
    <script src='//www.google.com/recaptcha/api.js'></script>
</head>
<body id="login-page">
    <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
    </div>
    <div id="container" class="cls-container">
        <div id="bg-overlay" class="bg-img img-balloon"></div>
        <a class="brand text-center" href="~/">GoNyLaw</a>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
            @Html.AntiForgeryToken()
            <div class="cls-content ">
                <div class="cls-content-lg panel login-box">
                    <div class="panel-heading  ">
                        <h2>
                            <i class="fa fa-file-text-o"></i><b>Sign In</b>
                        </h2>
                    </div>
                    <div>
                        <div class="panel-body">
                            <div class="row">
                                @if (ViewBag.message1 != null)
                                {
                                    if (ViewBag.message1 == "Error!")
                                    {
                                        <div class="alert alert-danger">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>@ViewBag.message1</strong> @ViewBag.message2
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-success">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>@ViewBag.message1</strong> @ViewBag.message2
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row" id="3" style="display: none;">
                                <div class="alert alert-danger">
                                    <strong>Ahh!</strong> You need to complete <span id="err"></span> human verification.
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group login-inner-box">
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-user "></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.TextBoxFor(m => m.emailid, new { @class = "form-control", id = "email", placeholder = "E-mail", type = "email", required = "required", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Example: rafaelcabrera@gmail.com" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group login-inner-box">
                                    <div class="input-group">
                                        <div class="input-group-addon ">
                                            <i class="fa fa-key "></i>
                                        </div>
                                        <div class="login-model">
                                            @Html.TextBoxFor(m => m.password, new { @class = "form-control", id = "password1", placeholder = "Password", type = "password", required = "required", title = "Enter your password." })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group login-inner-box">
                                    <div class="input-group" style="margin-left:5%;">
                                        <div class="g-recaptcha" data-sitekey="6LecIRIUAAAAALUdOw-GwZMaYWaeRBYaikW-BXGs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Sign In" style="background-color: #d43f3a" />
                        </div>
                    </div>
                </div>
                <div class="pad-ver ns-growl">
                    Don't have an account ? <a href="~/Home/SignUp" class="btn-link mar-rgt">Sign Up</a>
                </div>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/bootstrapjs")
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nifty.min.js"></script>
    <script src="~/Scripts/bg-images.js"></script>
    <script>
        $(document).ready(function () {
            if ('@Model.recaptcha' == 'F') {
                $('#3').show();
            }
            var loginmsg = "@ViewBag.message1";
            if (loginmsg == "Success!") {
                $('.g-recaptcha').hide();
                $('input').attr("disabled", "disabled");
                $('.cssload-loader').show();
                setTimeout(function () {
                    window.location.href = "/Home/SignIn";
                }, 2000);
            }
        });
    </script>
</body>
</html>
