﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="GoNyLaw provides Legal Services. We assist you in your legal matters.">
    <meta name="keywords" content="gonylaw, lawyer, new york, brooklyn, divorce, bankruptcy, attorney">
    <title>GoNyLaw : Home Page</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/fontawesome")
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/FAQ.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/homepage.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GoNyLaw</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactus">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#privacy">Privacy</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/Civil/LandingPage">Civil</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/Criminal/LandingPage">Criminal</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <p style="color:white;font-weight:600;text-align:justify">Thanks for the Submission. We will get back to you at the Preferred Time Slot.</p>
            </div>
        </div>
    </header>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; GoNyLaw.com Inc. @DateTime.Now.Year</span>
                </div>
                @*<div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>*@
                <div class="col-md-4">
                    <img class="img-responsive col-md-offset-3" width="200" height="32" src="~/Images/creditcardlogo.jpg" />
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <span id="siteseal">
                    <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=p23vq7QulAxc8v6MO0Xt8HIlmQu9NkZ7GwgABT105KKGq3oxKgs5Kpqa0jAD"></script>
                </span>
            </div>
            <div class="col-md-4">
                <img class="img-responsive col-md-offset-5" width="60" height="60" src="~/Images/authorize_net_verified.gif" title="This is a temporary UNVERIFIED seal. It would be replaced with a genuine seal once we get an account." />
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/jqueryeasing")
    <script src="~/Scripts/jqBootstrapValidation.min.js"></script>
    <script src="~/Scripts/FAQ.min.js"></script>
    <script src="~/Scripts/jquery.sticky.min.js"></script>
    <script src="~/Scripts/homepage.min.js"></script>
</body>
</html>
