﻿@model GoNyLaw.Models.Client
@{
    ViewBag.Title = "User New Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Setup a New Password For Your Account
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-key "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.password, new { @class = "form-control", id = "password1", placeholder = "Password", type = "password", required = "required", pattern = "^(?=.*\\d)(?=.*[a-zA-Z]).{6,12}$", title = "Password must contain 6-12 characters and at least One Number, One Letter\nEg: computer123" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-asterisk "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.confirmpassword, new { @class = "form-control", id = "password2", placeholder = "Re-enter Password", type = "password", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Done" style="background-color: #d43f3a" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script src="~/Scripts/passwordmatch.js" type="text/javascript"></script>
}
