﻿@using GoNyLaw.Helpers
@using GoNyLaw.Models
@using System.Globalization
@{
    ViewBag.Title = "View Cases";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    CaseContext db = new CaseContext();
    int id = ViewBag.id;
    List<CriminalCase> cc = db.CriminalCases.Where(x => x.clientid == id).ToList();
    List<BankruptcyCase> bc = db.BankruptcyCases.Where(x => x.clientid == id).ToList();
    List<ImmigrationCase> ic = db.ImmigrationCases.Where(x => x.clientid == id).ToList();
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/caseslist.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }

    .event-list > li > time.b {
        background-color: #27276b;
    }

    .event-list > li:nth-child(even) > time.b {
        background-color: #6c6cef;
    }

    .event-list > li > time.i {
        background-color: #2b7a24;
    }

    .event-list > li:nth-child(even) > time.i {
        background-color: #3e9c31;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>All Cases</b></h1>
</div>
@if (!object.ReferenceEquals(cc, null))
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Criminal Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in cc)
                                            {
                                                CriminalAction ca = new ActionContext().CriminalActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                                string date1 = "";
                                                if (!object.ReferenceEquals(ca, null))
                                                {
                                                    if (ca.nextcourtdate != null)
                                                    {
                                                        date1 = ca.nextcourtdate.ApplyDateCorrection();
                                                    }
                                                    else
                                                    {
                                                        date1 = "Not Entered";
                                                    }
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                            <li>
                                                <time datetime="@item.dateregister.Date">
                                                    <span class="refno">@item.refno</span>
                                                    <span class="day">@item.dateregister.Day</span>
                                                    <span class="month">@item.dateregister.ToString("MMM")</span>
                                                    <span class="year">@item.dateregister.Year</span>
                                                    <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                                    <span class="doa"><b>DOA -</b> <i>@item.dateofarrest.ApplyDateCorrection()</i></span>
                                                </time>
                                                <div class="info">
                                                    <p class="desc"><b>Full Name:</b> <i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().IndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().IndexOf(' '))</i></p>
                                                    <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>
                                                    <p class="desc">
                                                        <b>
                                                            @if (item.docketorindex == "I")
                                                                {
                                                                @: Ind. #:
                                                            }
                                                                else if (item.docketorindex == "D")
                                                                {
                                                                @: Docket #:
                                                            }
                                                                else
                                                                {
                                                                @: Docket/Ind. #:
                                                            }
                                                        </b>
                                                        <i>@item.docketorindexnumber.Decrypt()</i>
                                                    </p>
                                                    <p class="desc"><b>Court:</b> <i>@item.court.ToCourtName()</i> <b>County:</b> <i>@item.county.ToCountyName()</i></p>
                                                    @if (!string.IsNullOrEmpty(item.ada4))
                                                        {
                                                        <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada4.Decrypt()</a> (@item.adaphone4.Decrypt())</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.ada3))
                                                        {
                                                        <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada3.Decrypt()</a> (@item.adaphone3.Decrypt())</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.ada2))
                                                        {
                                                        <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada2.Decrypt()</a> (@item.adaphone2.Decrypt())</i></p>
                                                        }
                                                        else
                                                        {
                                                        <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada1.Decrypt()</a> (@item.adaphone1.Decrypt())</i></p>
                                                        }
                                                    @if (!string.IsNullOrEmpty(item.judge4))
                                                        {
                                                        <p class="desc"><b>Judge:</b> <i>@item.judge4.Decrypt()</i> <b>Part:</b> <i>@item.part4.Decrypt()</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.judge3))
                                                        {
                                                        <p class="desc"><b>Judge:</b> <i>@item.judge3.Decrypt()</i> <b>Part:</b> <i>@item.part3.Decrypt()</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.judge2))
                                                        {
                                                        <p class="desc"><b>Judge:</b> <i>@item.judge2.Decrypt()</i> <b>Part:</b> <i>@item.part2.Decrypt()</i></p>
                                                        }
                                                        else
                                                        {
                                                        <p class="desc"><b>Judge:</b> <i>@item.judge1.Decrypt()</i> <b>Part:</b> <i>@item.part1.Decrypt()</i></p>
                                                        }
                                                    <p class="desc"><b>Next Court Date:</b> <i>@date1</i> &nbsp;&nbsp;&nbsp;<b class="ui-tooltip" style="color:blue;cursor:pointer;margin-left:10px;" data-html="true" title="Def.- @item.motion.ApplyDateCorrection()<br>Ptr.- @item.ptr.ApplyDateCorrection()<br>Dec.- @item.dec.ApplyDateCorrection()">MOTIONS</b> <b class="ui-tooltip" style="color:blue;cursor:pointer;margin-left:10px;" data-html="true" title="Mapp- @item.mapp.ApplyDateCorrection()<br>Wade- @item.wade.ApplyDateCorrection()<br>Huntley- @item.huntley.ApplyDateCorrection()<br>Dunaway- @item.dunaway.ApplyDateCorrection()<br>Other- @item.other.ApplyDateCorrection()">ORDERS</b></p>
                                                </div>
                                                <div class="social">
                                                    <ul>
                                                        <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" style="margin-left:-5px;" /><img class="ui-tooltip legal" width="25" height="20" title="Legal Proceedings" src="~/Images/legal.png" style="margin-left:-7px;" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" /><img class="ui-tooltip miscemail" width="35" height="30" title="Send Email" src="~/Images/email.png" style="margin-left:-5px;" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /></li>
                                                    </ul>
                                                </div>
                                                <form class="formviewtask" action="~/Criminal/AdminViewAssignedTask" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formlegal" action="~/Criminal/SuperAdminCriminalCourtProceedings" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="s" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formedit" action="~/Criminal/CriminalCaseEdit" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formview" action="~/Criminal/CriminalCaseView" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formlogs" action="~/Criminal/CriminalCaseLogs" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formmiscemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="hidden" name="defaultrecepient" value="none" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formclientemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="hidden" name="defaultrecepient" value="client" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formadaemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="hidden" name="defaultrecepient" value="ada" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formclientsms" action="~/Criminal/SendCriminalCaseSMS" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="submit" />
                                                </form>
                                                <form class="formlegal" action="~/Criminal/CriminalCourtProceedings" method="post" target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="refno" value="@item.refno" />
                                                    <input type="hidden" name="type" value="a" />
                                                    <input type="submit" />
                                                </form>
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (!object.ReferenceEquals(bc, null))
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bankruptcy Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in bc)
                                        {
                                            BankruptcyAction ca = new ActionContext().BankruptcyActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                            string date1 = "";
                                            if (!object.ReferenceEquals(ca, null))
                                            {
                                                if (ca.nextcourtdate != null)
                                                {
                                                    date1 = ca.nextcourtdate.ToString("MM/dd/yyyy");
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                            }
                                            else
                                            {
                                                date1 = "Not Entered";
                                            }
                                        <li>
                                            <time class="b" datetime="@item.dateregister.Date">
                                                <span class="refno">@item.refno</span>
                                                <span class="day">@item.dateregister.Day</span>
                                                <span class="month">@item.dateregister.ToString("MMM")</span>
                                                <span class="year">@item.dateregister.Year</span>
                                                <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                            </time>
                                            <div class="info">
                                                <p class="desc"><b>Full Name:</b> <i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().IndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().IndexOf(' '))</i></p>
                                                <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>
                                                <p class="desc" style="width:70%;"><b>Court:</b> <i>@item.court.ToBankruptcyCourtName(), @item.courtaddress.ToBankruptcyCourtAddress()</i></p>
                                                <p class="desc"><b>Court Date:</b> <i>@item.courtdatetime.ApplyDateTimeCorrection()</i></p>
                                                <p class="desc"><b>1st CC Class:</b> <i>@item.dateclass1.ApplyDateCorrection()</i> <b>2nd CC Class:</b> <i>@item.dateclass2.ApplyDateCorrection()</i></p>
                                                <p class="desc"><b>Discharge Letter:</b> <i>@item.datedischargeletter.ApplyDateCorrection()</i></p>
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /></li>
                                                </ul>
                                            </div>
                                            <form class="formviewtask" action="~/Bankruptcy/AdminViewAssignedTask" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formedit" action="~/Bankruptcy/BankruptcyCaseEdit" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formview" action="~/Bankruptcy/BankruptcyCaseView" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formlogs" action="~/Bankruptcy/BankruptcyCaseLogs" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formclientemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="hidden" name="defaultrecepient" value="client" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formadaemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="hidden" name="defaultrecepient" value="ada" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formjudgeemail" action="~/Bankruptcy/SendBankruptcyCaseEmail" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="hidden" name="defaultrecepient" value="judge" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formclientsms" action="~/Bankruptcy/SendBankruptcyCaseSMS" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="submit" />
                                            </form>
                                            <form class="formlegal" action="~/Bankruptcy/SuperAdminCriminalCourtProceedings" method="post" target="_blank">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="refno" value="@item.refno" />
                                                <input type="hidden" name="type" value="a" />
                                                <input type="submit" />
                                            </form>
                                        </li>
                                        }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (!object.ReferenceEquals(ic, null))
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Immigration Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in ic)
                                            {
                                                ImmigrationAction ca = new ActionContext().ImmigrationActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                                string date1 = "";
                                                if (!object.ReferenceEquals(ca, null))
                                                {
                                                    if (ca.nextcourtdate != null)
                                                    {
                                                        date1 = ca.nextcourtdate.ToString("MM/dd/yyyy");
                                                    }
                                                    else
                                                    {
                                                        date1 = "Not Entered";
                                                    }
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                                <li>
                                                    <time class="i" datetime="@item.dateregister.Date">
                                                        <span class="refno">@item.refno</span>
                                                        <span class="day">@item.dateregister.Day</span>
                                                        <span class="month">@item.dateregister.ToString("MMM")</span>
                                                        <span class="year">@item.dateregister.Year</span>
                                                        <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                                    </time>
                                                    <div class="info">
                                                        <p class="desc"><b>Full Name:</b> <i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().IndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().IndexOf(' '))</i></p>
                                                        <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>

                                                    </div>
                                                    <div class="social">
                                                        <ul>
                                                            <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /></li>
                                                        </ul>
                                                    </div>
                                                    <form class="formviewtask" action="~/Immigration/AdminViewAssignedTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formedit" action="~/Immigration/ImmigrationCaseEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formview" action="~/Immigration/ImmigrationCaseView" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlogs" action="~/Immigration/ImmigrationCaseLogs" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientemail" action="~/Immigration/SendImmigrationCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="client" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formadaemail" action="~/Immigration/SendImmigrationCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="ada" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formjudgeemail" action="~/Immigration/SendImmigrationCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="judge" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientsms" action="~/Immigration/SendImmigrationCaseSMS" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlegal" action="~/Immigration/SuperAdminCriminalCourtProceedings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/cases.js"></script>
}