﻿@using GoNyLaw.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GoNyLaW : @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <!--STYLESHEET-->
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/bundles/bootstrapdatetimepickercss")
    @Styles.Render("~/bundles/niftycss")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/bundles/animatecss")
    @Styles.Render("~/bundles/switcherycss")
    @Styles.Render("~/bundles/bootstrapselectcss")
    @Styles.Render("~/bundles/niftyiconscss")
    @Styles.Render("~/bundles/gonylawcss")
    @Styles.Render("~/bundles/gonylawthemecss")
    @Styles.Render("~/bundles/pacecss")
    @Scripts.Render("~/bundles/pacejs")
    @RenderSection("extracsslinks", required: false)
    @RenderSection("extracss", required: false)
</head>

<body>
    <div id="container" class="effect mainnav-lg">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar" style="position:fixed;">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header">
                    <a href="~/" class="navbar-brand">
                        <div class="brand-title">
                            <span class="brand-text">&nbsp;&nbsp;&nbsp;GoNyLaw</span>
                        </div>
                    </a>
                </div>
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="fa fa-navicon fa-lg fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <img class="img-circle img-user media-object" src="~/Images/profilepic.png" alt="Profile Picture">
                                </span>
                                <div class="username hidden-xs">
                                    @if (!string.IsNullOrEmpty(HttpContext.Current.Request.Cookies["webadminname"].Value))
                                    {
                                    @: @HttpContext.Current.Request.Cookies["webadminname"].Value.Decrypt()<br />
                                    }
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <div class="pad-all bord-btm">
                                    <p class="text-lg text-semibold mar-btm">
                                        @if (LoginPersistence.CheckSuperAdmin())
                                        {
                                           @: Hello Super Admin!
                                        }
                                        else
                                        {
                                           @: Hello Admin!
                                        }
                                    </p>
                                    <p>
                                        @if (!string.IsNullOrEmpty(HttpContext.Current.Request.Cookies["webadmin"].Value))
                                        {
                                        @: @HttpContext.Current.Request.Cookies["webadmin"].Value.Decrypt()<br />
                                        }
                                    </p>
                                </div>
                                <ul class="head-list">
                                    <li>
                                        <a href="#">
                                            <i class="pli-male icon-lg icon-fw"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="pli-gear icon-lg icon-fw"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="pli-information icon-lg icon-fw"></i> Help
                                        </a>
                                    </li>
                                </ul>

                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="~/Home/AdminSignOut" class="btn btn-primary">
                                        <i class="pli-unlock"></i> Logout
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->

                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    @RenderBody()
                </div>
                <!--===================================================-->
                <!--End page content-->
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container" style="position:fixed;">
                <div id="mainnav">
                    <!--Shortcut buttons-->
                    <!--================================-->
                    <div id="mainnav-shortcut"></div>
                    <!--================================-->
                    <!--End shortcut buttons-->
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">
                                    <!--Menu list item-->
                                    <li>
                                        <a href="~/Home/AdminLandingPage">
                                            <i class="psi-home"></i>
                                            <span class="menu-title">
                                                <strong>Dashboard</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <!--Category name-->
                                    <li class="list-header">User Management</li>
                                    <!--Menu list item-->
                                    @if (LoginPersistence.CheckSuperAdmin())
                                    {
                                        <li>
                                            <a href="~/Home/ManageAdmins">
                                                <i class="fa fa-key"></i>
                                                <span class="menu-title">
                                                    <strong>Admins</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a href="~/Home/ManageClients">
                                            <i class="fa fa-users"></i>
                                            <span class="menu-title">
                                                <strong>Clients</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/ManagePotentialClients">
                                            <i class="fa fa-users"></i>
                                            <span class="menu-title">
                                                <strong>Potential Clients</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li class="list-header">Case Management</li>
                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file"></i>
                                            <span class="menu-title">
                                                <strong>My Active Cases</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <ul class="collapse">
                                            <li><a href="~/Criminal/AdminCriminalCasesList">Criminal</a></li>
                                            <li><a href="~/Divorce/DivorceMain">Divorces</a></li>
                                            <li><a href="~/Bankruptcy/AdminBankruptcyCasesList">Bankruptcy</a></li>
                                            <li><a href="~/Immigration/AdminImmigrationCasesList">Immigration</a></li>
                                            <li><a href="~/PersonalInjury/AdminPersonalInjuryList">Personal Injury</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file-zip-o"></i>
                                            <span class="menu-title">
                                                <strong>My Archived Cases</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <ul class="collapse">
                                            <li><a href="~/Criminal/AdminArchivedCriminalCasesList">Criminal</a></li>
                                            <li><a href="~/Bankruptcy/AdminArchivedBankruptcyCasesList">Bankruptcy</a></li>
                                            <li><a href="~/Immigration/AdminArchivedImmigrationCasesList">Immigration</a></li>
                                            <li><a href="~/PersonalInjury/AdminArchivedPersonalInjuryList">Personal Injury</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file"></i>
                                            <span class="menu-title">
                                                <strong>All Active Cases</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <ul class="collapse">
                                            <li><a href="~/Criminal/SuperAdminCriminalCasesList">Criminal</a></li>
                                            <li><a href="~/Bankruptcy/SuperAdminBankruptcyCasesList">Bankruptcy</a></li>
                                            <li><a href="~/Immigration/SuperAdminImmigrationCasesList">Immigration</a></li>
                                            <li><a href="~/PersonalInjury/SuperAdminPersonalInjuryList">Personal Injury</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file-zip-o"></i>
                                            <span class="menu-title">
                                                <strong>All Archived Cases</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <ul class="collapse">
                                            <li><a href="~/Criminal/SuperAdminArchivedCriminalCasesList">Criminal</a></li>
                                            <li><a href="~/Bankruptcy/SuperAdminArchivedBankruptcyCasesList">Bankruptcy</a></li>
                                            <li><a href="~/Immigration/SuperAdminArchivedImmigrationCasesList">Immigration</a></li>
                                            <li><a href="~/PersonalInjury/SuperAdminArchivedPersonalInjuryList">Personal Injury</a></li>
                                        </ul>
                                    </li>
                                    <li class="list-header">Task & Log Management</li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-wrench"></i>
                                            <span class="menu-title">
                                                <strong>My Tasks</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <ul class="collapse">
                                            <li><a href="~/Criminal/MyTaskList">Criminal</a></li>
                                            <li><a href="~/Bankruptcy/MyTaskList">Bankruptcy</a></li>
                                            <li><a href="~/Immigration/MyTaskList">Immigration</a></li>
                                            <li><a href="~/PersonalInjury/MyTaskList">Personal Injury</a></li>
                                        </ul>
                                    </li>
                                    @if (LoginPersistence.CheckSuperAdmin())
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-wrench"></i>
                                                <span class="menu-title">
                                                    <strong>All Tasks</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="~/Criminal/AllTaskList">Criminal</a></li>
                                                <li><a href="~/Bankruptcy/AllTaskList">Bankruptcy</a></li>
                                                <li><a href="~/Immigration/AllTaskList">Immigration</a></li>
                                                <li><a href="~/PersonalInjury/AllTaskList">Personal Injury</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-history"></i>
                                                <span class="menu-title">
                                                    <strong>All Logs</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="~/Criminal/AllCriminalCaseLogs">Criminal</a></li>
                                                <li><a href="~/Bankruptcy/AllBankruptcyCaseLogs">Bankruptcy</a></li>
                                                <li><a href="~/Immigration/AllBankruptcyCaseLogs">Immigration</a></li>
                                                <li><a href="~/PersonalInjury/AllPersonalInjuryLogs">Personal Injury</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-money"></i>
                                                <span class="menu-title">
                                                    <strong>Accounting</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="~/Home/MasterAccount">Master Account</a></li>
                                                <li><a href="~/Home/SubAccounts">Sub Accounts</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
        </div>



        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">
            <div class="hide-fixed pull-right pad-rgt">Currently v2.0 Beta</div>
            <p class="pad-lft">&#0169; @DateTime.Now.Year GoNyLaw</p>
        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!-- SETTINGS - DEMO PURPOSE ONLY -->
    <!--===================================================-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/fastclickjs")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/momentjs")
    @Scripts.Render("~/bundles/bootstrapdatetimepickerjs")
    @Scripts.Render("~/bundles/niftyjs")
    @Scripts.Render("~/bundles/sparklinejs")
    @Scripts.Render("~/bundles/skyconsjs")
    @Scripts.Render("~/bundles/switcheryjs")
    @Scripts.Render("~/bundles/bootstrapselectjs")
    @Scripts.Render("~/bundles/gonylawjs")
    @Scripts.Render("~/bundles/dashboardjs")
    @RenderSection("extrajslinks", required: false)
    @RenderSection("extrajs", required: false)
</body>
</html>
