﻿@using goezlaw.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GoEzLaW : @ViewBag.Title</title>
    <link href="~/Images/logo.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/fontawesome")
    @Styles.Render("~/bundles/bootstrapdatetimepickercss")
    <link href="~/Content/nifty.min.css" rel="stylesheet">
    <link href="~/Content/index.css" rel="stylesheet" />
    @RenderSection("extracsslinks", required: false)
    @RenderSection("extracss", required: false)
    <style type="text/css">
        #dvPreview {
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
            display: none;
        }

        input:not([type='button']):not([type='submit']), select, option {
            color: #0070c0 !important;
            font-weight: 600;
        }
    </style>
</head>
<body data-IsFirstTime="False">
    <div id="container" class="effect mainnav-lg">
        <div class="boxed">
            <div id="content-container" class="content-container" style="padding-top: 0;">
                <div id="page-content" class="home-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="hide-fixed pull-right pad-rgt">Currently v1.0</div>
            <p class="pad-lft">&#0169; @DateTime.Now.Year GoEzLaw</p>
        </footer>
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/fastclickjs")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/momentjs")
    @Scripts.Render("~/bundles/bootstrapdatetimepickerjs")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/nifty.min.js"></script>
    <script src="~/Scripts/userlayout.js"></script>
    @RenderSection("extrajslinks", required: false)
    @RenderSection("extrajs", required: false)
    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-93875700-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
