﻿@using GoNyLaw.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GoNyLaw : @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    @Styles.Render("~/Content/bootstrapcss")
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="~/Content/nifty.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/customtheme.css" />
    <link href="~/Content/homepage.min.css" rel="stylesheet" />
    @RenderSection("extracsslinks", required: false)
    @RenderSection("extracss", required: false)
    <style type="text/css">
        #dvPreview {
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
            display: none;
        }

        .brand {
            color: #fed136 !important;
            font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 25px;
            line-height: 20px;
            background-color: transparent;
            cursor: pointer;
        }
    </style>
</head>
<body data-academyid="" data-IsFirstTime="False">
    <div id="container" class="effect mainnav-lg">
        <header id="navbar" style="position: fixed">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand page-scroll brand" href="~/">GoNyLaw</a>
                </div>
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="fa fa-navicon fa-lg fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li id="dropdown-user" class="dropdown">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    @GoNyLaw.Helpers.LoginPersistence.GetUser().Decrypt()
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="~/Home/SignOut">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="boxed">
            <div id="content-container" class="content-container" style="padding-top: 0;">
                <div id="page-content" class="home-content">
                    @RenderBody()
                </div>
            </div>
            <nav id="mainnav-container" style="position:fixed;">
                <div id="mainnav">
                    <div id="mainnav-shortcut">
                    </div>
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content" style="font-size:1.2em">
                                <ul id="mainnav-menu" class="list-group">
                                    <li class="list-header"></li>
                                    <li>
                                        <a href="~/Home/LandingPage">
                                            <i class="fa fa-dashboard"></i>
                                            <span class="menu-title">
                                                <strong>Home</strong>
                                                <i class="arrow"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/PersonalInfo">
                                            <i class="fa fa-info-circle"></i>
                                            <span class="menu-title">
                                                <strong>Personal Info</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/ViewPayments">
                                            <i class="fa fa-credit-card"></i>
                                            <span class="menu-title">Payment Info</span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Communications">
                                            <i class="fa fa-mail-forward"></i>
                                            <span class="menu-title">Communications</span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/CreditBureaus" target="_blank">
                                            <i class="fa fa-credit-card"></i>
                                            <span class="menu-title">Credit Monitoring Companies</span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://rebuildcreditscores.com/easy-approval-credit-cards-unsecured.html" target="_blank">
                                            <i class="fa fa-credit-card"></i>
                                            <span class="menu-title">Easy Approval Credit Card</span>
                                            <i class="arrow"></i>
                                        </a>
                                    </li>
                                    <li class="list-divider"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <footer id="footer">
            <div class="hide-fixed pull-right pad-rgt">Currently v1.0 Beta</div>
            <p class="pad-lft">&#0169; @DateTime.Now.Year GoNyLaw</p>
        </footer>
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/respondjs")
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nifty.min.js"></script>
    @RenderSection("extrajslinks", required: false)
    @RenderSection("extrajs", required: false)
</body>
</html>

