﻿@{
    Layout = null;
    ViewBag.Title = "GoNyLaw : Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="GoNyLaw Provides Legal Services.">
    <meta name="keywords" content="gonylaw,lawyer brooklyn,attorney brooklyn,legal service brooklyn,divorce brooklyn">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/fontawesome")
    <link href="~/Content/nifty.min.css" rel="stylesheet" />
    <link href="~/Content/loginstyle.css" rel="stylesheet" />
    <link href="~/Content/homepage.min.css" rel="stylesheet" />
    <style>
        #bg-overlay {
            position: absolute;
            z-index: 1;
        }

        .brand {
            position: relative;
            z-index: 3;
            color: #fed136 !important;
            font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 25px;
            line-height: 20px;
            background-color: transparent;
            cursor: pointer;
        }

        .cls-content {
            position: relative;
            z-index: 2;
        }

        .hlink {
            font-weight: 600;
            color: darkblue !important;
            text-decoration: underline;
        }
    </style>
</head>
<body id="login-page">
    <div id="container" class="cls-container">
        <div id="bg-overlay" class="bg-img img-balloon"></div>
        <a class="brand text-center" href="~/">GoEzCredit</a>
        <div class="cls-content ">
            <div class="cls-content-lg panel login-box">
                <div class="panel-heading  ">
                    <h1>
                        <i class="fa fa-file-text-o" style="color:red"></i><b style="color:red">Error !!!</b>
                    </h1>
                </div>
                <div class="panel-body">
                    <p><i>An Error has occured. Please call <a href="tel:718-439-3600" class="hlink">718-439-3600</a> for help or mail us at <a href="mailto:info@gonylaw.com" class="hlink">info@gonylaw.com</a> with the error details.</i></p>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/bootstrapjs")
    <script src="~/Scripts/fastclick.min.js"></script>
    <script src="~/Scripts/nifty.min.js"></script>
    <script src="~/Scripts/bg-images.js"></script>
</body>
</html>
