﻿@model IEnumerable<GoNyLaw.Models.CriminalCase>
@using GoNyLaw.Helpers
@using GoNyLaw.Models
@using System.Globalization
@{
    ViewBag.Title = "View Cases";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracss{
    <link rel="stylesheet" type="text/css" href="~/Content/caseslist.css" />
}
<style>
    h2 {
        text-align: center;
    }

    table caption {
        padding: .5em 0;
    }

    @@media screen and (max-width: 767px) {
        table caption {
            border-bottom: 1px solid #ddd;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .inline {
        padding: 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        width: 100% !important;
    }

    input:not(.visible) {
        display: none;
    }
</style>
<div id="page-title" style="padding-left: 10%">
    <h1 class="page-header text-overflow"><b>Criminal Cases</b></h1>
</div>
@if (LoginPersistence.CheckSuperAdmin())
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Criminal Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in Model)
                                            {
                                                CriminalAction ca = new ActionContext().CriminalActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                                string date1 = "";
                                                if (!object.ReferenceEquals(ca, null))
                                                {
                                                    if (ca.nextcourtdate != null)
                                                    {
                                                        date1 = ca.nextcourtdate.ApplyDateCorrection();
                                                    }
                                                    else
                                                    {
                                                        date1 = "Not Entered";
                                                    }
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                                <li>
                                                    <time datetime="@item.dateregister.Date">
                                                        <span class="refno">@item.refno</span>
                                                        <span class="day">@item.dateregister.Day</span>
                                                        <span class="month">@item.dateregister.ToString("MMM")</span>
                                                        <span class="year">@item.dateregister.Year</span>
                                                        <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                                        <span class="doa"><b>DOA -</b> <i>@item.dateofarrest.ApplyDateCorrection()</i></span>
                                                    </time>
                                                    <div class="info">
                                                        <h3 class="title"><i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().LastIndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().LastIndexOf(' '))</i></h3>
                                                        <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>
                                                        <p class="desc">
                                                            <b>
                                                                @if (item.docketorindex == "I")
                                                                {
                                                                    @: Ind. #:
                                                            }
                                                                else if (item.docketorindex == "D")
                                                                {
                                                                    @: Docket #:
                                                            }
                                                                else
                                                                {
                                                                    @: Docket/Ind. #:
                                                            }
                                                            </b>
                                                            <i>@item.docketorindexnumber.Decrypt()</i>
                                                        </p>
                                                        <p class="desc"><b>Court:</b> <i>@item.court.ToCourtName()</i> <b>County:</b> <i>@item.county.ToCountyName()</i></p>
                                                        @if (!string.IsNullOrEmpty(item.ada4))
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada4.Decrypt()</a> (@item.adaphone4.Decrypt())</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.ada3))
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada3.Decrypt()</a> (@item.adaphone3.Decrypt())</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.ada2))
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada2.Decrypt()</a> (@item.adaphone2.Decrypt())</i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada1.Decrypt()</a> (@item.adaphone1.Decrypt())</i></p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.judge4))
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge4.Decrypt()</i> <b>Part:</b> <i>@item.part4.Decrypt()</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.judge3))
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge3.Decrypt()</i> <b>Part:</b> <i>@item.part3.Decrypt()</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.judge2))
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge2.Decrypt()</i> <b>Part:</b> <i>@item.part2.Decrypt()</i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge1.Decrypt()</i> <b>Part:</b> <i>@item.part1.Decrypt()</i></p>
                                                        }
                                                        <p class="desc"><b>Next Court Date:</b> <i>@date1</i> &nbsp;&nbsp;&nbsp;<b class="ui-tooltip" style="color:blue;cursor:pointer;margin-left:10px;" data-html="true" title="Def.- @item.motion.ApplyDateCorrection()<br>Ptr.- @item.ptr.ApplyDateCorrection()<br>Dec.- @item.dec.ApplyDateCorrection()">MOTIONS</b> <b class="ui-tooltip" style="color:blue;cursor:pointer;margin-left:10px;" data-html="true" title="Mapp- @item.mapp.ApplyDateCorrection()<br>Wade- @item.wade.ApplyDateCorrection()<br>Huntley- @item.huntley.ApplyDateCorrection()<br>Dunaway- @item.dunaway.ApplyDateCorrection()<br>Other- @item.other.ApplyDateCorrection()">ORDERS</b></p>
                                                    </div>
                                                    <div class="social">
                                                        <ul>
                                                            <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" style="margin-left:-5px;" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" style="margin-left:-5px;" /><img class="ui-tooltip miscemail" width="35" height="30" title="Send Email" src="~/Images/email.png" style="margin-left:-5px;" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /><img class="ui-tooltip task" width="25" height="20" title="Create Task" src="~/Images/task.png" /><img class="ui-tooltip legal" width="25" height="20" title="Legal Proceedings" src="~/Images/legal.png" /><img class="ui-tooltip upayment" width="25" height="20" title="Update Payment" src="~/Images/updatepayment.png" /><img class="ui-tooltip vpayment" width="25" height="20" title="View Payment" src="~/Images/viewpayment.png" /><img class="ui-tooltip delete" width="25" height="20" title="Delete Case" src="~/Images/delete.png" /></li>
                                                        </ul>
                                                    </div>
                                                    <form class="formviewtask" action="~/Criminal/AdminViewAssignedTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formedit" action="~/Criminal/CriminalCaseEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formview" action="~/Criminal/CriminalCaseView" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formvpayment" action="~/Criminal/ViewPayment" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formupayment" action="~/Criminal/UpdatePayment" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlogs" action="~/Criminal/CriminalCaseLogs" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formmiscemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="hidden" name="defaultrecepient" value="none" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="hidden" name="defaultrecepient" value="client" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formadaemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="hidden" name="defaultrecepient" value="ada" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientsms" action="~/Criminal/SendCriminalCaseSMS" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formtask" action="~/Criminal/SuperAdminCriminalCreateTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="adminsassigned" value="@item.adminsassigned" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlegal" action="~/Criminal/CriminalCourtProceedings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formdel" action="~/Criminal/CaseDelete" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="cid" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel">
                <div class="panel bg-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Criminal Cases
                        </h3>
                    </div>
                </div>
                <div class="cls-content">
                    <div class="cls-content-lg">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" style="margin-top:-90px;">
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-7 col-md-pull-2">
                                        <ul class="event-list">
                                            @foreach (var item in Model)
                                            {
                                                CriminalAction ca = new ActionContext().CriminalActions.Where(x => x.refno == item.refno).OrderByDescending(x => x.dateaction).FirstOrDefault();
                                                string date1 = "";
                                                if (!object.ReferenceEquals(ca, null))
                                                {
                                                    if (ca.nextcourtdate != null)
                                                    {
                                                        date1 = ca.nextcourtdate.ApplyDateCorrection();
                                                    }
                                                    else
                                                    {
                                                        date1 = "Not Entered";
                                                    }
                                                }
                                                else
                                                {
                                                    date1 = "Not Entered";
                                                }
                                                <li>
                                                    <time datetime="@item.dateregister.Date">
                                                        <span class="refno">@item.refno</span>
                                                        <span class="day">@item.dateregister.Day</span>
                                                        <span class="month">@item.dateregister.ToString("MMM")</span>
                                                        <span class="year">@item.dateregister.Year</span>
                                                        <span class="mobile"><i class="fa fa-mobile-phone"></i> - <i><a class="clientsms" href="#" style="text-decoration:underline;color:white">@item.cellphone.Decrypt()</a></i></span>
                                                        <span class="doa"><b>DOA -</b> <i>@item.dateofarrest.ApplyDateCorrection()</i></span>
                                                    </time>
                                                    <div class="info">
                                                        <h3 class="title"><i>@item.fullname.Decrypt().Substring(item.fullname.Decrypt().LastIndexOf(' ') + 1), @item.fullname.Decrypt().Substring(0, item.fullname.Decrypt().LastIndexOf(' '))</i></h3>
                                                        <p class="desc"><b>Email Id:</b> <i><a class="clientemail" href="#" style="color:darkblue;text-decoration:underline;">@item.emailid.Decrypt()</a></i></p>
                                                        <p class="desc">
                                                            <b>
                                                                @if (item.docketorindex == "I")
                                                                {
                                                                    @: Ind. #:
                                                            }
                                                                else if (item.docketorindex == "D")
                                                                {
                                                                    @: Docket #:
                                                            }
                                                                else
                                                                {
                                                                    @: Docket/Ind. #:
                                                            }
                                                            </b>
                                                            <i>@item.docketorindexnumber.Decrypt()</i>
                                                        </p>
                                                        <p class="desc"><b>Court:</b> <i>@item.court.ToCourtName()</i> <b>County:</b> <i>@item.county.ToCountyName()</i></p>
                                                        @if (!string.IsNullOrEmpty(item.ada4))
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada4.Decrypt()</a> (@item.adaphone4.Decrypt())</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.ada3))
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada3.Decrypt()</a> (@item.adaphone3.Decrypt())</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.ada2))
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada2.Decrypt()</a> (@item.adaphone2.Decrypt())</i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc"><b>DA:</b> <i><a class="adaemail" href="#" style="color:darkblue;text-decoration:underline;">@item.ada1.Decrypt()</a> (@item.adaphone1.Decrypt())</i></p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.judge4))
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge4.Decrypt()</i> <b>Part:</b> <i>@item.part4.Decrypt()</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.judge3))
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge3.Decrypt()</i> <b>Part:</b> <i>@item.part3.Decrypt()</i></p>
                                                        }
                                                        else if (!string.IsNullOrEmpty(item.judge2))
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge2.Decrypt()</i> <b>Part:</b> <i>@item.part2.Decrypt()</i></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="desc"><b>Judge:</b> <i>@item.judge1.Decrypt()</i> <b>Part:</b> <i>@item.part1.Decrypt()</i></p>
                                                        }
                                                        <p class="desc"><b>Next Court Date:</b> <i>@date1</i> &nbsp;&nbsp;&nbsp;<b class="ui-tooltip" style="color:blue;cursor:pointer;margin-left:10px;" data-html="true" title="Def.- @item.motion.ApplyDateCorrection()<br>Ptr.- @item.ptr.ApplyDateCorrection()<br>Dec.- @item.dec.ApplyDateCorrection()">MOTIONS</b> <b class="ui-tooltip" style="color:blue;cursor:pointer;margin-left:10px;" data-html="true" title="Mapp- @item.mapp.ApplyDateCorrection()<br>Wade- @item.wade.ApplyDateCorrection()<br>Huntley- @item.huntley.ApplyDateCorrection()<br>Dunaway- @item.dunaway.ApplyDateCorrection()<br>Other- @item.other.ApplyDateCorrection()">ORDERS</b></p>
                                                    </div>
                                                    <div class="social">
                                                        <ul>
                                                            <li class="details"><img class="ui-tooltip edit" width="25" height="20" title="Edit Case" src="~/Images/edit.png" /><img class="ui-tooltip view" width="35" height="30" title="View Case" src="~/Images/eye.png" style="margin-left:-5px;" /><img class="ui-tooltip legal" width="25" height="20" title="Legal Proceedings" src="~/Images/legal.png" style="margin-left:-7px;" /><img class="ui-tooltip viewtask" width="25" height="20" title="View Assigned Task" src="~/Images/viewtask.png" /><img class="ui-tooltip miscemail" width="35" height="30" title="Send Email" src="~/Images/email.png" style="margin-left:-5px;" /><img class="ui-tooltip logs" width="25" height="20" title="View Logs" src="~/Images/logs.png" style="margin-left:-5px;" /></li>
                                                        </ul>
                                                    </div>
                                                    <form class="formviewtask" action="~/Criminal/AdminViewAssignedTask" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlegal" action="~/Criminal/SuperAdminCriminalCourtProceedings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="s" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formedit" action="~/Criminal/CriminalCaseEdit" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formview" action="~/Criminal/CriminalCaseView" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlogs" action="~/Criminal/CriminalCaseLogs" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formmiscemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="none" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="client" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formadaemail" action="~/Criminal/SendCriminalCaseEmail" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="hidden" name="defaultrecepient" value="ada" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formclientsms" action="~/Criminal/SendCriminalCaseSMS" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                    <form class="formlegal" action="~/Criminal/CriminalCourtProceedings" method="post" target="_blank">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="refno" value="@item.refno" />
                                                        <input type="hidden" name="type" value="a" />
                                                        <input type="submit" />
                                                    </form>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/cases.js"></script>
}