﻿@model GoNyLaw.Models.CriminalCase
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Criminal Case Questionaire";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section extracsslinks{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
}
@section extracss{
    <style>
        .headings:not(:first-child) {
            margin-top:20px;
        }
        .correction{
            margin-top:8px;
        }
    </style>
 }
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Criminal Case For @ViewBag.name (@ViewBag.cid)
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        @using (Html.BeginForm("CriminalCaseQuestionnaireSubmission", "Criminal", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.refno, new { @Value = ViewBag.refno })
                            @Html.HiddenFor(m => m.clientid, new { @Value = ViewBag.cid })
                            @Html.HiddenFor(m => m.adminid, new { @Value = ViewBag.aid })
                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-12 headings">
                                    <b>Client Profile:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.fullname, new { @class = "form-control", Value = ViewBag.name, placeholder = "First Name",  title = "First Name. Example: Rafael" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.alias, new { @class = "form-control", placeholder = "Alias/Other Name", title = "Alias/Other Names Used" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.cellphone, new { @class = "form-control", Value = ViewBag.cellphone, placeholder = "Cell Phone", type = "tel", maxlength = "12",  pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Cellphone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.emailid, new { @class = "form-control", Value = ViewBag.emailid, placeholder = "E-mail", type = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,63}$", title = "Email Id. Example: rafaelcabrera@gmail.com" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contactfullname, new { @class = "form-control", placeholder = "Other Contact Fullname", title = "Other Contact Full Name." })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contactrelationship, new { @class = "form-control", placeholder = "Other Contact Relationship", title = "Other Contact Relationship. Example: Wife" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.contacttelephone, new { @class = "form-control", placeholder = "Other Contact Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "Other Contact Telephone Number. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Address:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-home "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.street, new { @class = "form-control", Value = ViewBag.street, placeholder = "Mailing Street Address", title = "Mailing Street Address. Example: 480, 39th Street" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-circle-thin "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.city, new { @class = "form-control", Value = ViewBag.city, placeholder = "Mailing City", title = "Mailing City (Example: Brooklyn)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.zip, new { @class = "form-control", Value = ViewBag.zip, type = "tel", maxlength = "5", placeholder = "Mailing Zip Code", title = "Mailing Zip Code (Example: 11220)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Court Details:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.court, GoNyLaw.Helpers.DropDownData.court, "Court", new { @class = "form-control",  title = "Choose Court" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.county, GoNyLaw.Helpers.DropDownData.county, "County", new { @class = "form-control",  title = "Choose County" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.courtaddress, GoNyLaw.Helpers.DropDownData.courtaddress, "Court Address", new { @class = "form-control",  title = "Choose Court Address" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-map-signs"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.othercourtaddress, new { @class = "form-control", placeholder = "Enter Court Address", title = "Enter Court's Complete Address." })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sort-numeric-asc"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.docketorindex, GoNyLaw.Helpers.DropDownData.docketorindex, "Docket/Ind.", new { @class = "form-control",  title = "Choose Docket/Ind." })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sort-numeric-desc "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.docketorindexnumber, new { @class = "form-control", placeholder = "Docket/Ind. Number", title = "Docket/Ind. Number" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">DOA</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.dateofarrest, new { @class = "form-control", placeholder = "Date of Arrest",  title = "Date of Arrest. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date datetime">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Arraignment</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.datetimeofarraignment, new { @class = "form-control", placeholder = "Date & time of Arraignment",  title = "Date and time of Arraignment. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.ada1, new { @class = "form-control", placeholder = "ADA #1", title = "ADA #1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaemail1, new { @class = "form-control", placeholder = "Email", title = "ADA #1 Email" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaphone1, new { @class = "form-control", placeholder = "Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "ADA #1 Phone. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.ada2, new { @class = "form-control", placeholder = "ADA #2", title = "ADA #2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaemail2, new { @class = "form-control", placeholder = "Email", title = "ADA #2 Email" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaphone2, new { @class = "form-control", placeholder = "Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "ADA #2 Phone. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.ada3, new { @class = "form-control", placeholder = "ADA #3", title = "ADA #3" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaemail3, new { @class = "form-control", placeholder = "Email", title = "ADA #3 Email" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaphone3, new { @class = "form-control", placeholder = "Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "ADA #3 Phone. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.ada4, new { @class = "form-control", placeholder = "ADA #4", title = "ADA #4" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaemail4, new { @class = "form-control", placeholder = "Email", title = "ADA #4 Email" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone fa-2x "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.adaphone4, new { @class = "form-control", placeholder = "Phone", type = "tel", maxlength = "12", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", title = "ADA #4 Phone. Example: 718-439-3600" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Motion Schedule:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Def.</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.motion, new { @class = "form-control", placeholder = "Def. Motion By",  title = "Def. Motion By. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">PTR.</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.ptr, new { @class = "form-control", placeholder = "PTR",  title = "PTR. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Dec.</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.dec, new { @class = "form-control", placeholder = "Dec",  title = "Dec. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-sort-numeric-asc"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.DropDownListFor(m => m.Openfilediscovery, GoNyLaw.Helpers.DropDownData.yesno, "Discovery By Open File", new { @class = "form-control",  title = "Discovery by Open File Discovery" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.datereceived, new { @class = "form-control", placeholder = "Date Received",  title = "Date Received. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Hearings Ordered:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Mapp.</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.mapp, new { @class = "form-control", placeholder = "Mapp",  title = "Mapp. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Wade.</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.wade, new { @class = "form-control", placeholder = "Wade",  title = "Wade. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Huntley.</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.huntley, new { @class = "form-control", placeholder = "Huntley",  title = "Huntley. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Dunaway</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.dunaway, new { @class = "form-control", placeholder = "Dunaway",  title = "Dunaway. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar">Other</i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.other, new { @class = "form-control", placeholder = "Other",  title = "Other. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 headings">
                                    <b>Judges:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.judge1, new { @class = "form-control", placeholder = "Judge #1 Name", title = "Judge #1 Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.room1, new { @class = "form-control", placeholder = "Room #", title = "Room #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.part1, new { @class = "form-control", placeholder = "Part #", title = "Part #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.judge2, new { @class = "form-control", placeholder = "Judge #2 Name", title = "Judge #1 Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.room2, new { @class = "form-control", placeholder = "Room #", title = "Room #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.part2, new { @class = "form-control", placeholder = "Part #", title = "Part #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.judge3, new { @class = "form-control", placeholder = "Judge #3 Name", title = "Judge #3 Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.room3, new { @class = "form-control", placeholder = "Room #", title = "Room #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.part3, new { @class = "form-control", placeholder = "Part #", title = "Part #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.judge4, new { @class = "form-control", placeholder = "Judge #4 Name", title = "Judge #4 Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.room4, new { @class = "form-control", placeholder = "Room #", title = "Room #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 correction">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock "></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.part4, new { @class = "form-control", placeholder = "Part #", title = "Part #" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                                <div class="panel-footer text-right">
                                    <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Submit" style="background-color: #d43f3a" />
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/criminalcasequestionnaire.js"></script>
}
