﻿@model GoNyLaw.Models.CriminalAction
@using GoNyLaw.Models
@using GoNyLaw.Helpers
@{
    ViewBag.Title = "Court Proceedings";
    if (ViewBag.type == "s")
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@section extracsslinks{
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css" />
}
@section extracss{
    <style>
        .headings:not(:first-child) {
            margin-top: 20px;
        }

        .correction {
            margin-top: 8px;
        }

        .bootstrap-select > .dropdown-toggle {
            height: 41px;
            background: #fff;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Court Proceedings For (@ViewBag.refno)
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        @using (Html.BeginForm("CriminalCourtProceedingsSubmission", "Criminal", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.refno, new { @Value = ViewBag.refno })
                            <div class="row" style="margin-top:-60px;">
                                <div class="col-sm-12 headings">
                                    <b>Details of Event:</b>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date dates">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.dateaction, new { @class = "form-control", placeholder = "Date of Action", title = "Example: MM/DD/YYYY", Value=ViewBag.dateaction })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.part, new { @class = "form-control", placeholder = "Part", title = "Part", Value = ViewBag.part })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.room, new { @class = "form-control", placeholder = "Room", title = "Room", Value=ViewBag.room })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.judge, new { @class = "form-control", placeholder = "Judge", title = "Judge", Value = ViewBag.judge })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-legal"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(m => m.actiontaken, new { @class = "form-control", placeholder = "Action Taken", title = "Action Taken" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group login-inner-box1">
                                        <div class="input-group date datetime">
                                            <div class="input-group-addon ">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="login-model">
                                                @Html.TextBoxFor(x => x.nextcourtdate, new { @class = "form-control", placeholder = "Next Court Date", title = "Next Court Date. Example: MM/DD/YYYY" })
                                            </div>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <input type="submit" id="sbmtBtn" class="btn btn-danger text-uppercase" value="Record" style="background-color: #d43f3a" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/criminalcasequestionnaire.js"></script>
}