﻿@using GoNyLaw.Helpers
@{
    ViewBag.Title = "SendEmailClient";
    if (ViewBag.type == "s")
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@section extracsslinks{
    <link href="~/Content/fileinput.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.min.css" />
}
@section extracss{
    <style>
        .btn-info {
            background-color: #337ab7;
            border-color: #337ab7;
            color: #fff;
        }

        .btn-primary, .btn-primary:hover {
            background-color: darkred;
            border-color: darkred;
            color: #fff;
        }

        .bootstrap-select > .dropdown-toggle {
            height: 41px;
            background: #fff;
        }

        .selectpicker {
            position: relative;
            z-index: 5;
        }

        .htmltextarea,.subject {
            position: relative !important;
            z-index: 1 !important;
        }
    </style>
}
<div class="row" style="margin-top:7%">
    <div id="cover"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Criminal Case For <i><u>@ViewBag.clientname</u> (@ViewBag.refno) - Email</i>
                    </div>
                </div>
            </div>
            <div class="cls-content">
                <div class="cls-content-lg">
                    <div class="panel-body">
                        <div class="row" style="margin-top:-60px;">
                            @using (Html.BeginForm("ProcessCriminalCaseEmail", "Criminal", FormMethod.Post, new { id = "__AntiForgeryForm", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("refno", null,new { @Value = ViewBag.refno })
                                if (ViewBag.defaultrecepient == "none")
                                {
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.DropDownList("recepientsselected", GoNyLaw.Helpers.DropDownData.emailrecepients, new { @class = "form-control selectpicker", id = "recepientsselected", title = "Select Recepients", multiple = "multiple" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Hidden("recepients", new { @id = "recepients" })
                                    </div>
                                }
                                else if (ViewBag.defaultrecepient == "ada")
                                {
                                    @Html.Hidden("recepients", new { @Value="2" })
                                }
                                else
                                {
                                    @Html.Hidden("recepients", new { @Value = "1" })
                                }
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-envelope-square"></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("subject", null, new { @class = "form-control subject", title = "Subject", placeholder = "Subject" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-envelope "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextArea("body", null, new { @class = "form-control htmltextarea", type = "text", id = "body", title = "body", placeholder = "Body", rows = "8" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group login-inner-box1">
                                            <div class="input-group">
                                                <div class="input-group-addon ">
                                                    <i class="fa fa-file "></i>
                                                </div>
                                                <div class="login-model">
                                                    @Html.TextBox("file1", null, new { @class = "form-control", type = "file", id = "attachment1" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-file "></i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("file2", null, new { @class = "form-control", type = "file", id = "attachment2" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-file "></i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("file3", null, new { @class = "form-control", type = "file", id = "attachment3" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-file "></i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("file4", null, new { @class = "form-control", type = "file", id = "attachment4" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group login-inner-box1">
                                                <div class="input-group">
                                                    <div class="input-group-addon ">
                                                        <i class="fa fa-file "></i>
                                                    </div>
                                                    <div class="login-model">
                                                        @Html.TextBox("file5", null, new { @class = "form-control", type = "file", id = "attachment5" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-info btn-lg pull-right sbmtBtn" value="Send" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section extrajslinks{
    <script type="text/javascript" src="~/Scripts/fileinput.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
}
@section extrajs{
    <script>
        $(document).ready(function () {
            $("#attachment1").fileinput({ 'showUpload': false, 'showRemove': false, 'showPreview': false });
            $("#attachment2").fileinput({ 'showUpload': false, 'showRemove': false, 'showPreview': false });
            $("#attachment3").fileinput({ 'showUpload': false, 'showRemove': false, 'showPreview': false });
            $("#attachment4").fileinput({ 'showUpload': false, 'showRemove': false, 'showPreview': false });
            $("#attachment5").fileinput({ 'showUpload': false, 'showRemove': false, 'showPreview': false });
        });
        $('.selectpicker').change(function () {
            $('#recepients').val($(this).val());
        });
    </script>
}

